Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

Update single-page-applications.md Add details to spa implementation, reference basic-spa-example
  website/pages/docs/single-page-applications.md
Labels: none

chore: fix lint-staged pattern
  package.json
Labels: repo

chore: fix lint-staged pattern
  package.json
Labels: repo

chore: format code
  packages/babel-preset-razzle/babel-plugins/amp-attributes.js
  packages/babel-preset-razzle/babel-plugins/commonjs.js
  packages/babel-preset-razzle/babel-plugins/jsx-pragma.js
  packages/babel-preset-razzle/babel-plugins/no-anonymous-default-export.js
  packages/babel-preset-razzle/babel-plugins/optimize-hook-destructuring.js
  packages/babel-preset-razzle/razzle-four-preset.js
  packages/create-razzle-app/lib/index.js
  packages/razzle-dev-utils/resolveRequest.js
  packages/razzle-plugin-elm/index.js
  packages/razzle-plugin-eslint/index.js
  packages/razzle-plugin-inferno/index.js
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-mdx/index.js
  packages/razzle-plugin-php/index.js
  packages/razzle-plugin-scss/index.js
  packages/razzle-plugin-typescript/index.js
  packages/razzle-plugin-vue/index.js
  packages/razzle/config/babel/razzle-babel-loader.js
  packages/razzle/config/createConfig.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/createJestConfig.js
  packages/razzle/config/createRazzleTestConfig.js
  packages/razzle/config/defaultOptions.js
  packages/razzle/config/loadRazzleConfig.js
  packages/razzle/scripts/export.js
Labels: razzle, webpack, plugins

fix: remove amp from preset
  packages/babel-preset-razzle/babel-plugins/amp-attributes.js
  packages/babel-preset-razzle/razzle-four-preset.js
Labels: none

chore: format code
  packages/babel-preset-razzle/README.md
  packages/razzle-dev-utils/FriendlyErrorsPlugin.js
  packages/razzle-dev-utils/README.md
  packages/razzle-dev-utils/printErrors.js
  packages/razzle-plugin-mdx/README.md
  packages/razzle-plugin-scss/README.md
  packages/razzle-plugin-scss/index.js
  packages/razzle/README.md
  packages/razzle/config/createConfig.js
  packages/razzle/config/createJestConfig.js
  packages/razzle/config/razzleDevServer.js
  packages/razzle/scripts/start.js
Labels: razzle, webpack, plugins

feat(razzle): add Yarn PnP support
  packages/babel-preset-razzle/razzle-four-preset.js
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/loadPlugins.js
  packages/razzle/config/loadRazzleConfig.js
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, plugins, repo

feat(razzle): add Yarn PnP support
  packages/babel-preset-razzle/razzle-four-preset.js
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/loadPlugins.js
  packages/razzle/config/loadRazzleConfig.js
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, plugins, repo

docs: add info about options
  website/pages/docs/customization.md
Labels: none

docs(example): add now,json to docs for example
  examples/with-now-v2/README.md
Labels: examples

docs: was used
  website/pages/docs/customization.md
Labels: none

fix: get some default options from package.json
  packages/razzle/config/createRazzleTestConfig.js
  packages/razzle/config/loadRazzleConfig.js
  website/pages/docs/customization.md
Labels: razzle, webpack

fix: respect browserslist
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-scss/index.js
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack, plugins

fix(razzle): make `paths.appPublic` optional
  packages/razzle/scripts/build.js
Labels: razzle, webpack

fix(example): load all client assets
  examples/with-vendor-bundle/src/server.js
Labels: examples

fix(razzle): use copy-webpack-plugin to copy from public dir
  packages/razzle/config/createConfigAsync.js
  packages/razzle/package.json
  packages/razzle/scripts/build.js
  yarn.lock
Labels: razzle, webpack, repo

fix(razzle): use paths
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

feat(razzle): add a option to enable serverless builds
  packages/razzle/config/createConfigAsync.js
  website/pages/docs/customization.md
Labels: razzle, webpack

chore: downgrade dep until razzle 4.0
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

fix(razzle): use correct options for older plugin
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

feat(razzle): add assets-manifest
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

chore: format code
  packages/babel-preset-razzle/razzle-four-preset.js
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-scss/index.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/createRazzleTestConfig.js
  packages/razzle/config/loadPlugins.js
  packages/razzle/config/loadRazzleConfig.js
Labels: razzle, webpack, plugins

chore: prepare canary release
  examples/with-all-experimental/README.md
  examples/with-all-experimental/package.json
  examples/with-react-router/package.json
  packages/create-razzle-app/lib/utils/load-example.js
  packages/razzle/README.md
Labels: examples, razzle, webpack

v3.3.0-canary.0
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(create-razzle-app): fixed a merge conflict
  packages/create-razzle-app/lib/index.js
Labels: none

v3.3.0-canary.1
  lerna.json
  packages/create-razzle-app/package.json
Labels: repo

fix: fix inter-package dependenciees
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/README.md
  packages/razzle/package.json
  scripts/build-docs.js
  yarn.lock
Labels: razzle, webpack, plugins, repo

v3.3.0-canary.2
  lerna.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

chore: update yarn.lock
  yarn.lock
Labels: repo

fix: make tests pass
  packages/create-razzle-app/lib/index.js
  test/tests/razzle-start-spa.test.js
  test/tests/razzle-start.test.js
Labels: none

fix: try fixing tests
  test/fixtures/util.js
  yarn.lock
Labels: repo

fix: try fixing tests
  test/fixtures/util.js
  test/tests/razzle-build.test.js
  test/tests/razzle-start-spa.test.js
  test/tests/razzle-start.test.js
  yarn.lock
Labels: repo

fix: undo replacement that went bad in dev scripts
  packages/razzle/package.json
Labels: razzle, webpack

v3.3.0-canary.3
  lerna.json
  packages/create-razzle-app/package.json
  packages/razzle/package.json
Labels: razzle, webpack, repo

fix: upgrade all the package deps
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

v3.3.0-canary.4
  lerna.json
  packages/razzle/package.json
Labels: razzle, webpack, repo

fix: add back readme that got lost
  packages/razzle/README.md
Labels: razzle, webpack

fix: longer timeout for macos
  .github/workflows/nodejs.yml
Labels: none

fix: bring back old tests
  test/fixtures/util.js
  test/tests/razzle-start-spa.test.js
  test/tests/razzle-start.test.js
Labels: none

fix: no 8.x or 9x node
  .github/workflows/nodejs.yml
Labels: none

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
