Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

chore: upgrade jest
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

feat: add utils to test using yalc
  test/fixtures/util.js
Labels: none

feat: add yalc-publish-all script
  package.json
  scripts/yalc-publish-all.js
  test/fixtures/util.js
Labels: repo

fix(razzle-dev-utils): add missing dep
  packages/razzle-dev-utils/package.json
Labels: none

use symlink when testing examples
  package.json
  test/fixtures/util.js
Labels: repo

dev-infra: allow finch release
  .github/workflows/release.yml
Labels: none

fix: typo
  .github/workflows/release.yml
Labels: none

v4.0.0-finch.0
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix: update docs
  packages/razzle/config/defaultOptions.js
  website/pages/docs/customization.md
Labels: razzle, webpack

fix: update yarn.lock
  yarn.lock
Labels: repo

v4.0.0-finch.1
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

v4.0.0-finch.2
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

dev-infra: dont try to publish finch as stable
  .github/workflows/release.yml
Labels: none

dev-infra: no node 8.x and 9.x on circleci
  .circleci/config.yml
Labels: none

dev-infra: label prs nightly
  .github/workflows/label.yml
Labels: none

dev-infra: add better publishing
  package.json
  scripts/publish-all.js
Labels: repo

dev-infra: run pre command and retag
  package.json
  scripts/publish-all.js
Labels: repo

dev-infra: commit published
  scripts/publish-all.js
Labels: none

fix: don't test for jest version
  packages/razzle/config/createJestConfig.js
Labels: razzle, webpack

fix: bundle everything with serverless buildType
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(create-razzlee-app): use razzle-dev-utils
  packages/create-razzle-app/lib/index.js
Labels: none

dev-infra: run release as before
  package.json
Labels: repo

dev-infra: push to origin in publish-all
  scripts/publish-all.js
Labels: none

fix: some plugin tests were failing
  packages/razzle/config/babel-loader/razzle-babel-loader.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/package.json
Labels: razzle, webpack

add razzle svelte plugin
  .all-contributorsrc
  packages/razzle-plugin-svelte/README.md
  packages/razzle-plugin-svelte/index.js
  packages/razzle-plugin-svelte/package.json
Labels: plugins, repo

feat: add razzle-plugin-svelte
  packages/razzle-plugin-svelte/helpers.js
  packages/razzle-plugin-svelte/index.js
  packages/razzle-plugin-svelte/package.json
  packages/razzle-plugin-svelte/tests/index.test.js
  yarn.lock
Labels: plugins, repo

add GraphQL file loader plugin
  packages/razzle-plugin-graphql/.eslintrc
  packages/razzle-plugin-graphql/README.md
  packages/razzle-plugin-graphql/helpers.js
  packages/razzle-plugin-graphql/index.js
  packages/razzle-plugin-graphql/package-lock.json
  packages/razzle-plugin-graphql/package.json
  packages/razzle-plugin-graphql/tests/index.test.js
Labels: plugins

feat: add razzle-plugin-graphql
  packages/razzle-plugin-graphql/.eslintrc
  packages/razzle-plugin-graphql/index.js
  packages/razzle-plugin-graphql/package-lock.json
  packages/razzle-plugin-graphql/package.json
  packages/razzle-plugin-graphql/tests/index.test.js
Labels: plugins

chore: upgrade dependencies
  packages/razzle-plugin-mdx/package.json
  yarn.lock
Labels: plugins, repo

feat: add support for plugins from organisations
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/loadPlugins.js
  packages/razzle/config/runPlugin.js
Labels: razzle, webpack

dev-infra: lock expess version
  scripts/exampleDependencyVersions.json
Labels: none

feat: add bundle analyzer plugin
  packages/razzle-plugin-bundle-analyzer/README.md
  packages/razzle-plugin-bundle-analyzer/index.js
  packages/razzle-plugin-bundle-analyzer/package.json
  packages/razzle-plugin-bundle-analyzer/tests/index.test.js
  yarn.lock
Labels: plugins, repo

fix: use static file for bundle analyzer
  lerna.json
  package.json
  packages/razzle-plugin-bundle-analyzer/index.js
  yarn.lock
Labels: plugins, repo

fix: wrong json config
  lerna.json
  package.json
Labels: repo

fix: make webpack-bundle-analyzer a peer dep
  package.json
  packages/razzle-plugin-bundle-analyzer/package.json
  yarn.lock
Labels: plugins, repo

fix: add back dependency dont test existing module as missing
  packages/razzle-plugin-bundle-analyzer/package.json
  test/fixtures/build-with-custom-config-invalid/razzle.config.js
  yarn.lock
Labels: plugins, repo

docs: no -- needed here
  website/pages/getting-started.mdx
Labels: none

fix: no defaults, just use plugins to modify
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

v3.1.8
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

docs: document deprecation
  website/pages/docs/customization.md
Labels: none
