Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

feat: it runs
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  packages/razzle/src/cli.ts
  packages/razzle/tsconfig.tsbuildinfo
Labels: razzle, webpack, plugins

chore: add start of default options
  packages/razzle-plugin-webpack5/package.json
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/defaultOptions.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  packages/razzle/src/types.ts
  pnpm-lock.yaml
Labels: razzle, webpack, plugins, repo

chore: add example entries
  examples/basic-webpack5/src/client.js
  examples/basic-webpack5/src/server.js
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle/src/types.ts
Labels: examples, razzle, webpack, plugins

feat: start work on externals
  examples/basic-webpack5/package.json
  examples/basic-webpack5/src/server.js
  packages/razzle-plugin-webpack5/package.json
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  pnpm-lock.yaml
Labels: examples, plugins, repo

chore: added types for first webpack plugin
  packages/razzle-plugin-webpack5-externals/package.json
  packages/razzle-plugin-webpack5-externals/src/defaultOptions.ts
  packages/razzle-plugin-webpack5-externals/src/index.ts
  packages/razzle-plugin-webpack5-externals/src/types.ts
  packages/razzle-plugin-webpack5-externals/tsconfig.json
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/tsconfig.tsbuildinfo
  packages/razzle/package.json
  tsconfig.json
Labels: razzle, webpack, plugins, repo

chore: cleanup
  packages/razzle-plugin-jest/package.json
  packages/razzle-plugin-jest/src/index.ts
  packages/razzle-plugin-jest/tsconfig.json
  packages/razzle-plugin-webpack5-babel/package.json
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-babel/tsconfig.json
  packages/razzle-plugin-webpack5-externals/src/types.ts
  packages/razzle-plugin-webpack5-media/package.json
  packages/razzle-plugin-webpack5-media/src/index.ts
  packages/razzle-plugin-webpack5-media/tsconfig.json
  packages/razzle-plugin-webpack5-typescript/package.json
  packages/razzle-plugin-webpack5-typescript/src/index.ts
  packages/razzle-plugin-webpack5-typescript/tsconfig.json
Labels: plugins

chore: borrow from next
  packages/razzle-plugin-webpack5-externals/src/index.ts
  packages/razzle-plugin-webpack5-externals/src/types.ts
  packages/razzle-plugin-webpack5-externals/src/utils.ts
Labels: plugins

feat: added beginnings of externals plugin
  examples/basic-webpack5/package.json
  examples/basic-webpack5/razzle.config.js
  packages/razzle-plugin-webpack5-externals/package.json
  packages/razzle-plugin-webpack5-externals/src/defaultOptions.ts
  packages/razzle-plugin-webpack5-externals/src/index.ts
  packages/razzle-plugin-webpack5-externals/src/types.ts
  packages/razzle-plugin-webpack5-externals/src/utils.ts
  packages/razzle-plugin-webpack5-externals/tsconfig.tsbuildinfo
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  packages/razzle-plugin-webpack5/tsconfig.tsbuildinfo
  packages/razzle/src/cli.ts
  packages/razzle/src/loaders/plugins.ts
  packages/razzle/src/types.ts
Labels: examples, razzle, webpack, plugins

fix: pebkac
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/tsconfig.tsbuildinfo
Labels: plugins

feat: add start of assetsplugin
  packages/razzle-plugin-webpack5-assets/package.json
  packages/razzle-plugin-webpack5-assets/src/defaultOptions.ts
  packages/razzle-plugin-webpack5-assets/src/index.ts
  packages/razzle-plugin-webpack5-assets/src/types.ts
  packages/razzle-plugin-webpack5-assets/tsconfig.json
  packages/razzle-plugin-webpack5-assets/tsconfig.tsbuildinfo
  packages/razzle-plugin-webpack5-babel/package.json
  packages/razzle-plugin-webpack5-babel/src/babel/loader/get-config.ts
  packages/razzle-plugin-webpack5-babel/src/babel/loader/index.ts
  packages/razzle-plugin-webpack5-babel/src/babel/loader/transform.ts
  packages/razzle-plugin-webpack5-babel/src/babel/loader/types.d.ts
  packages/razzle-plugin-webpack5-babel/src/babel/loader/util.ts
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/commonjs.ts
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/jsx-pragma.ts
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/no-anonymous-default-export.ts
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/optimize-hook-destructuring.ts
  packages/razzle-plugin-webpack5-babel/src/babel/preset.ts
  packages/razzle-plugin-webpack5-babel/src/defaultOptions.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/types.ts
  packages/razzle-plugin-webpack5-babel/src/utils.ts
  packages/razzle-plugin-webpack5-babel/tsconfig.json
  packages/razzle-plugin-webpack5-babel/tsconfig.tsbuildinfo
  tsconfig.json
Labels: plugins, repo

chore: checkin to keep safe
  packages/razzle-plugin-webpack5-assets/src/index.ts
  packages/razzle-plugin-webpack5-babel/package.json
  packages/razzle-plugin-webpack5-babel/src/babel/loader/get-config.ts
  packages/razzle-plugin-webpack5-babel/src/babel/loader/index.ts
  packages/razzle-plugin-webpack5-babel/src/babel/loader/transform.ts
  packages/razzle-plugin-webpack5-babel/src/babel/loader/types.d.ts
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/commonjs.ts
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/jsx-pragma.ts
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/no-anonymous-default-export.ts
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/optimize-hook-destructuring.ts
  packages/razzle-plugin-webpack5-babel/src/babel/preset.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/types.ts
  packages/razzle-plugin-webpack5-babel/tsconfig.tsbuildinfo
Labels: plugins

chore: make code build
  packages/razzle-plugin-webpack5-babel/package.json
  packages/razzle-plugin-webpack5-babel/src/babel/loader/get-config.ts
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/jsx-pragma.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-babel/tsconfig.tsbuildinfo
  packages/razzle-plugin-webpack5-externals/package.json
Labels: plugins

chore: no inline requires
  packages/razzle-plugin-webpack5-babel/package.json
  packages/razzle-plugin-webpack5-babel/src/babel/loader/get-config.ts
  packages/razzle-plugin-webpack5-babel/src/babel/loader/index.ts
  packages/razzle-plugin-webpack5-babel/src/babel/loader/transform.ts
  packages/razzle-plugin-webpack5-babel/src/babel/loader/types.d.ts
  packages/razzle-plugin-webpack5-babel/src/babel/loader/util.ts
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/commonjs.ts
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/jsx-pragma.ts
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/no-anonymous-default-export.ts
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/optimize-hook-destructuring.ts
  packages/razzle-plugin-webpack5-babel/src/babel/preset.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/types.ts
  packages/razzle-plugin-webpack5-babel/src/utils.ts
  packages/razzle-plugin-webpack5-babel/tsconfig.tsbuildinfo
Labels: plugins

chore: start adding rule
  packages/razzle-plugin-webpack5-babel/src/index.ts
Labels: plugins

feat: almost there
  examples/basic-webpack5/package.json
  examples/basic-webpack5/razzle.config.js
  packages/razzle-plugin-webpack5-babel/package.json
  packages/razzle-plugin-webpack5-babel/src/defaultOptions.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/types.ts
  packages/razzle-plugin-webpack5-babel/tsconfig.tsbuildinfo
Labels: examples, plugins

feat: add partial esm support
  examples/basic-webpack5-esm/build/public/client.js
  examples/basic-webpack5-esm/build/server.cjs
  examples/basic-webpack5-esm/package.json
  examples/basic-webpack5-esm/razzle.config.js
  examples/basic-webpack5-esm/src/client.js
  examples/basic-webpack5-esm/src/server.js
  examples/basic-webpack5/build/public/client.js
  examples/basic-webpack5/build/server.cjs
  packages/razzle-plugin-webpack5-assets/package.json
  packages/razzle-plugin-webpack5-assets/src/index.ts
  packages/razzle-plugin-webpack5-assets/tsconfig.tsbuildinfo
  packages/razzle-plugin-webpack5-babel/package.json
  packages/razzle-plugin-webpack5-babel/src/babel/plugins/no-anonymous-default-export.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/types.ts
  packages/razzle-plugin-webpack5-babel/tsconfig.json
  packages/razzle-plugin-webpack5-babel/tsconfig.tsbuildinfo
  packages/razzle-plugin-webpack5-externals/package.json
  packages/razzle-plugin-webpack5-externals/src/types.ts
  packages/razzle-plugin-webpack5-externals/tsconfig.tsbuildinfo
  packages/razzle-plugin-webpack5/package.json
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/defaultOptions.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  packages/razzle/package.json
  packages/razzle/src/env.ts
  packages/razzle/src/index.ts
  packages/razzle/src/loaders/config.ts
  packages/razzle/src/loaders/plugins.ts
  packages/razzle/src/logger.ts
  tsconfig.json
Labels: examples, razzle, webpack, plugins, repo

chore: better typenames
  examples/basic-webpack5-esm/razzle.config.js
  examples/basic-webpack5/razzle.config.js
  packages/razzle-plugin-webpack5-assets/src/defaultOptions.ts
  packages/razzle-plugin-webpack5-assets/src/index.ts
  packages/razzle-plugin-webpack5-assets/src/types.ts
  packages/razzle-plugin-webpack5-assets/tsconfig.tsbuildinfo
  packages/razzle-plugin-webpack5-babel/src/babel/loader/index.ts
  packages/razzle-plugin-webpack5-babel/src/defaultOptions.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/types.ts
  packages/razzle-plugin-webpack5-externals/src/defaultOptions.ts
  packages/razzle-plugin-webpack5-externals/src/index.ts
  packages/razzle-plugin-webpack5-externals/src/types.ts
  packages/razzle-plugin-webpack5-externals/tsconfig.tsbuildinfo
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/defaultOptions.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  packages/razzle/src/cli.ts
  packages/razzle/src/loaders/config.ts
  packages/razzle/src/loaders/plugins.ts
  packages/razzle/src/paths.ts
  packages/razzle/src/types.ts
Labels: examples, razzle, webpack, plugins

fix: better typing
  examples/basic-webpack5-esm/razzle.config.js
  examples/basic-webpack5/package.json
  examples/basic-webpack5/razzle.config.js
  packages/razzle-plugin-webpack5-assets/src/index.ts
  packages/razzle-plugin-webpack5-assets/src/types.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/types.ts
  packages/razzle-plugin-webpack5-browserslist/package.json
  packages/razzle-plugin-webpack5-browserslist/src/index.ts
  packages/razzle-plugin-webpack5-browserslist/src/types.ts
  packages/razzle-plugin-webpack5-browserslist/tsconfig.json
  packages/razzle-plugin-webpack5-externals/src/index.ts
  packages/razzle-plugin-webpack5-externals/src/utils.ts
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  packages/razzle/src/loaders/plugins.ts
Labels: examples, razzle, webpack, plugins

fix: mixed up type and const
  packages/razzle-plugin-webpack5-assets/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-browserslist/src/index.ts
  packages/razzle-plugin-webpack5-externals/src/index.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle/src/loaders/plugins.ts
Labels: razzle, webpack, plugins

fix: remove built files
  packages/razzle-plugin-webpack5-assets/tsconfig.tsbuildinfo
  packages/razzle-plugin-webpack5-externals/tsconfig.tsbuildinfo
  packages/razzle-plugin-webpack5/tsconfig.tsbuildinfo
  packages/razzle/tsconfig.tsbuildinfo
Labels: razzle, webpack, plugins

fix: remove ignored files
  .gitignore
  packages/razzle-plugin-webpack5-assets/tsconfig.tsbuildinfo
  packages/razzle-plugin-webpack5-externals/tsconfig.tsbuildinfo
  packages/razzle-plugin-webpack5/tsconfig.tsbuildinfo
  packages/razzle/src/index.ts
  packages/razzle/tsconfig.tsbuildinfo
Labels: razzle, webpack, plugins, repo

fix: make all types composable
  examples/basic-webpack5-esm/package.json
  examples/basic-webpack5-esm/razzle.config.js
  examples/basic-webpack5/razzle.config.js
  packages/razzle-plugin-webpack5-assets/package.json
  packages/razzle-plugin-webpack5-assets/src/index.ts
  packages/razzle-plugin-webpack5-assets/src/types.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/types.ts
  packages/razzle-plugin-webpack5-browserslist/src/index.ts
  packages/razzle-plugin-webpack5-browserslist/src/types.ts
  packages/razzle-plugin-webpack5-externals/src/index.ts
  packages/razzle-plugin-webpack5-externals/src/types.ts
  packages/razzle-plugin-webpack5/package.json
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  packages/razzle/package.json
  packages/razzle/src/index.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: examples, razzle, webpack, plugins, repo

chore: add turbo
  package.json
  packages/razzle-plugin-webpack5-css/package.json
  packages/razzle-plugin-webpack5-css/src/index.ts
  packages/razzle-plugin-webpack5-css/src/types.ts
  packages/razzle-plugin-webpack5-css/tsconfig.json
Labels: plugins, repo

chore: full turbo
  .gitignore
  examples/basic-webpack5-esm/package.json
  package.json
  packages/razzle-plugin-webpack5-assets/package.json
  packages/razzle-plugin-webpack5-babel/package.json
  packages/razzle-plugin-webpack5-babel/src/types.ts
  packages/razzle-plugin-webpack5-browserslist/package.json
  packages/razzle-plugin-webpack5-css/package.json
  packages/razzle-plugin-webpack5-externals/package.json
  packages/razzle-plugin-webpack5/package.json
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/types.ts
  packages/razzle/src/cli.ts
  packages/razzle/src/loaders/config.ts
  packages/razzle/src/paths.ts
  packages/razzle/src/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: examples, razzle, webpack, plugins, repo

fix: loader must be cjs
  examples/basic-webpack5-esm/package.json
  examples/basic-webpack5/package.json
  examples/basic-webpack5/razzle.config.js
  packages/razzle-babel-loader/package.json
  packages/razzle-babel-loader/src/loader/get-config.ts
  packages/razzle-babel-loader/src/loader/index.ts
  packages/razzle-babel-loader/src/loader/transform.ts
  packages/razzle-babel-loader/src/loader/types.d.ts
  packages/razzle-babel-loader/src/loader/util.ts
  packages/razzle-babel-loader/src/plugins/commonjs.ts
  packages/razzle-babel-loader/src/plugins/jsx-pragma.ts
  packages/razzle-babel-loader/src/plugins/no-anonymous-default-export.ts
  packages/razzle-babel-loader/src/plugins/optimize-hook-destructuring.ts
  packages/razzle-babel-loader/src/preset.ts
  packages/razzle-babel-loader/tsconfig.json
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle/src/loaders/plugins.ts
  pnpm-lock.yaml
Labels: examples, razzle, webpack, plugins, repo

fix: all working
  packages/razzle-babel-loader/package.json
  packages/razzle-babel-loader/src/loader/get-config.ts
  packages/razzle-babel-loader/src/loader/index.ts
  packages/razzle-babel-loader/src/loader/transform.ts
  packages/razzle-plugin-webpack5-babel copy/tsconfig.json
  packages/razzle-plugin-webpack5-externals/src/index.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle/src/loaders/plugins.ts
Labels: razzle, webpack, plugins

fix: add deps to examples
  examples/basic-webpack5-esm/package.json
  examples/basic-webpack5/package.json
  pnpm-lock.yaml
Labels: examples, repo

fix: move to devdependencies
  examples/basic-webpack5-esm/package.json
  examples/basic-webpack5/package.json
Labels: examples

fix: remove copy
  packages/razzle-plugin-webpack5-babel copy/tsconfig.json
Labels: plugins

fix: respect pinning in default cra template
  packages/create-razzle-app/lib/index.js
Labels: none

fix: fix import for staticrouter in default template
  packages/create-razzle-app/templates/default/src/server.js
Labels: none

fix: use switch not routes
  packages/create-razzle-app/templates/default/src/App.js
Labels: none

fix: fix default route in default template
  packages/create-razzle-app/templates/default/src/App.js
Labels: none

feat: add serverless example
  examples/basic-serverless/README.md
  examples/basic-serverless/gitignore
  examples/basic-serverless/package.json
  examples/basic-serverless/public/favicon.ico
  examples/basic-serverless/public/robots.txt
  examples/basic-serverless/razzle.config.js
  examples/basic-serverless/sandbox.config.json
  examples/basic-serverless/src/App.css
  examples/basic-serverless/src/App.js
  examples/basic-serverless/src/App.test.js
  examples/basic-serverless/src/client.js
  examples/basic-serverless/src/index.js
  examples/basic-serverless/src/server.js
Labels: examples

fix: update examples list
  packages/create-razzle-app/lib/officialExamples.js
Labels: none

fix: make express bundling work
  examples/basic-serverless/razzle.config.js
Labels: examples

fix: make express bundle correctly
  examples/basic-serverless/package.json
  examples/basic-serverless/razzle.config.js
Labels: examples

Create layer0.md
  website/pages/deployment-options/layer0.md
Labels: none

Update meta.json
  website/pages/deployment-options/meta.json
Labels: none

Update layer0.md
  website/pages/deployment-options/layer0.md
Labels: none

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
