Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

fix(razzle): try fixing yarn create
  packages/create-razzle-app/lib/index.js
Labels: none

feat(razzle): added start of serverOnly buildType
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
Labels: razzle, webpack

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

fix(create-rallze-app): fix yarn2 flags
  packages/create-razzle-app/lib/messages.js
  packages/create-razzle-app/lib/utils/get-install-cmd.js
  packages/create-razzle-app/lib/utils/install.js
Labels: none

dev-infra: try auto-publish
  package.json
  scripts/publish-all.js
Labels: repo

dev-test: make create razzle app verbose
  packages/create-razzle-app/lib/utils/install.js
Labels: none

fix(razzle): add missing transitive dep
  packages/razzle/package.json
Labels: razzle, webpack

fix(razzle): more relaxed deps
  packages/razzle/package.json
Labels: razzle, webpack

fix(razzle): fix dependencies for yarn2 in core packages
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/templates/default/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-start-server-webpack-plugin/package.json
  packages/razzle/package.json
Labels: razzle, webpack

fix(deps): better resolution
  package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-start-server-webpack-plugin/package.json
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

dev-infra: correct deps
  .gitignore
  package.json
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

fix(deps): fix some plugin deps
  packages/razzle-plugin-bundle-analyzer/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
Labels: plugins

dev-infra: push and pull before remote tag
  scripts/publish-all.js
Labels: none

Update yarn.lock
  yarn.lock
Labels: repo

examples: add unfinished svelte example
  examples/with-svelte/.gitignore
  examples/with-svelte/README.md
  examples/with-svelte/package.json
  examples/with-svelte/public/favicon.ico
  examples/with-svelte/public/robots.txt
  examples/with-svelte/razzle.config.js
  examples/with-svelte/sandbox.config.json
  examples/with-svelte/src/App.css
  examples/with-svelte/src/App.js
  examples/with-svelte/src/App.test.js
  examples/with-svelte/src/client.js
  examples/with-svelte/src/index.js
  examples/with-svelte/src/server.js
  packages/razzle-plugin-svelte/index.js
  packages/razzle-plugin-svelte/package.json
  packages/razzle-plugin-svelte/tests/index.test.js
  scripts/new-example.js
Labels: examples, plugins

fix(razzle-plugin-eslint): try to fix the plugin
  examples/with-eslint/.eslintrc.json
  examples/with-eslint/.gitignore
  examples/with-eslint/README.md
  examples/with-eslint/package.json
  examples/with-eslint/public/favicon.ico
  examples/with-eslint/public/robots.txt
  examples/with-eslint/razzle.config.js
  examples/with-eslint/sandbox.config.json
  examples/with-eslint/src/App.css
  examples/with-eslint/src/App.js
  examples/with-eslint/src/App.test.js
  examples/with-eslint/src/client.js
  examples/with-eslint/src/index.js
  examples/with-eslint/src/server.js
  packages/razzle-plugin-eslint/index.js
  packages/razzle-plugin-eslint/package.json
Labels: examples, plugins

fix(plugins): fix all yarn2 dep issues with plugins
  packages/razzle-plugin-graphql/index.js
  packages/razzle-plugin-graphql/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
Labels: plugins

Update yarn.lock
  yarn.lock
Labels: repo

dev-infra: correct flags to publish all
  package.json
  scripts/publish-all.js
Labels: repo

dev-infra: too eager globbing
  package.json
  scripts/publish-all.js
Labels: repo

dev-infr66a: fix untag commands
  scripts/publish-all.js
Labels: none

Update yarn.lock
  yarn.lock
Labels: repo

dev-infra: fix messed up package.json
  package.json
  yarn.lock
Labels: repo

feat(jest-testing): add --inspect and --no-watch to razzle test
  packages/razzle/bin/razzle.js
  packages/razzle/scripts/test.js
Labels: razzle, webpack

fix(razzle): Improve SIGINT/SIGTERM handling.
  packages/razzle-start-server-webpack-plugin/dist/StartServerPlugin.js
  packages/razzle-start-server-webpack-plugin/src/StartServerPlugin.js
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(razzle): Improve SIGINT/SIGTERM handling.
  packages/razzle-start-server-webpack-plugin/dist/StartServerPlugin.js
  packages/razzle-start-server-webpack-plugin/src/StartServerPlugin.js
  packages/razzle/package.json
  packages/razzle/scripts/start.js
  yarn.lock
Labels: razzle, webpack, repo

examples: make more examples work with yarn berry
  examples/with-all-experimental/.gitignore
  examples/with-all-experimental/README.md
  examples/with-all-experimental/package.json
  examples/with-all-experimental/public/favicon.ico
  examples/with-all-experimental/public/robots.txt
  examples/with-all-experimental/razzle.config.js
  examples/with-all-experimental/src/About.js
  examples/with-all-experimental/src/App.css
  examples/with-all-experimental/src/App.js
  examples/with-all-experimental/src/App.test.js
  examples/with-all-experimental/src/Home.js
  examples/with-all-experimental/src/client.js
  examples/with-all-experimental/src/index.js
  examples/with-all-experimental/src/server.js
  examples/with-all-experimental/src/static_export.js
  examples/with-custom-babel-config/package.json
  examples/with-custom-target-babel-config/package.json
  examples/with-elm/package.json
  examples/with-eslint/package.json
  examples/with-heroku/package.json
Labels: examples

examples: fixed all yarn berry dependencies errors
  examples/with-inferno/package.json
  examples/with-jsconfig-paths/here-is-extra/extra.js
  examples/with-jsconfig-paths/jsconfig.json
  examples/with-jsconfig-paths/src/App.js
  examples/with-less/package.json
  examples/with-loadable-components/package.json
  examples/with-material-ui/package.json
  examples/with-preact/package.json
  examples/with-rax/package.json
  examples/with-react-native-web/package.json
  examples/with-reason-react/package.json
  examples/with-styled-components/package.json
  examples/with-svelte/package.json
  examples/with-typescript/package.json
  examples/with-vue-router/package.json
  examples/with-vue/package.json
Labels: examples

examples: add example with dynamic __webpack_public_path__ from env
  examples/with-webpack-public-path/.env
  examples/with-webpack-public-path/package.json
  examples/with-webpack-public-path/public/favicon.ico
  examples/with-webpack-public-path/public/robots.txt
  examples/with-webpack-public-path/sandbox.config.json
  examples/with-webpack-public-path/src/App.css
  examples/with-webpack-public-path/src/App.js
  examples/with-webpack-public-path/src/App.test.js
  examples/with-webpack-public-path/src/client.js
  examples/with-webpack-public-path/src/index.js
  examples/with-webpack-public-path/src/init.client.js
  examples/with-webpack-public-path/src/init.server.js
  examples/with-webpack-public-path/src/real.client.js
  examples/with-webpack-public-path/src/real.server.js
  examples/with-webpack-public-path/src/server.js
Labels: examples

Update getting-started.mdx
  website/pages/getting-started.mdx
Labels: none

fix(razzle): exit on webpack build errors not just internal webpack errors
  packages/razzle/scripts/build.js
Labels: razzle, webpack

examples: add start of with-typeorm-graphql example
  examples/with-typeorm-graphql/.gitignore
  examples/with-typeorm-graphql/README.md
  examples/with-typeorm-graphql/package.json
  examples/with-typeorm-graphql/public/favicon.ico
  examples/with-typeorm-graphql/public/robots.txt
  examples/with-typeorm-graphql/razzle.config.js
  examples/with-typeorm-graphql/src/App.css
  examples/with-typeorm-graphql/src/App.test.tsx
  examples/with-typeorm-graphql/src/App.tsx
  examples/with-typeorm-graphql/src/Home.css
  examples/with-typeorm-graphql/src/Home.tsx
  examples/with-typeorm-graphql/src/client.tsx
  examples/with-typeorm-graphql/src/declarations.d.ts
  examples/with-typeorm-graphql/src/index.ts
  examples/with-typeorm-graphql/src/react.svg
  examples/with-typeorm-graphql/src/server.tsx
  examples/with-typeorm-graphql/src/setupTests.ts
  examples/with-typeorm-graphql/tsconfig.json
Labels: examples

feature(razzle): new writeCssDev razzle option
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/defaultOptions.js
  website/pages/docs/customization.md
Labels: razzle, webpack

fix(create-razzle-app): try fixing cra
  packages/create-razzle-app/lib/utils/install.js
  packages/create-razzle-app/templates/default/package.json
Labels: none

fix(razzle): rename writeCssDev to staticCssInDev
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/defaultOptions.js
  website/pages/docs/customization.md
Labels: razzle, webpack

dev-infra: kill using sigint in tests
  test/tests/razzle-start-spa.test.js
  test/tests/razzle-start.test.js
Labels: none

example: try making module federation example work
  examples/with-module-federation/basic-1/.env
  examples/with-module-federation/basic-1/razzle.config.js
  examples/with-module-federation/basic-1/src/App.css
  examples/with-module-federation/basic-1/src/App.js
  examples/with-module-federation/basic-1/src/App.test.js
  examples/with-module-federation/basic-1/src/Button.js
  examples/with-module-federation/basic-1/src/bootstrap.js
  examples/with-module-federation/basic-1/src/client.js
  examples/with-module-federation/basic-2/.env
  examples/with-module-federation/basic-2/razzle.config.js
  examples/with-module-federation/basic-2/src/App.css
  examples/with-module-federation/basic-2/src/App.js
  examples/with-module-federation/basic-2/src/App.test.js
  examples/with-module-federation/basic-2/src/Button.js
  examples/with-module-federation/basic-2/src/bootstrap.js
  examples/with-module-federation/basic-2/src/client.js
  examples/with-module-federation/package.json
Labels: examples

examples: try to fix module federation example
  examples/with-module-federation/basic-1/razzle.config.js
  examples/with-module-federation/basic-2/razzle.config.js
Labels: examples

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
