Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

v3.3.1
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

Updating to latest typescript, ts-loader, and fork-ts-checker-webpack-plugin
  examples/with-typescript/package.json
  packages/razzle-plugin-typescript/README.md
  packages/razzle-plugin-typescript/index.js
  packages/razzle-plugin-typescript/package.json
Labels: examples, plugins

fix(razzle): use "use" in newBabel rule
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

v3.3.2
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(razzle): update copy-webpack-plugin because of a security issue
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

dev-infra: fix version regex
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
  scripts/build-docs.js
Labels: razzle, webpack, plugins

fix(razzle): update copy-webpack-plugin because of a security issue
  packages/razzle/package.json
Labels: razzle, webpack

dev-infra: update yarn.lock
  yarn.lock
Labels: repo

fix(razzle): update copy plugin options to patterns
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(razzle): run setports after dotenv initialization
  packages/razzle/scripts/start.js
  test/tests/razzle-start.test.js
  yarn.lock
Labels: razzle, webpack, repo

fix(razzle): replace backslashes with forward slashes so glob works on windows
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(babel-preset-razzle): add missing dependencies
  packages/babel-preset-razzle/package.json
Labels: none

fix(babel-preset-razzle): add missing dependencies
  packages/babel-preset-razzle/package.json
  yarn.lock
Labels: repo

dev-infra: update yarn.lock
  yarn.lock
Labels: repo

v3.3.3
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

dev-infra: try making circleci tests pass
  .circleci/config.yml
Labels: none

dev-infra: use env in save_cache
  .circleci/config.yml
Labels: none

dev-infra: fix circleci caching
  .circleci/config.yml
Labels: none

dev-infra: fix config.yml indentation
  .circleci/config.yml
Labels: none

dev-infra: add circleci manual cache invalidation
  .circleci/config.yml
Labels: none

dev-infra: don't test on node 9
  .circleci/config.yml
Labels: none

dev-infra: properly remove node 9 testing on circleci
  .circleci/config.yml
Labels: none

docs: update badges
  packages/razzle/README.md
Labels: razzle, webpack

docs: reorder badges
  packages/razzle/README.md
Labels: razzle, webpack

docs: update badges
  packages/razzle/README.md
Labels: razzle, webpack

docs: add back spectrum
  packages/razzle/README.md
Labels: razzle, webpack

dev-infra: test webpack 4 and 5
  .github/workflows/nodejs.yml
Labels: none

dev-infra: clean up
  .github/workflows/nodejs.yml
Labels: none

dev-infra: add -W
  .github/workflows/nodejs.yml
Labels: none

dev-infra: test for cache hit
  .github/workflows/nodejs.yml
Labels: none

dev-infra: don't fail fast
  .github/workflows/nodejs.yml
Labels: none

dev-infra: don't fail fast
  .github/workflows/nodejs.yml
Labels: none

dev-infra: remove circleci testing
  .circleci/config.yml
Labels: none

dev-infra: remove circleci testing
  .circleci/config.yml
Labels: none

docs: remove circleci badge
  packages/razzle/README.md
Labels: razzle, webpack

docs: remove circleci badge
  packages/razzle/README.md
Labels: razzle, webpack

dev-infra: try running only failed tests
  .github/workflows/nodejs.yml
Labels: none

dev-infra: try new cache
  .github/workflows/nodejs.yml
Labels: none

dev-infra: use just one version of cache
  .github/workflows/nodejs.yml
Labels: none

feat: update Single Page Applications section
  website/pages/docs/single-page-applications.md
Labels: none
