Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

docs: add transpilation of external modules
  website/pages/docs/customization.md
Labels: none

docs: better indentation
  website/pages/docs/customization.md
Labels: none

docs: inform on create-razzle-app npx cache
  website/pages/getting-started.mdx
Labels: none

fix(razzle): Ignore .env.local when running tests
  packages/razzle/config/env.js
Labels: razzle, webpack

Use correct url for common issues
  packages/razzle/config/loadRazzleConfig.js
Labels: razzle, webpack

docs: Fix error in preset readme regarding installation
  packages/babel-preset-razzle/README.md
Labels: none

Upgrade postcss from 8.2.4 8.2.13
  examples/with-less/package.json
  examples/with-scss-options/package.json
  examples/with-scss/package.json
  examples/with-tailwindcss/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle/package.json
  website/pages/getting-started.mdx
  yarn.lock
Labels: examples, razzle, webpack, plugins, repo

Remove clean-css and recover cssnano instead
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/loadRazzleConfig.js
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

remove resolutions
  examples/with-less/package.json
  examples/with-scss-options/package.json
  examples/with-scss/package.json
  examples/with-tailwindcss/package.json
Labels: examples

Remove postcss issue reference
  website/pages/getting-started.mdx
Labels: none

feat(razzle): Make package.json optional
  packages/razzle/config/createJestConfig.js
  packages/razzle/config/paths.js
Labels: razzle, webpack

examples: Add monorepo without workspaces
  examples/with-monorepo-without-workspaces/.gitignore
  examples/with-monorepo-without-workspaces/README.md
  examples/with-monorepo-without-workspaces/basic-1/.env
  examples/with-monorepo-without-workspaces/basic-1/public/favicon.ico
  examples/with-monorepo-without-workspaces/basic-1/public/robots.txt
  examples/with-monorepo-without-workspaces/basic-1/src/App.css
  examples/with-monorepo-without-workspaces/basic-1/src/App.js
  examples/with-monorepo-without-workspaces/basic-1/src/App.test.js
  examples/with-monorepo-without-workspaces/basic-1/src/client.js
  examples/with-monorepo-without-workspaces/basic-1/src/index.js
  examples/with-monorepo-without-workspaces/basic-1/src/server.js
  examples/with-monorepo-without-workspaces/basic-2/.env
  examples/with-monorepo-without-workspaces/basic-2/public/favicon.ico
  examples/with-monorepo-without-workspaces/basic-2/public/robots.txt
  examples/with-monorepo-without-workspaces/basic-2/src/App.css
  examples/with-monorepo-without-workspaces/basic-2/src/App.js
  examples/with-monorepo-without-workspaces/basic-2/src/App.test.js
  examples/with-monorepo-without-workspaces/basic-2/src/client.js
  examples/with-monorepo-without-workspaces/basic-2/src/index.js
  examples/with-monorepo-without-workspaces/basic-2/src/server.js
  examples/with-monorepo-without-workspaces/package.json
  test/examples/isomorphic-examples.test.js
Labels: examples

fix(razzle): Undefined error in getPublicUrl
  packages/razzle/config/paths.js
Labels: razzle, webpack

fix(razzle): Exit start command on unhandled rejections
  packages/razzle/scripts/start.js
  test/e2e/razzle-start.test.js
Labels: razzle, webpack

feat(razzle): Align unhandled rejection output across all entrypoints
  packages/razzle/scripts/build.js
  packages/razzle/scripts/export.js
  packages/razzle/scripts/test.js
Labels: razzle, webpack

docs(razzle-plugin-scss): Fix incorrect default values
  packages/razzle-plugin-scss/README.md
Labels: plugins

ci: Add github workflow for running prettier
  .github/workflows/prettier.yml
  package.json
Labels: repo

docs: transpilation of external modules
  website/pages/docs/customization.md
Labels: none

fix(deps): don't lock packages to patch versions
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-svelte/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, plugins, repo

fix(razzle): update manifest plugin
  packages/razzle/config/createConfigAsync.js
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

examples(with-loadable-components): fix webpack5 issue
  examples/with-loadable-components/package.json
Labels: examples

Add Layer0 deployment docs
  website/pages/deployment-options/layer0.md
  website/pages/deployment-options/meta.json
Labels: none

Update README.md
  packages/razzle-dev-utils/README.md
Labels: none

Update environment-variables.md
  website/pages/docs/environment-variables.md
Labels: none

fix: add require.resolve instead of string for graphql-tag/loader for razzle-plugin-graphql
  packages/razzle-plugin-graphql/index.js
  packages/razzle-plugin-graphql/package.json
Labels: plugins

Update customization.md
  website/pages/docs/customization.md
Labels: none

fix(examples): use a valid version
  examples/with-loadable-components/package.json
Labels: examples

(Fixing) - Fixed error with koa-router for Razzle example using Koa. koa-router is using regex for routes paths since koa-router 9.0.0
  examples/with-koa/package.json
  examples/with-koa/src/server.js
Labels: examples

chore: run doc and example canary scripts
  examples/with-esbuild-loader/README.md
  examples/with-koa/package.json
  examples/with-monorepo-without-workspaces/README.md
  examples/with-typescript-plugin/README.md
Labels: examples

feat: start work on razzle5 cli plugins
  package.json
  packages/razzle5/package.json
  packages/razzle5/src/bin/razzle.ts
  packages/razzle5/tsconfig.json
  yarn.lock
Labels: repo

fix: work on razzle 5 in alpha branch
  packages/razzle5/package.json
  packages/razzle5/src/bin/razzle.ts
  packages/razzle5/tsconfig.json
Labels: none

fix(deps) allow for bump mini-css-extract-plugin to version smaller than 1.0.0 to provide webpack5 support
  packages/razzle/package.json
Labels: razzle, webpack

fix(deps): fix mini-css-extract-version-in-scss-and-less-plugins
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/package.json
Labels: plugins

docs: fix aws deployment docs to include required import of path
  website/pages/deployment-options/aws.md
Labels: none

Fixed spacing
  examples/with-module-federation/basic-1/razzle.config.js
Labels: examples

fix(create-razzle-app): git ignore generated cache directory
  packages/create-razzle-app/templates/default/gitignore
Labels: none

add missing renderApp in template
  packages/create-razzle-app/templates/default/src/server.js
Labels: none

examples(with-fastify): added `with-fastify` example and implementation
  examples/with-fastify/.gitignore
  examples/with-fastify/README.md
  examples/with-fastify/package.json
  examples/with-fastify/public/favicon.ico
  examples/with-fastify/public/robots.txt
  examples/with-fastify/src/App.css
  examples/with-fastify/src/App.test.tsx
  examples/with-fastify/src/App.tsx
  examples/with-fastify/src/Home.css
  examples/with-fastify/src/Home.tsx
  examples/with-fastify/src/client.tsx
  examples/with-fastify/src/index.ts
  examples/with-fastify/src/react.svg
  examples/with-fastify/src/server.tsx
  examples/with-fastify/src/setupTests.ts
  examples/with-fastify/tsconfig.json
  examples/with-fastify/typings/svg.d.ts
  examples/with-koa/package.json
Labels: examples

examples(with-fastify): readme heading change
  examples/with-fastify/README.md
Labels: examples

examples(with-fastify): comment alteration
  examples/with-fastify/src/server.tsx
Labels: examples

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
