Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

Delete jest.examples.config.json
  test/jest.examples.config.json
Labels: none

dev-infra: better test type separation
  examples/with-elm/package.json
  package.json
  test/examples/isomorphic-examples.test.js
Labels: examples, repo

feat(razzle): add support for server-only builds
  .gitignore
  examples/basic-server/README.md
  examples/basic-server/gitignore
  examples/basic-server/package.json
  examples/basic-server/public/favicon.ico
  examples/basic-server/public/robots.txt
  examples/basic-server/razzle.config.js
  examples/basic-server/sandbox.config.json
  examples/basic-server/src/App.css
  examples/basic-server/src/App.js
  examples/basic-server/src/App.test.js
  examples/basic-server/src/index.js
  examples/basic-server/src/server.js
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
  test/examples/isomorphic-examples.test.js
Labels: examples, razzle, webpack, repo

docs: update contributing with workflow
  .github/CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

examples(react-native-web): update dependencies
  examples/with-react-native-web/package.json
Labels: examples

examples(with-devcert-https): add dependencies and fix config
  examples/with-devcert-https/.env
  examples/with-devcert-https/package.json
  examples/with-devcert-https/razzle.config.js
  examples/with-devcert-https/src/App.css
  examples/with-devcert-https/src/App.js
  examples/with-devcert-https/src/index.js
Labels: examples

example(with-devcert-https): fix cors issues
  examples/with-devcert-https/package.json
  examples/with-devcert-https/razzle.config.js
  examples/with-devcert-https/src/server.js
Labels: examples

feat(razzle): add support for staging build with env vars
  package.json
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/env.js
  packages/razzle/package.json
  packages/razzle/scripts/build.js
  yarn.lock
Labels: razzle, webpack, repo

dev-infra: confirm releases using inquirer
  scripts/publish-all.js
Labels: none

docs/info: warn about postcss version, direct to examples
  packages/razzle/config/loadRazzleConfig.js
  website/pages/getting-started.mdx
Labels: razzle, webpack

docs: document new build functionality
  website/pages/getting-started.mdx
Labels: none

docs: add common problems
  website/pages/getting-started.mdx
Labels: none

docs: add link to common problems
  packages/razzle/config/loadRazzleConfig.js
  website/pages/getting-started.mdx
Labels: razzle, webpack

feat(razzle): add noninteractive env var
  packages/razzle/scripts/build.js
Labels: razzle, webpack

feat(razzle): disable prompt on CI
  packages/razzle/scripts/build.js
Labels: razzle, webpack

fix(razzle-dev-utils): correct webpack 4 format
  packages/razzle-dev-utils/printErrors.js
  packages/razzle-dev-utils/printWarnings.js
Labels: none

fix(razzle-dev-utils): use our formatWebpackMessages
  packages/razzle-dev-utils/formatWebpackMessages.js
  packages/razzle-dev-utils/webpackHotDevClient.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/env.js
Labels: razzle, webpack

fix(razzle-dev-utils): test for webpack version instead of types
  packages/razzle-dev-utils/printErrors.js
  packages/razzle-dev-utils/printWarnings.js
Labels: none

docs: add examples to readme
  packages/razzle/README.md
Labels: razzle, webpack

example(with-svelte): document incomplete
  examples/with-svelte/README.md
Labels: examples

dev-infra: run release on ubuntu 18.04
  .github/workflows/release.yml
Labels: none

dev-infra: update yarn lock
  package.json
  yarn.lock
Labels: repo

dev-infra: try setup-node@v2
  .github/workflows/release.yml
Labels: none

dev-infra: publish with npm
  .github/workflows/release.yml
Labels: none

dev-infra: add back name
  .github/workflows/release.yml
Labels: none

dev-infra: add jq dep
  .github/workflows/release.yml
  package.json
  yarn.lock
Labels: repo

dev-infra: remove wrong jq
  .github/workflows/release.yml
  package.json
  yarn.lock
Labels: repo

dev-infra: no \ in pipeline
  .github/workflows/release.yml
Labels: none

dev-infra: add publish-to-npm command
  .github/workflows/release.yml
  package.json
  scripts/publish-to-npm.js
Labels: repo

dev-infra: check pwd
  .github/workflows/release.yml
Labels: none

dev-infra: log rootDir
  .github/workflows/release.yml
  scripts/publish-to-npm.js
Labels: none

dev-infra: set cwd for publish
  scripts/publish-to-npm.js
Labels: none

dev-infra: create .npmrc
  .github/workflows/release.yml
Labels: none

dev-infra: remove extraenous )
  .github/workflows/release.yml
Labels: none

dev-infra: use yarn publish
  scripts/publish-to-npm.js
Labels: none

dev-infra: use shell
  scripts/publish-to-npm.js
Labels: none

dev-infra: switch back to npm
  scripts/publish-to-npm.js
Labels: none
