Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

Update aws.md
  website/pages/deployment-options/aws.md
Labels: none

Update aws.md
  website/pages/deployment-options/aws.md
Labels: none

docs: working aws deployment
  website/pages/deployment-options/aws.md
  website/pages/deployment-options/azure.md
Labels: none

docs:. fix static loading on aws
  website/pages/deployment-options/aws.md
Labels: none

fix(razzle-plugin-less): fix postcss plugin options
  packages/razzle-plugin-less/index.js
Labels: plugins

fix(razzle): update all postcss dependencies
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, plugins, repo

docs: various fixes
  examples/with-module-federation/README.md
  examples/with-react-server-components/README.md
  website/pages/deployment-options/aws.md
Labels: examples

fix(razzle): use array of arrays in postcss plugins, allow override
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-scss/index.js
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack, plugins

fix(razzle): remove debug logging
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

docs: better config modification
  website/pages/deployment-options/aws.md
Labels: none

fix(with-heroku): use new razzle options
  examples/with-heroku/package.json
  examples/with-heroku/razzle.config.js
Labels: examples

dev-infra: start of new dev scripts
  package.json
  package.meta.json
  scripts/bootstrap-examples.js
Labels: repo

deev-infra: add yargs options
  scripts/bootstrap-examples.js
Labels: none

dev-infra: getting closer on new release scripts
  scripts/bootstrap-examples.js
  scripts/publish-all.js
  scripts/update-examples.js
Labels: none

dev-infra: check in changes before testing script
  scripts/publish-all.js
Labels: none

dev-infra: add commit and tag flags to publish-all
  scripts/publish-all.js
Labels: none

dev-infra: update lerna.json aswell
  scripts/publish-all.js
Labels: none

chore: bumped versions to 4.0.0-canary.23
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-bundle-analyzer/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-graphql/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-start-server-webpack-plugin/package.json
  packages/razzle/package.json
  scripts/publish-all.js
Labels: razzle, webpack, plugins

dev-infra: add untagging of current version
  package.json
  scripts/publish-all.js
Labels: repo

chore: bumped versions to 4.0.0-canary.23
  package.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-bundle-analyzer/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-graphql/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-start-server-webpack-plugin/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

Update publish-all.js
  scripts/publish-all.js
Labels: none

chore: bumped versions to 4.0.0-canary.23
  package.json
  scripts/publish-all.js
Labels: repo

dev-infra: be verbose
  scripts/publish-all.js
Labels: none

dev-infra: prettier code
  scripts/publish-all.js
Labels: none

dev-infra: attempt to make working on examples easier
  package.json
  scripts/bootstrap-examples.js
Labels: repo

dev-infra: working bootstrap-examples
  .gitignore
  scripts/bootstrap-examples.js
Labels: repo

examples: make unique names in package.json
  examples/with-devcert-https/package.json
  examples/with-module-federation/package.json
  examples/with-promise-config/package.json
  examples/with-react-server-components/package.json
  examples/with-single-exposed-port/package.json
  scripts/bootstrap-examples.js
Labels: examples

dev-infra: add restrap
  scripts/bootstrap-examples.js
Labels: none

dev-infra: add --push
  scripts/publish-all.js
Labels: none

dev-infra: add back script
  package.json
Labels: repo

dev-infra: add new example script
  package.json
  scripts/new-example.js
Labels: repo

dev-infra: set name in example
  scripts/new-example.js
Labels: none

docs: update contributing
  .github/CONTRIBUTING.md
Labels: none

docs: symlink contributing
  website/pages/contributing.md
  website/pages/meta.json
Labels: none

docs: fix contributing
  .github/CONTRIBUTING.md
Labels: none

docs: fix toc
  .github/CONTRIBUTING.md
Labels: none

Update to `npm export` section of getting-started
  website/pages/getting-started.mdx
Labels: none

Leaving more explicit information for export script
  website/pages/getting-started.mdx
Labels: none

examples: add with-tailwind example
  examples/with-tailwindcss/.gitignore
  examples/with-tailwindcss/README.md
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/public/favicon.ico
  examples/with-tailwindcss/public/robots.txt
  examples/with-tailwindcss/razzle.config.js
  examples/with-tailwindcss/sandbox.config.json
  examples/with-tailwindcss/src/App.css
  examples/with-tailwindcss/src/App.js
  examples/with-tailwindcss/src/App.test.js
  examples/with-tailwindcss/src/client.js
  examples/with-tailwindcss/src/index.js
  examples/with-tailwindcss/src/logo.png
  examples/with-tailwindcss/src/server.js
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/package.json
  yarn.lock
Labels: examples, plugins, repo

Update README.md
  examples/with-tailwindcss/README.md
Labels: examples
