Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

Update isomorphic-examples.test.js
  test/examples/isomorphic-examples.test.js
Labels: none

Update isomorphic-examples.test.js
  test/examples/isomorphic-examples.test.js
Labels: none

examples: update more examples with assets loading
  examples/with-elm/src/server.js
  examples/with-hyperapp/src/server.js
Labels: examples

dev-infra: run chromium in host with docker
  package.json
  test/examples/isomorphic-examples.test.js
  yarn.lock
Labels: repo

dev-infra: add axios
  package.json
  test/examples/isomorphic-examples.test.js
Labels: repo

Update isomorphic-examples.test.js
  test/examples/isomorphic-examples.test.js
Labels: none

examples: fix html-webpack-plugin templates
  examples/basic-spa/public/index.html
  examples/with-module-federation/basic-1/public/index.html
  examples/with-module-federation/basic-2/public/index.html
Labels: examples

feat(create-razzle-app): make verbose show install
  packages/create-razzle-app/lib/utils/install.js
Labels: none

dev-infra: add testing with yalc
  test/examples/isomorphic-examples.test.js
  test/fixtures/util.js
Labels: none

dev-infra: fix testing examples with yalc
  test/examples/isomorphic-examples.test.js
  test/fixtures/util.js
Labels: none

examples(vue): try making example work on webpack5
  examples/with-vue/package.json
  packages/razzle-plugin-vue/package.json
Labels: examples, plugins

examples(with-module-federation): fix prod serve
  examples/with-module-federation/package.json
Labels: examples

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

fix(razzle): add ident and fix for vue-loader
  packages/razzle-plugin-vue/index.js
  packages/razzle/config/createConfigAsync.js
  test/examples/isomorphic-examples.test.js
Labels: razzle, webpack, plugins

dev-infra: install yalc globally
  .github/workflows/examples.yml
  .github/workflows/examples_node14.yml
Labels: none

dev-infra: test the in dev razzle by default
  .github/workflows/examples.yml
  .github/workflows/examples_node14.yml
Labels: none

examples(typescript) fix examples so they work in windows
  examples/with-typeorm-graphql/package.json
  examples/with-typeorm-graphql/tsconfig.json
  examples/with-typescript/package.json
  test/examples/isomorphic-examples.test.js
Labels: examples

Update yarn.lock
  yarn.lock
Labels: repo

examples: update all examples to use same markup rendering
  examples/with-custom-babel-config/src/server.js
  examples/with-custom-devserver-options/package.json
  examples/with-custom-devserver-options/src/server.js
  examples/with-custom-environment-variables/src/server.js
  examples/with-custom-target-babel-config/src/server.js
  examples/with-custom-webpack-config/src/server.js
  examples/with-elm/src/server.js
  examples/with-experimental-refresh/src/server.js
  examples/with-firebase-functions/src/server.js
  examples/with-heroku/src/server.js
  examples/with-hyperapp/src/server.js
  examples/with-inferno/src/server.js
  examples/with-jest-snapshots/src/server.js
  examples/with-jsconfig-paths/src/server.js
  examples/with-jsxstyle/src/server.js
  examples/with-koa/src/server.js
  examples/with-less/src/server.js
  examples/with-material-ui/src/server.js
  examples/with-mdx/src/server.js
  examples/with-monorepo/basic-1/src/server.js
  examples/with-monorepo/basic-2/src/server.js
  examples/with-now-v2/src/server.js
  examples/with-now/src/server.js
  examples/with-polka/src/server.js
  examples/with-preact/src/server.js
  examples/with-react-native-web/src/server.js
  examples/with-react-server-components/maybe/db.server.js
  examples/with-react-server-components/maybe/index.server.js
  examples/with-redux/src/server/index.js
  examples/with-scss-options/src/server.js
  examples/with-scss/src/server.js
  examples/with-styled-components/src/server.js
  examples/with-typeorm-graphql/src/server.tsx
  examples/with-typescript-plugin/src/server.tsx
  examples/with-typescript/src/server.tsx
  examples/with-vendor-bundle/src/server.js
  examples/with-vue-router/src/server.js
  examples/with-vue/src/server.js
Labels: examples

examples: fix issues after updating examples
  examples/with-custom-target-babel-config/src/server.js
  examples/with-jest-snapshots/src/server.js
  examples/with-koa/src/server.js
  examples/with-polka/src/server.js
  examples/with-react-native-web/src/server.js
  examples/with-react-server-components/public/index.html
  examples/with-typeorm-graphql/src/server.tsx
  examples/with-typescript-plugin/src/server.tsx
  examples/with-typescript/src/server.tsx
  examples/with-vue-router/src/server.js
  test/examples/isomorphic-examples.test.js
Labels: examples

examples: fix monorepo examples
  .github/workflows/examples_node14.yml
  examples/with-custom-target-babel-config/src/server.js
  examples/with-module-federation/package.json
  examples/with-monorepo/package.json
  examples/with-polka/src/server.js
  test/examples/isomorphic-examples.test.js
Labels: examples

examples: fix vue example after update
  examples/with-vue-router/src/server.js
  examples/with-vue/src/server.js
Labels: examples

examples(polka): use res.end
  examples/with-polka/src/server.js
Labels: examples

dev-infra: support rerunnig workflow jobs
  .github/workflows/examples.yml
Labels: none

example: add css
  examples/with-react-server-components/public/index.html
Labels: examples

dev-infra: no .flat on node 10
  test/fixtures/util.js
Labels: none

dev-infra: separate artifacts
  .github/workflows/examples.yml
  .github/workflows/examples_node14.yml
Labels: none

dev-infra: skip some tests on node 10 and 13
  test/examples/isomorphic-examples.test.js
Labels: none

dev-infra: log which examples are to b tested
  test/examples/isomorphic-examples.test.js
Labels: none

dev-infra: test only on specific webpack
  examples/with-module-federation/package.json
Labels: examples

fix(create-razzle-app): allow examples with workspaces
  packages/create-razzle-app/lib/utils/install.js
Labels: none

fix(create-razzle-app): pass down verbose
  packages/create-razzle-app/lib/index.js
Labels: none

fix(create-razzle-app): separate add and install args, add dev deps aswell
  packages/create-razzle-app/lib/index.js
  packages/create-razzle-app/lib/utils/install.js
Labels: none

fix(razzle): update react-dev-utils
  .github/workflows/examples.yml
  .github/workflows/examples_node14.yml
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, plugins, repo

dev-infra: separate artifacts by package-manager
  .github/workflows/examples.yml
  .github/workflows/examples_node14.yml
Labels: none

dev-infra: set timeout
  test/examples/isomorphic-examples.test.js
Labels: none

fix(razzle): make it possible to ignore externals
  packages/razzle/config/createConfigAsync.js
  website/pages/getting-started.mdx
  yarn.lock
Labels: razzle, webpack, repo

v3.4.0
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

dev-infra: fix release workflow
  .github/workflows/release.yml
Labels: none

v3.4.1
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
