Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

fix: test more extensions for static export.
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix: test more extensions in static_export
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

v3.3.0-canary.6
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix: change paralell to parallel and document the option
  packages/razzle/scripts/export.js
  website/pages/docs/customization.md
Labels: razzle, webpack

fix: typo and document static export options
  packages/razzle/scripts/export.js
  website/pages/docs/customization.md
Labels: razzle, webpack

fix(razzle): use let so we can redefine config
  packages/razzle/config/createJestConfig.js
Labels: razzle, webpack

fix(razzle): use let so config can be redefined
  packages/razzle/config/createJestConfig.js
Labels: razzle, webpack

v3.3.0-canary.7
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

Fix asyncPool
  packages/razzle/scripts/export.js
Labels: razzle, webpack

fix(razzle): fix asyncPool
  packages/razzle/scripts/export.js
Labels: razzle, webpack

fix(razzle): fix asyncPool
  packages/razzle/scripts/export.js
Labels: razzle, webpack

v3.3.0-canary.8
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

Fix directory separator on Windows for static export
  packages/razzle/scripts/export.js
Labels: razzle, webpack

example: add static export to loadable example
  examples/with-loadable-components/src/server.js
  examples/with-loadable-components/src/static_export.js
Labels: examples

example: add static export to loadable example
  examples/with-loadable-components/src/server.js
  examples/with-loadable-components/src/static_export.js
Labels: examples

example: add yarn export script
  examples/with-loadable-components/package.json
Labels: examples

example: use await
  examples/with-loadable-components/src/static_export.js
Labels: examples

fix(razzle): fix issues with path separator in export
  packages/razzle-dev-utils/FileSizeReporter.js
  packages/razzle/scripts/export.js
Labels: razzle, webpack

v3.3.0-canary.9
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

example: add yarn export script
  examples/with-loadable-components/package.json
Labels: examples

example: use await
  examples/with-loadable-components/src/static_export.js
Labels: examples

fix(razzle): fix issues with path separator in export
  packages/razzle-dev-utils/FileSizeReporter.js
  packages/razzle/scripts/export.js
Labels: razzle, webpack

chore: update yarn.lock
  yarn.lock
Labels: repo

docs: fix link to babel preset
  website/pages/docs/customization.md
Labels: none

fix(razzle): remove feature that should not go in 3.3
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(razzle): remove feature that should not go in 3.3
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(razzle): merge razzle options correctly
  packages/razzle/config/loadRazzleConfig.js
  website/pages/docs/customization.md
Labels: razzle, webpack

dev-infra: fix regex for package tag
  packages/razzle/README.md
  scripts/build-docs.js
Labels: razzle, webpack

docs: document 4.0 migration tips
  website/pages/docs/customization.md
Labels: none

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

add prefresh to example
  examples/with-preact/package.json
  examples/with-preact/razzle.config.js
Labels: examples

add example hook that retains state on HMR
  examples/with-preact/razzle.config.js
  examples/with-preact/src/App.js
  examples/with-preact/src/client.js
Labels: examples

example: add preact prefresh example
  examples/with-preact/.gitignore
  examples/with-preact/package.json
  examples/with-preact/razzle.config.js
  examples/with-preact/src/App.js
  examples/with-preact/src/client.js
Labels: examples

[ImgBot] Optimize images
  website/public/bg.svg
  website/public/favicon.png
  website/public/favicon/android-chrome-192x192.png
  website/public/favicon/android-chrome-512x512.png
  website/public/favicon/apple-touch-icon.png
  website/public/favicon/favicon-32x32.png
  website/public/logo.svg
  website/public/og_image.png
Labels: none

v3.3.0
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

docs: remake readme as symlink
  README.md
Labels: repo

dev-infra: label prs nightly
  .github/workflows/label.yml
Labels: none

Fix Reference errors
  examples/with-loadable-components/src/server.js
Labels: examples

fix(razzle): make newBabel loader be detectable by loaderFinder
  packages/razzle/config/babel-loader/razzle-babel-loader.js
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
