Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

dev-infra: test using jest anyway
  package.json
  test/examples/isomorphic-examples.test.js
Labels: repo

fix(razzle): pass array to printerrors
  packages/razzle/scripts/build.js
Labels: razzle, webpack

fir(razzle): fix postcss8 issues, fix warning logging
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/razzle.config.js
  packages/razzle-dev-utils/package.json
  packages/razzle-dev-utils/printWarnings.js
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle/config/createConfigAsync.js
  packages/razzle/package.json
  packages/razzle/scripts/build.js
  yarn.lock
Labels: examples, razzle, webpack, plugins, repo

Update razzle-build.test.js
  test/e2e/razzle-build.test.js
Labels: none

fix(razzle): back to older postcss loader
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/index.js
  packages/razzle-plugin-scss/package.json
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, plugins, repo

Update razzle-build.test.js
  test/e2e/razzle-build.test.js
Labels: none

fix(razzle-dev-utils): always print warning details
  packages/razzle-dev-utils/printWarnings.js
  test/examples/isomorphic-examples.test.js
Labels: none

fix(razzle): add back css minimizer
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(razzle): add autoprefixer dependency
  packages/razzle/package.json
Labels: razzle, webpack

feat(razzle): add enableSourceMaps razzle option
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/defaultOptions.js
  website/pages/docs/customization.md
Labels: razzle, webpack

fix(razzle): fix more places where enableSourceMaps needs to be applied
  examples/with-typeorm-graphql/razzle.config.js
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-scss/index.js
  packages/razzle/config/createConfigAsync.js
Labels: examples, razzle, webpack, plugins

fix(sass/less): need sourcemaps here
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-scss/index.js
Labels: plugins

examples(with-react-server-components): flesh out more of the example
  examples/with-react-server-components/package.json
  examples/with-react-server-components/razzle.config.js
  examples/with-react-server-components/src/App.css
  examples/with-react-server-components/src/App.js
  examples/with-react-server-components/src/App.server.js
  examples/with-react-server-components/src/App.test.js
  examples/with-react-server-components/src/Cache.client.js
  examples/with-react-server-components/src/EditButton.client.js
  examples/with-react-server-components/src/LocationContext.client.js
  examples/with-react-server-components/src/Note.server.js
  examples/with-react-server-components/src/NoteEditor.client.js
  examples/with-react-server-components/src/NoteList.server.js
  examples/with-react-server-components/src/NoteListSkeleton.js
  examples/with-react-server-components/src/NotePreview.js
  examples/with-react-server-components/src/NoteSkeleton.js
  examples/with-react-server-components/src/Root.client.js
  examples/with-react-server-components/src/SearchField.client.js
  examples/with-react-server-components/src/SidebarNote.client.js
  examples/with-react-server-components/src/SidebarNote.js
  examples/with-react-server-components/src/Spinner.js
  examples/with-react-server-components/src/TextWithMarkdown.js
  examples/with-react-server-components/src/cli.server.js
  examples/with-react-server-components/src/db.server.js
  examples/with-react-server-components/src/index.client.js
  examples/with-react-server-components/src/index.server.js
  scripts/bootstrap-examples.js
Labels: examples

example(with-react-server-components): fix import add plugin
  examples/with-react-server-components/package.json
  examples/with-react-server-components/razzle.config.js
  examples/with-react-server-components/src/index.server.js
Labels: examples

example(with-react-server-components): do not minimize to see where the error is
  examples/with-react-server-components/package.json
  examples/with-react-server-components/razzle.config.js
  package.json
  yarn.lock
Labels: examples, repo

fix: remove unused files
  examples/with-react-server-components/.babelrc.node
  examples/with-react-server-components/.babelrc.web
  examples/with-react-server-components/razzle.config.js
Labels: examples

fix(with-react-server-components): use a basic babelrc
  examples/with-react-server-components/.babelrc
  examples/with-react-server-components/package.json
  examples/with-react-server-components/razzle.config.js
Labels: examples

fix: add back code
  examples/with-react-server-components/src/cli.server.js
  examples/with-react-server-components/src/cli.server.ts
  examples/with-react-server-components/src/index.server.ts
Labels: examples

example: check in latest changes, still a no-go
  examples/with-react-server-components/package.json
  examples/with-react-server-components/razzle.config.js
  examples/with-react-server-components/src/index.server.ts
Labels: examples

examples(with-react-server-components): working build and server
  examples/with-react-server-components/package.json
  examples/with-react-server-components/razzle.config.js
  examples/with-react-server-components/src/index.server.ts
Labels: examples

fix(with-react-server-components): don't minimize to see what is going on
  examples/with-react-server-components/package.json
  examples/with-react-server-components/razzle.config.js
  examples/with-react-server-components/src/Note.server.tsx
Labels: examples

examples(with-react-server-components): add styles and images
  examples/with-react-server-components/public/checkmark.svg
  examples/with-react-server-components/public/chevron-down.svg
  examples/with-react-server-components/public/chevron-up.svg
  examples/with-react-server-components/public/cross.svg
  examples/with-react-server-components/public/favicon.ico
  examples/with-react-server-components/public/logo.svg
  examples/with-react-server-components/public/style.css
Labels: examples

examples(with-react-server-components): working crud with sqlite
  examples/with-react-server-components/notes/.gitkeep
  examples/with-react-server-components/notes/1.md
  examples/with-react-server-components/notes/2.md
  examples/with-react-server-components/notes/3.md
  examples/with-react-server-components/notes/4.md
  examples/with-react-server-components/package.json
  examples/with-react-server-components/public/index.html
  examples/with-react-server-components/scripts/seed.js
  examples/with-react-server-components/src/Note.server.tsx
  examples/with-react-server-components/src/NoteList.server.tsx
  examples/with-react-server-components/src/db.server.ts
  examples/with-react-server-components/src/index.server.ts
Labels: examples

dev-infra: working puppeteer setup
  package.json
  test/examples/isomorphic-examples.test.js
  yarn.lock
Labels: repo

dev-infra: add list of examples
  test/examples/isomorphic-examples.test.js
Labels: none

dev-infra: save screenshot with example name
  test/examples/isomorphic-examples.test.js
Labels: none

dev-infra: log test command output
  test/examples/isomorphic-examples.test.js
Labels: none

dev-infra: fix test, add test dep, fix two examples
  examples/with-rax/package.json
  examples/with-typeorm-graphql/package.json
  examples/with-typeorm-graphql/src/server.tsx
  package.json
  test/examples/isomorphic-examples.test.js
  yarn.lock
Labels: examples, repo

dev-infra: remove requre for kill-port
  test/examples/isomorphic-examples.test.js
Labels: none

fix(example/less-plugin): add dependencies, fix options to less loader
  examples/with-hyperapp/package.json
  packages/razzle-plugin-less/index.js
  test/examples/isomorphic-examples.test.js
Labels: examples, plugins

fix(less-plugin): remove another old option
  packages/razzle-plugin-less/index.js
Labels: plugins

dev-infra: add jest html reporting, assert at the end so cleanup runs, add razzle_meta
  examples/with-custom-environment-variables/package.json
  package.json
  test/examples/isomorphic-examples.test.js
  test/jest.examples.config.json
  yarn.lock
Labels: examples, repo

example(with-rax): add css and script tags
  examples/with-rax/src/server.js
  examples/with-typeorm-graphql/package.json
Labels: examples

example(with-rax): fix using notNodeExternalResMatch
  examples/with-rax/razzle.config.js
  scripts/bootstrap-examples.js
  test/examples/isomorphic-examples.test.js
Labels: examples

example(with-elm): fix configuration
  examples/with-elm/razzle.config.js
Labels: examples

examples(with-reason-react): use hackernews example
  examples/with-reason-react/bsconfig.json
  examples/with-reason-react/jsconfig.json
  examples/with-reason-react/package.json
  examples/with-reason-react/src/App.re
  examples/with-reason-react/src/CommentList.css
  examples/with-reason-react/src/CommentList.re
  examples/with-reason-react/src/CommentsPage.css
  examples/with-reason-react/src/CommentsPage.re
  examples/with-reason-react/src/Counter.re
  examples/with-reason-react/src/Home.re
  examples/with-reason-react/src/Link.re
  examples/with-reason-react/src/NotFound.css
  examples/with-reason-react/src/NotFound.re
  examples/with-reason-react/src/Router.re
  examples/with-reason-react/src/StoryData.re
  examples/with-reason-react/src/StoryListItem.css
  examples/with-reason-react/src/StoryListItem.re
  examples/with-reason-react/src/TopStoriesPage.re
  examples/with-reason-react/src/Utils.re
  examples/with-reason-react/src/client.css
  examples/with-reason-react/src/client.js
  examples/with-reason-react/src/comment.png
  examples/with-reason-react/src/disclosure.png
  examples/with-reason-react/src/disclosure90.png
  examples/with-reason-react/src/index.re
  examples/with-reason-react/src/link.re
  examples/with-reason-react/src/notfound404.png
  examples/with-reason-react/src/registerServiceWorker.js
  examples/with-reason-react/src/server.js
Labels: examples

examples(with-rax): use indexOf instead of contains
  examples/with-rax/razzle.config.js
Labels: examples

examples(with-rax): rax needs to control its own build, removing example
  examples/with-rax/.babelrc
  examples/with-rax/.gitignore
  examples/with-rax/README.md
  examples/with-rax/package.json
  examples/with-rax/razzle.config.js
  examples/with-rax/src/App.js
  examples/with-rax/src/client.js
  examples/with-rax/src/index.js
  examples/with-rax/src/rax.svg
  examples/with-rax/src/server.js
  yarn.lock
Labels: examples, repo

feat(razzle): allow toggling usage of null loader for node target
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

dev-infra: add jest-html-reporters, separate complex example tests
  package.json
  packages/razzle/package.json
  test/examples/isomorphic-examples.test.js
  test/jest.examples.config.js
Labels: razzle, webpack, repo
