Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

dev-infra: add start of example tests workflow
  .github/workflows/test-examples.yml
Labels: none

dev-infra: name workflows
  .github/workflows/nodejs.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
Labels: none

dev-infra: name workflows
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
Labels: none

dev-infra: update workflow
  .github/workflows/test-examples.yml
Labels: none

dev-infra: fix stale workflow
  .github/workflows/examples.yml
Labels: none

dev-infra: checkout correct ref
  .github/workflows/examples.yml
Labels: none

Update examples.yml
  .github/workflows/examples.yml
Labels: none

Create examples.yml
  .github/workflows/examples.yml
Labels: none

Update examples.yml
  .github/workflows/examples.yml
Labels: none

examples: fix fs promises import, fix tests
  examples/with-react-server-components/src/index.server.ts
  package.json
  test/examples/isomorphic-examples.test.js
Labels: examples, repo

Update yarn.lock
  yarn.lock
Labels: repo

dev-infra: no ! here
  .github/workflows/examples.yml
  examples/with-react-server-components/package.json
  test/examples/isomorphic-examples.test.js
Labels: examples

dev-infra: test specific npm tag
  .github/workflows/examples_node14.yml
  test/examples/isomorphic-examples.test.js
Labels: none

Create examples_node14.yml
  .github/workflows/examples_node14.yml
Labels: none

Update isomorphic-examples.test.js
  test/examples/isomorphic-examples.test.js
Labels: none

Update examples_node14.yml
  .github/workflows/examples_node14.yml
Labels: none

Update examples_node14.yml
  .github/workflows/examples_node14.yml
Labels: none

Update examples_node14.yml
  .github/workflows/examples_node14.yml
Labels: none

Update examples_node14.yml
  .github/workflows/examples_node14.yml
Labels: none

dev-infra: use -t
  .github/workflows/examples_node14.yml
  package.json
Labels: repo

Update isomorphic-examples.test.js
  test/examples/isomorphic-examples.test.js
Labels: none

Update isomorphic-examples.test.js
  test/examples/isomorphic-examples.test.js
Labels: none

dev-infra: fix example tests
  examples/with-typeorm-graphql/package.json
  test/examples/isomorphic-examples.test.js
Labels: examples

Update isomorphic-examples.test.js
  test/examples/isomorphic-examples.test.js
Labels: none

Update isomorphic-examples.test.js
  test/examples/isomorphic-examples.test.js
Labels: none

Update examples.yml
  .github/workflows/examples.yml
Labels: none

dev-infra: no ci env
  .github/workflows/examples.yml
  .github/workflows/examples_node14.yml
Labels: none

dev-infra: no ci env
  .github/workflows/examples.yml
  .github/workflows/examples_node14.yml
Labels: none

Update isomorphic-examples.test.js
  test/examples/isomorphic-examples.test.js
Labels: none

Update isomorphic-examples.test.js
  test/examples/isomorphic-examples.test.js
Labels: none

Update isomorphic-examples.test.js
  test/examples/isomorphic-examples.test.js
Labels: none

Update isomorphic-examples.test.js
  test/examples/isomorphic-examples.test.js
Labels: none

log versions
  .github/workflows/examples_node14.yml
Labels: none

Update examples_node14.yml
  .github/workflows/examples_node14.yml
Labels: none

Update examples_node14.yml
  .github/workflows/examples_node14.yml
Labels: none

Update examples_node14.yml
  .github/workflows/examples_node14.yml
Labels: none

fix(create-razzle-app): no github api fetching
  packages/create-razzle-app/lib/index.js
  packages/create-razzle-app/lib/officialExamples.js
  scripts/publish-all.js
  test/e2e/razzle-build.test.js
  test/e2e/razzle-start-spa.test.js
  test/e2e/razzle-start.test.js
Labels: none

fix(razzle-dev-utils): use process.env.WEBPACK_VERSION
  .github/workflows/examples.yml
  packages/razzle-dev-utils/formatWebpackMessages.js
Labels: none

feat(create-razzle-app): add options to use specific package manager
  .github/workflows/examples.yml
  .github/workflows/examples_node14.yml
  packages/create-razzle-app/bin/create-razzle-app
  packages/create-razzle-app/lib/index.js
  packages/create-razzle-app/lib/messages.js
  packages/create-razzle-app/lib/utils/get-install-cmd.js
  packages/create-razzle-app/lib/utils/install.js
  test/examples/isomorphic-examples.test.js
Labels: none

fix(create-razzle-app): fixed issue with --no-install
  packages/create-razzle-app/lib/index.js
  test/e2e/create-razzle-app.test.js
Labels: none
