Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

feat(less-plugin): update lock file
  yarn.lock
Labels: repo

feat(less-plugin): update razzle version
  packages/razzle-plugin-less/package.json
Labels: plugins

feat(less-plugin): add razzle plugin less (#1150)
  examples/with-less/.gitignore
  examples/with-less/README.md
  examples/with-less/package.json
  examples/with-less/public/favicon.ico
  examples/with-less/public/robots.txt
  examples/with-less/razzle.config.js
  examples/with-less/src/App.js
  examples/with-less/src/App.less
  examples/with-less/src/App.test.js
  examples/with-less/src/client.js
  examples/with-less/src/index.js
  examples/with-less/src/other.less
  examples/with-less/src/server.js
  packages/razzle-plugin-less/.eslintrc
  packages/razzle-plugin-less/README.md
  packages/razzle-plugin-less/helpers.js
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-less/tests/index.test.js
  yarn.lock
Labels: examples, plugins, repo

feat(razzle): add support for postcss.config.js (#1266)
  packages/razzle/README.md
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

feat(examples): add with-sass-modules example
  examples/with-scss-modules/README.md
  examples/with-scss-modules/package.json
  examples/with-scss-modules/public/favicon.ico
  examples/with-scss-modules/public/robots.txt
  examples/with-scss-modules/razzle.config.js
  examples/with-scss-modules/src/App.js
  examples/with-scss-modules/src/App.module.scss
  examples/with-scss-modules/src/App.test.js
  examples/with-scss-modules/src/client.js
  examples/with-scss-modules/src/index.js
  examples/with-scss-modules/src/server.js
Labels: examples

fix(scss-plugin): change localIdentName to match main razzle config
  packages/razzle-plugin-scss/index.js
Labels: plugins

fix(sass-plugin): remove minimize option
  packages/razzle-plugin-scss/index.js
Labels: plugins

Use `setupFilesAfterEnv` in Jest Config
  packages/razzle/config/createJestConfig.js
Labels: razzle, webpack

add utils for testing examples with plugins
  test/fixtures/util.js
Labels: none

update css loader, fix css loader options in razzle and scss plugin
  packages/razzle-plugin-scss/index.js
  packages/razzle-plugin-vue/package.json
  packages/razzle/config/createConfig.js
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, plugins, repo

autodetect css modules
  packages/razzle-plugin-scss/index.js
  packages/razzle/config/createConfig.js
Labels: razzle, webpack, plugins

fix: scss modules build (#1281)
  packages/razzle-plugin-scss/index.js
  packages/razzle-plugin-vue/package.json
  packages/razzle/config/createConfig.js
  packages/razzle/package.json
  test/fixtures/util.js
  yarn.lock
Labels: razzle, webpack, plugins, repo

feat(razzle): add experimental support for react-refresh
  examples/with-experimental-refresh/README.md
  examples/with-experimental-refresh/package.json
  examples/with-experimental-refresh/razzle.config.js
  examples/with-experimental-refresh/src/App.css
  examples/with-experimental-refresh/src/App.js
  examples/with-experimental-refresh/src/App.test.js
  examples/with-experimental-refresh/src/client.js
  examples/with-experimental-refresh/src/components/ClickCount.js
  examples/with-experimental-refresh/src/components/ClickCount.module.css
  examples/with-experimental-refresh/src/global.css
  examples/with-experimental-refresh/src/index.js
  examples/with-experimental-refresh/src/server.js
  packages/razzle-dev-utils/webpackHotDevClient.js
  packages/razzle/config/createConfig.js
  packages/razzle/config/env.js
  packages/razzle/package.json
  test/fixtures/util.js
  yarn.lock
Labels: examples, razzle, webpack, repo

fix:(razzle/razzle-plugin-scss/razzle-plugin-less) remove minimize option/add automatic css modules
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-scss/index.js
  packages/razzle-plugin-vue/package.json
  packages/razzle/config/createConfig.js
  packages/razzle/package.json
  test/fixtures/util.js
  yarn.lock
Labels: razzle, webpack, plugins, repo

docs:(docusaurus) added start of docusaurus docs
  docs/babel_config.md
  docs/build_types.md
  docs/contributors.md
  docs/css_modules.md
  docs/environment_variables.md
  docs/extending_webpack.md
  docs/how_razzle_works.md
  docs/plugins.md
  docs/polyfills.md
  docs/quickstart.md
  website/README.md
  website/blog/2020-05-05-added-docusaurus.md
  website/core/Footer.js
  website/i18n/en.json
  website/package.json
  website/pages/en/help.js
  website/pages/en/index_.js
  website/pages/en/users.js
  website/sidebars.json
  website/siteConfig.js
  website/static/css/custom.css
  website/static/img/favicon.ico
  website/static/img/oss_logo.png
  website/static/img/undraw_code_review.svg
  website/static/img/undraw_monitor.svg
  website/static/img/undraw_note_list.svg
  website/static/img/undraw_online.svg
  website/static/img/undraw_open_source.svg
  website/static/img/undraw_operating_system.svg
  website/static/img/undraw_react.svg
  website/static/img/undraw_tweetstorm.svg
  website/static/img/undraw_youtube_tutorial.svg
  website/static/index.html
  website/yarn.lock
Labels: none

fix: correct formatting of --inspect/inspect-brk in start script
  packages/razzle/scripts/start.js
Labels: razzle, webpack

fix:(razzle/scss/less): remove minimize option/add automatic css modules (#1285)
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-scss/index.js
  packages/razzle-plugin-vue/package.json
  packages/razzle/config/createConfig.js
  packages/razzle/package.json
  test/fixtures/util.js
  yarn.lock
Labels: razzle, webpack, plugins, repo

build: add new tools for documentation, update some docs
  .all-contributorsrc
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  README.md
  package.json
  scripts/build-docs.js
  yarn.lock
Labels: repo

build: add new tools for documentation, update some docs
  .all-contributorsrc
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  README.md
  package.json
  scripts/build-docs.js
  yarn.lock
Labels: repo

v3.1.1
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

feat:(razzle) add experimental support for react-refresh
  README.md
  example/README.md
  example/package.json
  example/src/App.css
  example/src/App.js
  example/src/App.test.js
  example/src/client.js
  example/src/components/ClickCount.js
  example/src/components/ClickCount.module.css
  example/src/global.css
  example/src/index.js
  example/src/server.js
  examples/with-experimental-refresh/README.md
  examples/with-experimental-refresh/package.json
  examples/with-experimental-refresh/razzle.config.js
  examples/with-experimental-refresh/src/App.css
  examples/with-experimental-refresh/src/App.js
  examples/with-experimental-refresh/src/App.test.js
  examples/with-experimental-refresh/src/client.js
  examples/with-experimental-refresh/src/components/ClickCount.js
  examples/with-experimental-refresh/src/components/ClickCount.module.css
  examples/with-experimental-refresh/src/global.css
  examples/with-experimental-refresh/src/index.js
  examples/with-experimental-refresh/src/server.js
  packages/razzle-dev-utils/webpackHotDevClient.js
  packages/razzle/config/createConfig.js
  packages/razzle/config/env.js
  packages/razzle/package.json
  yarn.lock
Labels: examples, razzle, webpack, repo

fixed the chunks 404 error
  examples/with-vendor-bundle/src/server.js
Labels: examples

fix: complement CSS loader setup with pre-3.1 configuration
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

fix: update default app template
  packages/create-razzle-app/templates/default/package.json
  packages/create-razzle-app/templates/default/sandbox.config.json
  packages/create-razzle-app/templates/default/src/index.js
Labels: none

Cleaned up the changes
  examples/with-vendor-bundle/src/server.js
Labels: examples

update README on the section of SPA mode
  README.md
Labels: repo

v3.1.2
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

Fix typo
  packages/razzle/scripts/start.js
Labels: razzle, webpack

feat:(less/scss) support postcss.config js and modules in less and scss plugin
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-scss/index.js
Labels: plugins

fix logger import
  packages/razzle/config/modules.js
Labels: razzle, webpack

doc: update section on SPA mode
  README.md
Labels: repo

fix(razzle): logger import (#1299)
  packages/razzle/config/modules.js
Labels: razzle, webpack

v3.1.3
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

feat:(create-razzle-app) add support for npm/github/git/file example templates
  README.md
  packages/create-razzle-app/README.md
  packages/create-razzle-app/bin/create-razzle-app
  packages/create-razzle-app/lib/index.js
  packages/create-razzle-app/lib/utils/copy-dir.js
  packages/create-razzle-app/lib/utils/install.js
  packages/create-razzle-app/lib/utils/load-git-example.js
  packages/create-razzle-app/lib/utils/load-github-example.js
  packages/create-razzle-app/lib/utils/load-npm-example.js
  packages/create-razzle-app/package.json
  test/fixtures/util.js
  test/tests/create-razzle-app.test.js
  yarn.lock
Labels: repo

feat:(examples) add with-single-exposed-port example, remove code that should not be committed
  example/README.md
  example/src/App.css
  example/src/App.js
  example/src/App.test.js
  example/src/components/ClickCount.js
  example/src/components/ClickCount.module.css
  example/src/global.css
  examples/with-single-exposed-port/.gitignore
  examples/with-single-exposed-port/README.md
  examples/with-single-exposed-port/package.json
  examples/with-single-exposed-port/public/favicon.ico
  examples/with-single-exposed-port/public/robots.txt
  examples/with-single-exposed-port/razzle.config.js
  examples/with-single-exposed-port/src/App.js
  examples/with-single-exposed-port/src/client.js
  examples/with-single-exposed-port/src/index.js
  examples/with-single-exposed-port/src/server.js
Labels: examples

Fix code documentation
  examples/with-vendor-bundle/razzle.config.js
Labels: examples

readme: updated url palmerhq -> jaredpalmer
  README.md
Labels: repo

doc:(readme) updated url palmerhq -> jaredpalmer
  README.md
Labels: repo

feat:(typescript) add support for typescript to razzle core, deprecate typescript plugin
  .prettierrc
  examples/with-typescript/README.md
  examples/with-typescript/package.json
  examples/with-typescript/razzle.config.js
  examples/with-typescript/src/App.test.tsx
  examples/with-typescript/src/declarations.d.ts
  examples/with-typescript/src/index.ts
  examples/with-typescript/src/setupTests.ts
  examples/with-typescript/tsconfig.json
  examples/with-typescript/tslint.json
  examples/with-typescript/typings/index.d.ts
  package.json
  packages/babel-preset-razzle/index.js
  packages/babel-preset-razzle/package.json
  packages/razzle-plugin-typescript/README.md
  packages/razzle-plugin-typescript/index.js
  packages/razzle/config/createConfig.js
  packages/razzle/config/createJestConfig.js
Labels: examples, razzle, webpack, plugins, repo

dev-infra(jest): update jest version
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, plugins, repo
