Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

[ImgBot] Optimize images
  examples/with-react-server-components/public/checkmark.svg
  examples/with-react-server-components/public/chevron-down.svg
  examples/with-react-server-components/public/chevron-up.svg
  examples/with-react-server-components/public/cross.svg
  examples/with-react-server-components/public/logo.svg
  examples/with-reason-react/src/comment.png
  examples/with-reason-react/src/disclosure.png
  examples/with-reason-react/src/disclosure90.png
  examples/with-reason-react/src/notfound404.png
  website/public/bg.svg
  website/public/favicon.png
  website/public/favicon/android-chrome-192x192.png
  website/public/favicon/android-chrome-512x512.png
  website/public/favicon/apple-touch-icon.png
  website/public/favicon/favicon-32x32.png
  website/public/logo.svg
  website/public/og_image.png
Labels: examples

feat(build-script) add development build feature
  examples/with-development-build/README.md
  examples/with-development-build/gitignore
  examples/with-development-build/package.json
  examples/with-development-build/public/favicon.ico
  examples/with-development-build/public/robots.txt
  examples/with-development-build/sandbox.config.json
  examples/with-development-build/src/App.css
  examples/with-development-build/src/App.js
  examples/with-development-build/src/App.test.js
  examples/with-development-build/src/client.js
  examples/with-development-build/src/index.js
  examples/with-development-build/src/server.js
  package.json
  packages/razzle/scripts/build.js
  yarn.lock
Labels: examples, razzle, webpack, repo

Add @silviubogan as a contributor
  .all-contributorsrc
Labels: repo

with-typescript example uses StaticRouterContext
  examples/with-typescript/src/server.tsx
Labels: examples

feat(build-script): add development build feature
  examples/with-development-build/README.md
  examples/with-development-build/gitignore
  examples/with-development-build/package.json
  examples/with-development-build/public/favicon.ico
  examples/with-development-build/public/robots.txt
  examples/with-development-build/sandbox.config.json
  examples/with-development-build/src/App.css
  examples/with-development-build/src/App.js
  examples/with-development-build/src/App.test.js
  examples/with-development-build/src/client.js
  examples/with-development-build/src/index.js
  examples/with-development-build/src/server.js
  packages/razzle/scripts/build.js
Labels: examples, razzle, webpack

Add @silviubogan as a contributor
  .all-contributorsrc
Labels: repo

docs(example) improve with-development-build's README
  examples/with-development-build/README.md
  package.json
  yarn.lock
Labels: examples, repo

Undo changes in razzle's package.json
  package.json
Labels: repo

feat: add support for dev build
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

dev: update yarn.lock
  yarn.lock
Labels: repo

fix(razzle): fix optimizaton cofig in dev buil
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(razzle): fix the optimization in both places
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

test(razzle): add test for development build
  test/e2e/razzle-build.test.js
Labels: none

fix(razzle): make manifest path relative in builds
  packages/razzle/config/env.js
Labels: razzle, webpack

Revert "fix(razzle): make manifest path relative in builds"
  packages/razzle/config/env.js
Labels: razzle, webpack

Fix .eslintrc.js
  examples/with-typescript-plugin/.eslintrc.js
Labels: examples

Add razzle-plugin-marko
  .gitignore
  examples/with-marko/.gitignore
  examples/with-marko/README.md
  examples/with-marko/package.json
  examples/with-marko/public/favicon.svg
  examples/with-marko/public/robots.txt
  examples/with-marko/razzle.config.js
  examples/with-marko/sandbox.config.json
  examples/with-marko/src/client.js
  examples/with-marko/src/index.js
  examples/with-marko/src/server.js
  examples/with-marko/src/views/App.css
  examples/with-marko/src/views/App.marko
  examples/with-marko/src/views/www.marko
  yarn.lock
Labels: examples, repo

fix: StaticRouterContext should be imported from "react-router"
  examples/with-typescript/src/server.tsx
Labels: examples

chore: added "cache" folder to .gitignore
  examples/with-typescript/.gitignore
Labels: examples

chore: add new monorepo setup
  .eslintignore
  .eslintrc
  .gitignore
  .pnpm-debug.log
  jest.config.js
  jestconfig.base.js
  lerna.json
  package.json
  packages/razzle/package.json
  packages/razzle/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml 
  tsconfig.json
Labels: razzle, webpack, repo

- Removed extraneous blank line added in previous commit
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

- Responded to more reviewer feedback by moving the new `require()` up to the top and collecting common options and `Object.assign()`ing the v3 and v3 specific ones
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

- Responded to feedback by moving the `devServerMajorVersion` up to the top of the file
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(razzle-dev-utils): fix createSocketUrl module path
  packages/razzle-dev-utils/webpackHotDevClient.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/env.js
Labels: razzle, webpack

Revert "fix(razzle-dev-utils): fix createSocketUrl module path"
  packages/razzle-dev-utils/webpackHotDevClient.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/env.js
Labels: razzle, webpack

- Removed extraneous `console.error()`
  packages/razzle-dev-utils/webpackHotDevClient.js
Labels: none

- Fixed the initialization of `createSocketUrl` variable to happen before it is used
  packages/razzle-dev-utils/webpackHotDevClient.js
Labels: none

- Simplify `verbose: verbose` down to `verbose` during object declaration
  packages/razzle/scripts/start.js
Labels: razzle, webpack

- Fixed spelling in a comment
  packages/razzle/scripts/start.js
Labels: razzle, webpack

- Fix another comment
  packages/razzle/scripts/start.js
Labels: razzle, webpack

- Fixed another comment
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

- Responded to reviewer feedback to use the **callback** versions of `start()` and `stop()` with a generic error handler
  packages/razzle/scripts/start.js
Labels: razzle, webpack

Fix razzle-dev-utils to add new devServerMajor.js to files - Hopefully the last change to fix #1704
  packages/razzle-dev-utils/package.json
Labels: none

Update package.json to include the repository
  examples/basic/package.json
  examples/with-custom-babel-config/package.json
  examples/with-custom-environment-variables/package.json
  examples/with-custom-webpack-config/package.json
  examples/with-elm/package.json
  examples/with-firebase-functions/package.json
  examples/with-heroku/package.json
  examples/with-hyperapp/package.json
  examples/with-inferno/package.json
  examples/with-jsxstyle/package.json
  examples/with-koa/package.json
  examples/with-loadable-components/package.json
  examples/with-material-ui/package.json
  examples/with-mdx/package.json
  examples/with-now/package.json
  examples/with-polka/package.json
  examples/with-preact/package.json
  examples/with-react-native-web/package.json
  examples/with-reason-react/package.json
  examples/with-redux/package.json
  examples/with-scss/package.json
  examples/with-styled-components/package.json
  examples/with-typescript/package.json
  examples/with-vendor-bundle/package.json
Labels: examples

:tada: added plugin to load markdown files as html
  examples/with-markdown/.gitignore
  examples/with-markdown/README.md
  examples/with-markdown/package.json
  examples/with-markdown/public/favicon.ico
  examples/with-markdown/public/robots.txt
  examples/with-markdown/razzle.config.js
  examples/with-markdown/src/App.css
  examples/with-markdown/src/App.js
  examples/with-markdown/src/App.md
  examples/with-markdown/src/App.test.js
  examples/with-markdown/src/client.js
  examples/with-markdown/src/index.js
  examples/with-markdown/src/server.js
  package.json
  packages/razzle-plugin-markdown/.eslintrc
  packages/razzle-plugin-markdown/README.md
  packages/razzle-plugin-markdown/helpers.js
  packages/razzle-plugin-markdown/index.js
  packages/razzle-plugin-markdown/package.json
  packages/razzle-plugin-markdown/tests/index.test.js
  website/pages/plugins/meta.json
  website/pages/plugins/razzle-plugin-markdown.md
Labels: examples, plugins, repo

:pencil: update documentation
  packages/razzle-plugin-markdown/README.md
Labels: plugins

Implemented using create-razzle-app to create project in existing folder
  packages/create-razzle-app/lib/index.js
  packages/create-razzle-app/lib/messages.js
Labels: none

Implemented using create-razzle-app to create project in existing folder (spacing)
  packages/create-razzle-app/lib/messages.js
Labels: none

chore: add packages
  packages/razzle-plugin-jest/package.json
  packages/razzle-plugin-jest/tsconfig.json
  packages/razzle-plugin-webpack5-media/package.json
  packages/razzle-plugin-webpack5-media/tsconfig.json
  packages/razzle-plugin-webpack5/package.json
  packages/razzle-plugin-webpack5/tsconfig.json
Labels: plugins

Fix (razzle-dev-utils): make webpackHotDevClient work w/ webpack-dev-server v4
  packages/razzle-dev-utils/webpackHotDevClient.js
Labels: none
