Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

dev-infra: use correct registry
  scripts/publish-to-npm.js
Labels: none

dev-infra: use access public
  scripts/publish-to-npm.js
Labels: none

chore: fix repository in packages
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-bundle-analyzer/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-graphql/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-svelte/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle-start-server-webpack-plugin/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins

dev-infra: do a npm profile get
  .github/workflows/release.yml
  scripts/publish-to-npm.js
Labels: none

dev-infra: try always auth
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Update publish-to-npm.js
  scripts/publish-to-npm.js
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

fix(razzle): add missing callback in build move watchignoreplugin
  packages/razzle/config/createConfigAsync.js
  packages/razzle/scripts/build.js
Labels: razzle, webpack

fix(razzle): remove wrong comment
  packages/razzle/scripts/build.js
Labels: razzle, webpack

Update .gitignore
  .gitignore
Labels: repo

fix(razzle): remove unused deps
  packages/razzle/config/createConfigAsync.js
  packages/razzle/package.json
Labels: razzle, webpack

fix(razzle-dev-utils): use relative require
  packages/razzle-dev-utils/webpackHotDevClient.js
Labels: none

fix(create-razzle-app): remove unused deps
  packages/create-razzle-app/package.json
Labels: none

fix(babel-preset-razzle): remove unused deps
  packages/babel-preset-razzle/package.json
Labels: none

Update yarn.lock
  yarn.lock
Labels: repo

fix(razzle): silence warnings if verbose not set
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
Labels: razzle, webpack

dev-infra: fix ci deps
  .github/workflows/nodejs.yml
  package.json
  yarn.lock
Labels: repo

dev-infra: remove direct dependency
  package.json
Labels: repo

fix(razzle-plugin-mdx): fix fileLoaderExclude
  packages/razzle-plugin-mdx/index.js
  test/examples/isomorphic-examples.test.js
Labels: plugins

examples: update webpack version
  examples/with-typeorm-graphql/package.json
Labels: examples

docs: update upgrade guide
  website/pages/docs/upgrade-guide.md
Labels: none

docs: be more specific
  package.json
  website/pages/docs/upgrade-guide.md
  website/pages/getting-started.mdx
Labels: repo

docs: fix error in docs
  website/pages/docs/upgrade-guide.md
Labels: none

fix(create-razzle-app): add back missing dependency
  packages/create-razzle-app/package.json
Labels: none

fix(create-razzle-app): copy dot files
  packages/create-razzle-app/lib/utils/copy-dir.js
Labels: none

fix(create-razzle-app): add --verbose arg
  packages/create-razzle-app/bin/create-razzle-app
  packages/create-razzle-app/lib/index.js
Labels: none

feat(create-razzle-app): add verbose logging
  packages/create-razzle-app/lib/index.js
  packages/create-razzle-app/lib/utils/load-example.js
Labels: none

fix(create-razzle-app): use correct commander version
  packages/create-razzle-app/package.json
Labels: none

example: dont use verbose option
  examples/with-typeorm-graphql/razzle.config.js
Labels: examples
