Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

feat(razzle): add more hooks for externals, add IS_SERVERLESS, add debug flag
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/defaultOptions.js
  website/pages/docs/customization.md
Labels: razzle, webpack

dev-infra: fix release script
  scripts/publish-all.js
Labels: none

feat(razzle): pass context to notNodeExternalResMatch
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(razzle): Use 'request' when externalizing modules for node externals.
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(babel-preset-razzle): dont use jsx pragma if preset env runtime is automatic
  packages/babel-preset-razzle/index.js
  yarn.lock
Labels: repo

dev-infra: update webpack5 testing version
  .github/workflows/nodejs.yml
Labels: none

dev-infra: add react refresh test
  test/tests/razzle-start.test.js
Labels: none

dev-infra: update yarn.lock
  package.json
  yarn.lock
Labels: repo

fix(examples): use correct option for react refresh
  examples/with-experimental-refresh/razzle.config.js
Labels: examples

fix(examples): fix typo
  examples/with-experimental-refresh/razzle.config.js
Labels: examples

docs: add package-specific documentation links (#12531)
  package.json
Labels: repo

fix(razzle): update react-refresh and webpack plugin for webpack5
  .github/CONTRIBUTING.md
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

Update yarn.lock
  yarn.lock
Labels: repo

fix(examples): update more examples with new asset handling
  examples/with-promise-config/src/server.js
  examples/with-single-exposed-port/src/server.js
Labels: examples

feat(examples): add with-devcert-https example
  examples/with-devcert-https/.gitignore
  examples/with-devcert-https/README.md
  examples/with-devcert-https/package.json
  examples/with-devcert-https/public/favicon.ico
  examples/with-devcert-https/public/robots.txt
  examples/with-devcert-https/razzle.config.js
  examples/with-devcert-https/src/App.js
  examples/with-devcert-https/src/client.js
  examples/with-devcert-https/src/index.js
  examples/with-devcert-https/src/server.js
Labels: examples

fix(examples): fix with-devcert-https example
  examples/with-devcert-https/razzle.config.js
Labels: examples

fix(examples): fix with-devcert-https readme
  examples/with-devcert-https/README.md
Labels: examples

fix(razzle): fix modifyOptions plugin handling
  packages/razzle/config/loadRazzleConfig.js
Labels: razzle, webpack

fix(razzle): don't quiet server compiler if verbose
  packages/razzle/scripts/start.js
Labels: razzle, webpack

fix(examples): use more hooks and correct options
  examples/with-devcert-https/razzle.config.js
Labels: examples

[babel 8] Type checking preset-typescript options (#12460)
  src/index.js
  src/normalize-options.js
  test/normalize-options.spec.js
Labels: none

fix(razzle): fix plugin.modifyOptions
  packages/razzle/config/loadRazzleConfig.js
Labels: razzle, webpack

[babel 8] Enable `allowDeclareFields` option by default with TS (#12461)
  src/index.js
  src/normalize-options.js
  test/normalize-options.spec.js
Labels: none

v3.3.10
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(razzle): run setupEnvironment before modifyOptioms
  packages/razzle/config/loadRazzleConfig.js
Labels: razzle, webpack

fix(razzle): fix wds served from message
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

dev-infra: fix try-example yarn install
  test/fixtures/util.js
Labels: none

fix(razzle-start-server-webpack-plugin): use write to stderr/stdout
  packages/razzle-start-server-webpack-plugin/dist/StartServerPlugin.js
  packages/razzle-start-server-webpack-plugin/src/StartServerPlugin.js
Labels: none

fix(razzle-start-server-webpack-plugin): support colors in startserver
  packages/razzle-start-server-webpack-plugin/dist/StartServerPlugin.js
  packages/razzle-start-server-webpack-plugin/src/StartServerPlugin.js
Labels: none

feat(razzle): add compile debug flag
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
Labels: razzle, webpack

v3.3.11
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

dev-infra: add resolutionsYalc so sub deps are replaced aswell
  test/fixtures/util.js
Labels: none

dev-infra: add script in dev
  scripts/yalc-publish-all.js
  test/fixtures/util.js
Labels: none

fix(examples): working with monorepo example,
  examples/with-monorepo/basic-1/package.json
  examples/with-monorepo/basic-2/package.json
  examples/with-monorepo/package.json
  test/fixtures/util.js
Labels: examples

fix(examples): monorepo example running as expected
  examples/with-monorepo/package.json
Labels: examples

fix(examples): fix static dir in with-monorepo example
  examples/with-monorepo/basic-1/src/server.js
  examples/with-monorepo/basic-2/src/server.js
Labels: examples

fix(examples): upgrade react and react-dom in examples
  examples/basic-spa/package.json
  examples/basic/package.json
  examples/with-all-experimental/package.json
  examples/with-custom-babel-config/package.json
  examples/with-custom-devserver-options/package.json
  examples/with-custom-environment-variables/package.json
  examples/with-custom-webpack-config/package.json
  examples/with-devcert-https/package.json
  examples/with-experimental-refresh/package.json
  examples/with-firebase-functions/package.json
  examples/with-heroku/package.json
  examples/with-jest-snapshots/package.json
  examples/with-jsconfig-paths/package.json
  examples/with-jsxstyle/package.json
  examples/with-koa/package.json
  examples/with-less/package.json
  examples/with-loadable-components/package.json
  examples/with-material-ui/package.json
  examples/with-mdx/package.json
  examples/with-monorepo/basic-1/package.json
  examples/with-monorepo/basic-2/package.json
  examples/with-monorepo/package.json
  examples/with-now-v2/package.json
  examples/with-now/package.json
  examples/with-polka/package.json
  examples/with-preact/package.json
  examples/with-promise-config/package.json
  examples/with-react-native-web/package.json
  examples/with-react-router/package.json
  examples/with-reason-react/package.json
  examples/with-redux/package.json
  examples/with-scss-options/package.json
  examples/with-scss/package.json
  examples/with-single-exposed-port/package.json
  examples/with-styled-components/package.json
  examples/with-typescript/package.json
  examples/with-vendor-bundle/package.json
  package.json
  packages/create-razzle-app/templates/default/package.json
  scripts/exampleDependencyVersions.json
Labels: examples, repo

dev-infra: update yarn.lock
  yarn.lock
Labels: repo

fix(razzle): allow toggling htmlWebpack plugin
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(razzle): fix localIdentName for css modules in server
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack
