Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

chore: try a release
  .changeset/great-turtles-sort.md
Labels: none

chore: try release again
  .changeset/great-turtles-sort.md
Labels: none

fix: set basebranch
  .changeset/config.json
Labels: none

chore: switch to yarn
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: repo

chore update dependencies
  .changeset/config.json
  .changeset/pre.json
  examples/basic-webpack5-babelrc/package.json
  examples/basic-webpack5-esm/package.json
  examples/basic-webpack5-nextra/package.json
  examples/basic-webpack5/package.json
  packages/razzle-babel-loader/package.json
  packages/razzle-nextra-theme-docs/package.json
  packages/razzle-plugin-webpack5-assets/package.json
  packages/razzle-plugin-webpack5-babel/package.json
  packages/razzle-plugin-webpack5-browserslist/package.json
  packages/razzle-plugin-webpack5-css/package.json
  packages/razzle-plugin-webpack5-externals/package.json
  packages/razzle-plugin-webpack5-nextra/package.json
  packages/razzle-plugin-webpack5-pages/package.json
  packages/razzle-plugin-webpack5-postcss/package.json
  packages/razzle-plugin-webpack5/package.json
  yarn.lock
Labels: examples, plugins, repo

fixed-start-prod-for-fastify-server
  examples/with-fastify/src/server.tsx
Labels: examples

add support for type:module razzle.config.js
  packages/razzle/config/loadRazzleConfig.js
Labels: razzle, webpack

add comment, change fn name
  packages/razzle/config/loadRazzleConfig.js
Labels: razzle, webpack

fix a missing comma in code sample
  website/pages/docs/customization.md
Labels: none

chore: add changeset
  .changeset/nervous-sloths-stare.md
Labels: none

chore: add changeset packages
  .changeset/tough-avocados-hide.md
  package.json
  yarn.lock
Labels: repo

Fix typescript examples error
  examples/with-typescript-plugin/package.json
  examples/with-typescript/package.json
Labels: examples

Add dot config option to CopyPlugin to include hidden files when copying public folder
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

remove deprecated use from vercel deployment example
  website/pages/deployment-options/vercel.md
Labels: none

Rename to Edgio
  website/pages/deployment-options/layer0.md
Labels: none

Rename in meta.json as well
  website/pages/deployment-options/meta.json
Labels: none

grammar adjustmants for the with-typescript example's readme
  examples/with-typescript/README.md
Labels: examples

Use bugfixes from dependency
  packages/razzle-dev-utils/package.json
Labels: none

Use correct version of package
  packages/razzle-dev-utils/package.json
Labels: none

avoid requiring package.json twice
  packages/razzle/config/loadRazzleConfig.js
Labels: razzle, webpack

Release
  .changeset/lovely-candles-heal.md
Labels: none

Update layer0.md
  website/pages/deployment-options/layer0.md
Labels: none

Rename layer0.md to edgio.md
  website/pages/deployment-options/edgio.md
Labels: none

Update meta.json
  website/pages/deployment-options/meta.json
Labels: none

prevent calling stats.toJson()
  packages/razzle-dev-utils/FriendlyErrorsPlugin.js
  packages/razzle/scripts/build.js
Labels: razzle, webpack

Fix broken link.
  packages/razzle-dev-utils/README.md
Labels: none
