Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

dev-infra: disable labeler action for forks
  .github/workflows/label.yml
Labels: none

dev-infra: disable labeler action for forks
  .github/workflows/label.yml
Labels: none

dev-infra: use cache to speed up ci testing
  .github/workflows/nodejs.yml
Labels: none

dev-infra: apply pull request labels hourly
  .github/workflows/label.yml
Labels: none

dev-infra: apply pull request labels hourly
  .github/workflows/label.yml
Labels: none

dev-infra: use tag for github action
  .github/workflows/label.yml
Labels: none

dev-infra: rename labeler.yml to labels.yml
  .github/labels.yml
Labels: none

dev-infra: use tag for github action, rename labeler.yml to labels.yml
  .github/labels.yml
  .github/workflows/label.yml
Labels: none

fix(scss): add mini-css-extract-plugin to peerDependencies to fix npm install
  packages/razzle-plugin-scss/package.json
Labels: plugins

fix(scss/less): add mini-css-extract-plugin to peerDependencies to fix npm install
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/package.json
Labels: plugins

v3.1.5
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix: packages/razzle-plugin-vue/package.json & packages/razzle-plugin-vue/.snyk to reduce vulnerabilities
  packages/razzle-plugin-vue/.snyk
  packages/razzle-plugin-vue/package.json
Labels: plugins

fix: packages/razzle-plugin-php/package.json & packages/razzle-plugin-php/.snyk to reduce vulnerabilities
  packages/razzle-plugin-php/.snyk
  packages/razzle-plugin-php/package.json
Labels: plugins

fix: packages/razzle/package.json & packages/razzle/.snyk to reduce vulnerabilities
  packages/razzle/.snyk
  packages/razzle/package.json
Labels: razzle, webpack

fix: packages/razzle-plugin-elm/package.json & packages/razzle-plugin-elm/.snyk to reduce vulnerabilities
  packages/razzle-plugin-elm/.snyk
  packages/razzle-plugin-elm/package.json
Labels: plugins

Update pkg.json
  website/package.json
Labels: none

Add vercel
  .gitignore
Labels: repo

Fix build
  website/pages/getting-started.mdx
Labels: none

Fix env-variables
  website/components/features.js
  website/pages/docs/environment-variables.md
Labels: none

[ImgBot] Optimize images
  website/Logo.svg
  website/favicon.png
  website/public/bg.svg
  website/public/favicon/android-chrome-192x192.png
  website/public/favicon/android-chrome-512x512.png
  website/public/favicon/apple-touch-icon.png
  website/public/og_image.png
Labels: none

fix: packages/razzle/package.json to reduce vulnerabilities
  packages/razzle/package.json
Labels: razzle, webpack

Add assetPrefix
  website/next.config.js
Labels: none

New domain
  website/next.config.js
  website/nextra.config.js
Labels: none

Fix favicons
  website/public/favicon.png
  website/public/favicon/android-chrome-192x192.png
  website/public/favicon/android-chrome-512x512.png
  website/public/favicon/apple-touch-icon.png
  website/public/favicon/favicon-16x16.png
  website/public/favicon/favicon-32x32.png
  website/public/favicon/favicon.ico
  website/public/favicon/site.webmanifest
Labels: none

Clean up
  website/favicon.png
  website/nextra.config.js
  website/pages/docs/arguments.md
  website/public/logo.svg
Labels: none

Tweaks
  website/components/features.js
  website/nextra.config.js
Labels: none

Tweak tagline
  website/nextra.config.js
Labels: none

Fix og image
  website/nextra.config.js
Labels: none

Updates
  website/nextra.config.js
Labels: none

feat(razzle): save chunk id to chunks.json
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

chore: update format script
  package.json
Labels: repo

chore: update format script (#1351)
  package.json
Labels: repo

feat(razzle): save chunk id to chunks.json (#1352)
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

fix(website): Wrong HTML attributes on <Search />
  website/.nextra/search.js
Labels: none

fix(website): Wrong HTML attributes on <Search /> (#1354)
  website/.nextra/search.js
Labels: none

feat: add prerender with example
  .all-contributorsrc
  .github/CONTRIBUTING.md
  README.md
  examples/with-react-router/package.json
  examples/with-react-router/razzle.config.js
  examples/with-react-router/routes.json
  examples/with-react-router/src/server.js
  packages/razzle-dev-utils/FileSizeReporter.js
  packages/razzle-dev-utils/package.json
  packages/razzle/bin/razzle.js
  packages/razzle/config/createConfig.js
  packages/razzle/config/paths.js
  packages/razzle/package.json
  packages/razzle/scripts/build.js
  packages/razzle/scripts/prerender.js
  yarn.lock
Labels: examples, razzle, webpack, repo

feat(razzle): rename routes.json to paths.js
  packages/razzle/scripts/prerender.js
Labels: razzle, webpack

feat(razzle): await for imported_routes()
  packages/razzle/scripts/prerender.js
Labels: razzle, webpack

feat(razzle): read data from res.json
  packages/razzle/scripts/prerender.js
Labels: razzle, webpack

feat(razzle): Update Prerender.js
  packages/razzle/scripts/prerender.js
Labels: razzle, webpack

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
