Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

feat: save exported routes so they can be used in data fetching decisions
  packages/razzle/config/paths.js
  packages/razzle/scripts/export.js
Labels: razzle, webpack

docs: document static export
  website/pages/docs/customization.md
  website/pages/getting-started.mdx
Labels: none

fix: remove static here
  website/pages/docs/customization.md
Labels: none

Update createConfig.js
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

fix: keep createConfig in sync'ish
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

fix: remove files that are not needed
  examples/with-react-router/paths.js
  examples/with-react-router/razzle.config.js
Labels: examples

feat: add static routes js to output html
  examples/with-react-router/package.json
  examples/with-react-router/src/server.js
  packages/razzle/scripts/export.js
Labels: examples, razzle, webpack

docs: document the example with export
  examples/with-react-router/README.md
Labels: examples

fix: mace basic example easy to upgrade to static rendering
  examples/basic/src/server.js
Labels: examples

fix(razzle): manifest chunk name fallback to entry.id
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

fix: remove lines that snuk in during testing
  test/tests/razzle-start-spa.test.js
Labels: none

v3.1.6
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(razzle): manifest chunk name fallback to entry.id
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

fix(razzle): manifest chunk name fallback to entry.id
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

feat: add more options to static export
  packages/razzle/scripts/export.js
  website/pages/docs/customization.md
Labels: razzle, webpack

fix: remove new lines
  packages/razzle/scripts/export.js
Labels: razzle, webpack

fix: print errors if returned in json
  packages/razzle/scripts/export.js
Labels: razzle, webpack

fix: strip any leading slashes on paths
  packages/razzle/scripts/export.js
Labels: razzle, webpack

fix: strip off any start or end slashes
  packages/razzle/scripts/export.js
Labels: razzle, webpack

dev-infra: update plugin versions in update-examples
  examples/with-mdx/package.json
  examples/with-scss-options/package.json
  examples/with-scss/package.json
  examples/with-vue-router/package.json
  examples/with-vue/package.json
  scripts/update-examples.js
Labels: examples

dev-infra: replace next with canary in allowBranch
  lerna.json
Labels: repo

v3.2.0-canary.0
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

v3.2.0-canary.1
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

dev-infra: update plugin versions in update-examples
  scripts/update-examples.js
Labels: none

dev-infra: replace next with canary in allowBranch
  lerna.json
Labels: repo

dev-infra: correct readmePath
  scripts/build-docs.js
Labels: none

feat: add data routes variable
  packages/razzle/scripts/export.js
Labels: razzle, webpack

fix: don't strip slashes before render
  packages/razzle/scripts/export.js
Labels: razzle, webpack

fix: report json assets
  packages/razzle-dev-utils/FileSizeReporter.js
Labels: none

chore: run prettier
  packages/razzle-dev-utils/FileSizeReporter.js
  packages/razzle/README.md
  packages/razzle/config/createConfig.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/scripts/export.js
Labels: razzle, webpack

fix: update all exported htmlfiles
  packages/razzle/scripts/export.js
Labels: razzle, webpack

fix: better script insertion
  packages/razzle/scripts/export.js
Labels: razzle, webpack

feat(razzle): add new externals resolution as a experimental feature
  packages/razzle-dev-utils/package.json
  packages/razzle-dev-utils/resolveRequest.js
  packages/razzle/config/createConfigAsync.js
  yarn.lock
Labels: razzle, webpack, repo

feat(razzle): add new babel configuration
  packages/babel-preset-razzle/babel-plugins/amp-attributes.js
  packages/babel-preset-razzle/babel-plugins/commonjs.js
  packages/babel-preset-razzle/babel-plugins/jsx-pragma.js
  packages/babel-preset-razzle/babel-plugins/no-anonymous-default-export.js
  packages/babel-preset-razzle/babel-plugins/optimize-hook-destructuring.js
  packages/babel-preset-razzle/package.json
  packages/babel-preset-razzle/razzle-four-preset.js
  packages/razzle-dev-utils/package.json
  packages/razzle/config/babel/razzle-babel-loader.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

feat(razzle): add razzle export to export static site
  .github/CONTRIBUTING.md
  README.md
  examples/basic/src/server.js
  examples/with-react-router/README.md
  examples/with-react-router/package.json
  examples/with-react-router/src/server.js
  examples/with-react-router/src/static_export.js
  packages/razzle-dev-utils/FileSizeReporter.js
  packages/razzle-dev-utils/package.json
  packages/razzle/README.md
  packages/razzle/bin/razzle.js
  packages/razzle/config/createConfig.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/paths.js
  packages/razzle/package.json
  packages/razzle/scripts/build.js
  packages/razzle/scripts/export.js
  website/pages/docs/customization.md
  website/pages/getting-started.mdx
Labels: examples, razzle, webpack, repo

feat(razzle): test jest version in config validatio, fix issue with async
  packages/razzle/config/createJestConfig.js
  packages/razzle/scripts/test.js
Labels: razzle, webpack

fix(razzle): add a missing dependency and require
  packages/razzle/config/modules.js
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

v3.2.0-canary.2
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(razzle): add a missing dependency and require
  packages/razzle/config/modules.js
  packages/razzle/package.json
Labels: razzle, webpack

fix(create-razzle-app): respect branch in install
  packages/create-razzle-app/lib/index.js
  scripts/update-examples.js
Labels: none
