Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

feat: move experimental section to new page
  website/pages/docs/customization.md
  website/pages/docs/experimental-features.md
Labels: none

feat: move static export section to new page
  website/pages/docs/meta.json
  website/pages/docs/static-export.md
Labels: none

feat: move files in nav menu
  website/pages/docs/experimental-features.md
  website/pages/docs/meta.json
  website/pages/meta.json
  website/pages/single-page-applications.mdx
  website/pages/static-export.mdx
Labels: none

feat: add examples to static export
  website/pages/static-export.mdx
Labels: none

fix: grammar issues
  website/pages/static-export.mdx
Labels: none

fix(babel-preset-razzle): add missing dependencies
  packages/babel-preset-razzle/package.json
  yarn.lock
Labels: repo

fix(razzle): use correct dependencies
  packages/razzle/package.json
Labels: razzle, webpack

v3.3.4
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(razzle): remove dependency
  packages/razzle/package.json
Labels: razzle, webpack

fix(babel-preset-razzle): add missing dependencies
  packages/babel-preset-razzle/package.json
Labels: none

dev-infra: try getting last run status
  .github/workflows/nodejs.yml
Labels: none

dev-infra: fix restore keys syntax
  .github/workflows/nodejs.yml
Labels: none

dev-infra: more windows workarounds
  .github/workflows/nodejs.yml
Labels: none

dev-infra: separate commands by os
  .github/workflows/nodejs.yml
Labels: none

dev-infra: quote echo
  .github/workflows/nodejs.yml
Labels: none

dev-infra: quote echo
  .github/workflows/nodejs.yml
Labels: none

dev-infra: try setting last_run_status correctly
  .github/workflows/nodejs.yml
Labels: none

Updating to latest typescript, ts-loader, and fork-ts-checker-webpack-plugin
  examples/with-typescript/package.json
  packages/razzle-plugin-typescript/README.md
  packages/razzle-plugin-typescript/index.js
  packages/razzle-plugin-typescript/package.json
Labels: examples, plugins

dev-infra: make unique cache key
  .github/workflows/nodejs.yml
Labels: none

dev-infra: only rerun failing tests
  .github/workflows/nodejs.yml
Labels: none

dev-infra: fix if syntax
  .github/workflows/nodejs.yml
Labels: none

fix(docs): fix some grammar issues and uppercase
  website/pages/docs/experimental-features.md
  website/pages/single-page-applications.mdx
  website/pages/static-export.mdx
Labels: none

Missing comma in `FriendlyErrorsPlugin` code snippet
  packages/razzle-dev-utils/README.md
Labels: none

docs: add missing comma in `FriendlyErrorsPlugin` code snippet
  packages/razzle-dev-utils/README.md
Labels: none

docs: add missing comma in `FriendlyErrorsPlugin` code snippet
  packages/razzle-dev-utils/README.md
Labels: none

docs: make docs use same structure as master
  website/pages/docs/customization.md
  website/pages/docs/experimental-features.md
  website/pages/docs/meta.json
  website/pages/docs/static-export.mdx
Labels: none

docs: make structure more logical
  website/pages/docs/meta.json
  website/pages/docs/single-page-applications.mdx
  website/pages/docs/static-export.mdx
  website/pages/meta.json
Labels: none

fix(example): fix reference errors in loadable-components example
  examples/with-loadable-components/src/server.js
  examples/with-loadable-components/src/static_export.js
Labels: examples

fix(example): fix reference errors in loadable-components example
  examples/with-loadable-components/src/server.js
  examples/with-loadable-components/src/static_export.js
Labels: examples

chore: update to latest typescript, ts-loader, and fork-ts-checker-webpack-plugin
  examples/with-typescript/package.json
  packages/razzle-plugin-typescript/README.md
  packages/razzle-plugin-typescript/index.js
  packages/razzle-plugin-typescript/package.json
Labels: examples, plugins

chore: update yarn.lock
  yarn.lock
Labels: repo

fix(razzle-plugin-typescript): use glob in eslint.files
  packages/razzle-plugin-typescript/index.js
Labels: plugins

docs: add `ending point` in the end of the sentence
  examples/with-typescript/README.md
Labels: examples

fix(create-razzle-app): fix dependency in default template
  packages/create-razzle-app/templates/default/package.json
Labels: none

v3.3.5
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(razzle): switch to webpack-assets-manifest
  packages/razzle/config/createConfigAsync.js
  packages/razzle/package.json
  test/tests/razzle-build.test.js
Labels: razzle, webpack

fix(example): use new assets manifest
  examples/basic/src/server.js
Labels: examples

chore: update yarn.lock
  yarn.lock
Labels: repo

fix(examples): fix all examples used in tests
  examples/with-jsconfig-paths/src/server.js
  examples/with-scss-options/src/server.js
  examples/with-scss/src/server.js
Labels: examples

dev-infra: fix test
  test/tests/razzle-build.test.js
Labels: none
