Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

chore: add more packages
  packages/razzle-plugin-webpack5-babel/package.json
  packages/razzle-plugin-webpack5-babel/tsconfig.json
  packages/razzle-plugin-webpack5-typescript/package.json
  packages/razzle-plugin-webpack5-typescript/tsconfig.json
Labels: plugins

chore: add src dirs
  packages/razzle-plugin-jest/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-media/src/index.ts
  packages/razzle-plugin-webpack5-typescript/src/index.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle/src/index.ts
Labels: razzle, webpack, plugins

:ok_hand: markdown plugin removed, mdx plugin already allows to load markdown; documentation and example of mdx extended
  examples/with-markdown/.gitignore
  examples/with-markdown/README.md
  examples/with-markdown/package.json
  examples/with-markdown/public/favicon.ico
  examples/with-markdown/public/robots.txt
  examples/with-markdown/razzle.config.js
  examples/with-markdown/src/App.css
  examples/with-markdown/src/App.js
  examples/with-markdown/src/App.md
  examples/with-markdown/src/App.test.js
  examples/with-markdown/src/client.js
  examples/with-markdown/src/index.js
  examples/with-markdown/src/server.js
  examples/with-mdx/README.md
  examples/with-mdx/src/example.md
  package.json
  packages/razzle-plugin-markdown/.eslintrc
  packages/razzle-plugin-markdown/README.md
  packages/razzle-plugin-markdown/helpers.js
  packages/razzle-plugin-markdown/index.js
  packages/razzle-plugin-markdown/package.json
  packages/razzle-plugin-markdown/tests/index.test.js
  packages/razzle-plugin-mdx/README.md
  website/pages/plugins/meta.json
  website/pages/plugins/razzle-plugin-markdown.md
Labels: examples, plugins, repo

chore: add start of base razzle types
  package.json
  packages/razzle/package.json
  packages/razzle/pnpm-lock.yaml
  packages/razzle/src/index.ts
Labels: razzle, webpack, repo

Fix (razzle|razzle-dev-utils): Eliminate createSocketUrl warning
  packages/razzle-dev-utils/package.json
  packages/razzle-dev-utils/webpackHotDevClientV4.js
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

feat: add razzle-plugin-manifest
  packages/razzle-plugin-manifest/README.md
  packages/razzle-plugin-manifest/index.js
  packages/razzle-plugin-manifest/package.json
Labels: plugins

feat: add razzle-plugin-manifest (#1748)
  packages/razzle-plugin-manifest/README.md
  packages/razzle-plugin-manifest/index.js
  packages/razzle-plugin-manifest/package.json
Labels: plugins

feat: add webpack-manifest-plugin as dependecy
  packages/razzle-plugin-manifest/package.json
  yarn.lock
Labels: plugins, repo

feat: add webpack-manifest-plugin as dependecy (#1749)
  packages/razzle-plugin-manifest/package.json
  yarn.lock
Labels: plugins, repo

chore: more work on types
  packages/razzle/src/index.ts
Labels: razzle, webpack

chore: try out some typing
  packages/razzle/src/index.ts
Labels: razzle, webpack

chore: valid config types
  packages/razzle/src/index.ts
Labels: razzle, webpack

chore: add start of plugin typing
  packages/razzle/src/index.ts
Labels: razzle, webpack

docs: Update package.json to include the repository
  examples/basic-spa/package.json
  examples/basic/package.json
  examples/with-custom-babel-config/package.json
  examples/with-custom-devserver-options/package.json
  examples/with-custom-environment-variables/package.json
  examples/with-custom-webpack-config/package.json
  examples/with-elm/package.json
  examples/with-firebase-functions/package.json
  examples/with-heroku/package.json
  examples/with-hyperapp/package.json
  examples/with-inferno/package.json
  examples/with-jest-snapshots/package.json
  examples/with-jsxstyle/package.json
  examples/with-koa/package.json
  examples/with-loadable-components/package.json
  examples/with-material-ui/package.json
  examples/with-mdx/package.json
  examples/with-now/package.json
  examples/with-polka/package.json
  examples/with-preact/package.json
  examples/with-react-native-web/package.json
  examples/with-reason-react/package.json
  examples/with-redux/package.json
  examples/with-scss/package.json
  examples/with-styled-components/package.json
  examples/with-typescript-plugin/package.json
  examples/with-vendor-bundle/package.json
  examples/with-webpack-public-path/package.json
Labels: examples

fix: process.env won't be overwritten by razzle-plugin-manifest
  packages/razzle-plugin-manifest/index.js
Labels: plugins

fix(razzle): make errors log correctly in build
  packages/razzle/scripts/build.js
Labels: razzle, webpack

Added facebook/create-react-app's logic for determining whether a dir is safe to create project in.
  packages/create-razzle-app/lib/index.js
  packages/create-razzle-app/lib/messages.js
Labels: none

fix: valid semver
  .pnpm-debug.log
  packages/razzle-plugin-jest/package.json
  packages/razzle-plugin-webpack5-babel/package.json
  packages/razzle-plugin-webpack5-media/package.json
  packages/razzle-plugin-webpack5-typescript/package.json
  packages/razzle-plugin-webpack5/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix: fix eslint config
  .eslintrc
Labels: repo

fix: fix typing
  packages/razzle/src/index.ts
Labels: razzle, webpack

fix: fix more typing
  packages/razzle/src/index.ts
Labels: razzle, webpack

chore: worked out types for config and plugins
  packages/razzle/src/index.ts
Labels: razzle, webpack

dev-infra: add example dep handling
  examples/.pnpmfile.cjs
  examples/basic-webpack5/.pnpmfile.cjs
  examples/basic-webpack5/package.json
  examples/basic-webpack5/pnpm-lock.yaml
  packages/razzle/bin/razzle.js
  packages/razzle/src/cli.ts
  packages/razzle/src/index.ts
  packages/razzle/src/types.ts
Labels: examples, razzle, webpack

feat: add paths and logger
  packages/razzle/package.json
  packages/razzle/pnpm-lock.yaml
  packages/razzle/src/logger.ts
  packages/razzle/src/paths.ts
Labels: razzle, webpack

chore: work more on types
  packages/razzle/package.json
  packages/razzle/pnpm-lock.yaml
  packages/razzle/src/cli.ts
  packages/razzle/src/env.ts
  packages/razzle/src/loaders/config.ts
  packages/razzle/src/loaders/plugins.ts
  packages/razzle/src/paths.ts
  packages/razzle/src/types.ts
Labels: razzle, webpack

chore: work out plugin types
  packages/razzle/package.json
  packages/razzle/pnpm-lock.yaml
  packages/razzle/src/cli.ts
  packages/razzle/src/env.ts
  packages/razzle/src/loaders/config.ts
  packages/razzle/src/loaders/plugins.ts
  packages/razzle/src/logger.ts
  packages/razzle/src/paths.ts
  packages/razzle/src/types.ts
Labels: razzle, webpack

chore: work on cli
  packages/razzle/src/cli.ts
  packages/razzle/src/loaders/config.ts
Labels: razzle, webpack

chore: fix build extensions
  examples/basic-webpack5/package.json
  packages/razzle/bin/razzle.js
  packages/razzle/package.json
  packages/razzle/src/cli.ts
  packages/razzle/src/env.ts
  packages/razzle/src/index.ts
  packages/razzle/src/loaders/config.ts
  packages/razzle/src/loaders/plugins.ts
  packages/razzle/src/paths.ts
  packages/razzle/src/types.ts
  packages/razzle/tsconfig.json
  tsconfig.json
Labels: examples, razzle, webpack, repo

chore: add types for webpack5 plugin
  packages/razzle-plugin-webpack5/package.json
  packages/razzle-plugin-webpack5/pnpm-lock.yaml
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/tsconfig.json
  packages/razzle/bin/razzle.js
  packages/razzle/src/cli.ts
  packages/razzle/src/types.ts
  packages/razzle/tsconfig.json
  tsconfig.json
Labels: razzle, webpack, plugins, repo

fix: handler typing
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  packages/razzle/package.json
  packages/razzle/pnpm-lock.yaml
  packages/razzle/src/types.ts
Labels: razzle, webpack, plugins

feat: add more parts to webpack pluginplugin
  examples/.pnpmfile.cjs
  examples/basic-webpack5/package.json
  examples/basic-webpack5/pnpm-lock.yaml
  examples/basic-webpack5/razzle.config.js
  packages/razzle-plugin-webpack5/package.json
  packages/razzle-plugin-webpack5/pnpm-lock.yaml
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  packages/razzle-plugin-webpack5/tsconfig.json
  packages/razzle-plugin-webpack5/tsconfig.tsbuildinfo
  packages/razzle/package.json
  packages/razzle/pnpm-lock.yaml
  packages/razzle/src/cli.ts
  packages/razzle/src/loaders/config.ts
  packages/razzle/src/loaders/plugins.ts
  packages/razzle/src/paths.ts
  packages/razzle/tsconfig.json
  packages/razzle/tsconfig.tsbuildinfo
  tsconfig.json
Labels: examples, razzle, webpack, plugins, repo

chore: fix monorepo
  examples/basic-webpack5/.pnpm-debug.log
  examples/basic-webpack5/pnpm-lock.yaml
  package.json
  packages/razzle-plugin-webpack5/package.json
  packages/razzle/pnpm-lock.yaml
  packages/razzle/src/cli.ts
  packages/razzle/src/loaders/config.ts
  packages/razzle/src/loaders/plugins.ts
  packages/razzle/src/paths.ts
  packages/razzle/src/types.ts
  packages/razzle/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: examples, razzle, webpack, plugins, repo

chore: update lockfile
  pnpm-lock.yaml
Labels: repo

chore: cleanup
  .pnpm-debug.log
  examples/.pnpmfile.cjs
  examples/basic-webpack5/.pnpm-debug.log
  examples/basic-webpack5/.pnpmfile.cjs
  examples/basic-webpack5/package.json
  package.json
  packages/razzle-plugin-webpack5/package.json
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  packages/razzle-plugin-webpack5/tsconfig.json
  packages/razzle-plugin-webpack5/tsconfig.tsbuildinfo
  packages/razzle/package.json
  packages/razzle/src/loaders/plugins.ts
  packages/razzle/tsconfig.json
  packages/razzle/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: examples, razzle, webpack, plugins, repo

feat: working plugins
  .gitignore
  .pnpm-debug.log
  examples/basic-webpack5/package.json
  packages/razzle/package.json
  packages/razzle/src/loaders/plugins.ts
  packages/razzle/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Labels: examples, razzle, webpack, repo

Update react-router-dom syntax
  packages/create-razzle-app/templates/default/src/App.js
Labels: none

Update react-router-dom syntax
  packages/create-razzle-app/templates/default/src/server.js
Labels: none

chore: make types make more sense
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  packages/razzle/src/cli.ts
  packages/razzle/src/loaders/config.ts
  packages/razzle/src/loaders/plugins.ts
  packages/razzle/src/types.ts
  packages/razzle/tsconfig.tsbuildinfo
Labels: razzle, webpack, plugins

chore: working types
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle/src/cli.ts
  packages/razzle/src/types.ts
Labels: razzle, webpack, plugins

chore: it builds
  packages/razzle/src/paths.ts
  packages/razzle/src/types.ts
  packages/razzle/tsconfig.tsbuildinfo
Labels: razzle, webpack

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
