Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

fix(examples): some less bugs in example
  examples/with-typeorm-graphql/src/index.ts
  examples/with-typeorm-graphql/src/models/Abilities.ts
  examples/with-typeorm-graphql/src/models/Pokemon.ts
  examples/with-typeorm-graphql/src/models/PokemonAbilities.ts
  examples/with-typeorm-graphql/src/models/Types.ts
  examples/with-typeorm-graphql/src/models/index.ts
  examples/with-typeorm-graphql/src/server.tsx
Labels: examples

'completePluginName' is not defined.
  packages/razzle/config/loadPlugins.js
Labels: razzle, webpack

fix(babel-preset-razzle): call commonjs plugin correctly
  .gitignore
  packages/babel-preset-razzle/babel-plugins/commonjs.js
Labels: repo

v3.3.12
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

dev-infra: add more example bootstrap features
  scripts/bootstrap-examples.js
Labels: none

chore: move package to packages dir
  packages/babel-preset-typescript-reflect-decorators/.npmignore
  packages/babel-preset-typescript-reflect-decorators/README.md
  packages/babel-preset-typescript-reflect-decorators/package.json
  packages/babel-preset-typescript-reflect-decorators/src/index.js
  packages/babel-preset-typescript-reflect-decorators/src/normalize-options.js
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/flow-compat/js-invalid/input.js
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/flow-compat/js-invalid/options.json
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/flow-compat/js-valid/input.js
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/flow-compat/js-valid/output.js
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/flow-compat/options.json
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/flow-compat/ts-invalid/input.ts
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/flow-compat/ts-invalid/options.json
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/flow-compat/ts-valid/input.ts
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/flow-compat/ts-valid/output.js
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/flow-compat/tsx-invalid/input.tsx
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/flow-compat/tsx-invalid/options.json
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/flow-compat/tsx-valid/input.tsx
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/flow-compat/tsx-valid/output.js
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/jsx-compat/js-valid/input.js
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/jsx-compat/js-valid/output.js
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/jsx-compat/options.json
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/jsx-compat/ts-invalid/input.ts
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/jsx-compat/ts-invalid/options.json
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/jsx-compat/tsx-valid/input.tsx
  packages/babel-preset-typescript-reflect-decorators/test/fixtures/jsx-compat/tsx-valid/output.js
  packages/babel-preset-typescript-reflect-decorators/test/index.js
  packages/babel-preset-typescript-reflect-decorators/test/normalize-options.spec.js
Labels: none

chire: do not rename package yet
  packages/babel-preset-typescript/.npmignore
  packages/babel-preset-typescript/README.md
  packages/babel-preset-typescript/package.json
  packages/babel-preset-typescript/src/index.js
  packages/babel-preset-typescript/src/normalize-options.js
  packages/babel-preset-typescript/test/fixtures/flow-compat/js-invalid/input.js
  packages/babel-preset-typescript/test/fixtures/flow-compat/js-invalid/options.json
  packages/babel-preset-typescript/test/fixtures/flow-compat/js-valid/input.js
  packages/babel-preset-typescript/test/fixtures/flow-compat/js-valid/output.js
  packages/babel-preset-typescript/test/fixtures/flow-compat/options.json
  packages/babel-preset-typescript/test/fixtures/flow-compat/ts-invalid/input.ts
  packages/babel-preset-typescript/test/fixtures/flow-compat/ts-invalid/options.json
  packages/babel-preset-typescript/test/fixtures/flow-compat/ts-valid/input.ts
  packages/babel-preset-typescript/test/fixtures/flow-compat/ts-valid/output.js
  packages/babel-preset-typescript/test/fixtures/flow-compat/tsx-invalid/input.tsx
  packages/babel-preset-typescript/test/fixtures/flow-compat/tsx-invalid/options.json
  packages/babel-preset-typescript/test/fixtures/flow-compat/tsx-valid/input.tsx
  packages/babel-preset-typescript/test/fixtures/flow-compat/tsx-valid/output.js
  packages/babel-preset-typescript/test/fixtures/jsx-compat/js-valid/input.js
  packages/babel-preset-typescript/test/fixtures/jsx-compat/js-valid/output.js
  packages/babel-preset-typescript/test/fixtures/jsx-compat/options.json
  packages/babel-preset-typescript/test/fixtures/jsx-compat/ts-invalid/input.ts
  packages/babel-preset-typescript/test/fixtures/jsx-compat/ts-invalid/options.json
  packages/babel-preset-typescript/test/fixtures/jsx-compat/tsx-valid/input.tsx
  packages/babel-preset-typescript/test/fixtures/jsx-compat/tsx-valid/output.js
  packages/babel-preset-typescript/test/index.js
  packages/babel-preset-typescript/test/normalize-options.spec.js
Labels: none

dev-infra: add typescript preset to workspace
  package.json
  package.meta.json
  packages/babel-preset-typescript/src/index.js
Labels: repo

feat(babel-preset-typescript): adds support for decorators and reflection
  .prettierrc
  package.json
  packages/babel-preset-typescript/lib/index.js
  packages/babel-preset-typescript/lib/normalize-options.js
  packages/babel-preset-typescript/package.json
  packages/babel-preset-typescript/src/index.js
  packages/babel-preset-typescript/src/normalize-options.js
  packages/razzle-start-server-webpack-plugin/package.json
  yarn.lock
Labels: repo

fix(babel-preset-typescript): builds correctly, code does not
  examples/with-typeorm-graphql/no.babelrc
  examples/with-typeorm-graphql/razzle.config.js
  packages/babel-preset-typescript/lib/index.js
  packages/babel-preset-typescript/package.json
  packages/babel-preset-typescript/src/index.js
  yarn.lock
Labels: examples, repo

fix(babel-preset-typescript): make tsx work
  packages/babel-preset-typescript/lib/index.js
  packages/babel-preset-typescript/src/index.js
  yarn.lock
Labels: repo

fix(babel-preset-typescript): fix options
  db.sqlite3
  examples/with-typeorm-graphql/package.json
  examples/with-typeorm-graphql/razzle.config.js
  examples/with-typeorm-graphql/src/database/init_db.ts
  examples/with-typeorm-graphql/src/index.ts
  examples/with-typeorm-graphql/src/models/index.ts
  examples/with-typeorm-graphql/src/server.tsx
  ormconfig.json
  package.json
  packages/babel-preset-typescript/lib/index.js
  packages/babel-preset-typescript/lib/normalize-options.js
  packages/babel-preset-typescript/src/index.js
  packages/babel-preset-typescript/src/normalize-options.js
  yarn.lock
Labels: examples, repo

fix(babel-preset-typescript): fix duplicate plugin
  packages/babel-preset-typescript/lib/index.js
  packages/babel-preset-typescript/src/index.js
Labels: none

fix(babel-preset-typescript): working default options
  examples/with-typeorm-graphql/src/models/Abilities.ts
  examples/with-typeorm-graphql/src/models/Pokemon.ts
  examples/with-typeorm-graphql/src/models/PokemonAbilities.ts
  examples/with-typeorm-graphql/src/models/Types.ts
  packages/babel-preset-typescript/lib/index.js
  packages/babel-preset-typescript/lib/normalize-options.js
  packages/babel-preset-typescript/src/normalize-options.js
Labels: examples

fix(babel-preset-typescript): conservative defaults
  examples/with-typeorm-graphql/src/models/Abilities.ts
  examples/with-typeorm-graphql/src/models/Pokemon.ts
  examples/with-typeorm-graphql/src/models/PokemonAbilities.ts
  examples/with-typeorm-graphql/src/models/Types.ts
  packages/babel-preset-typescript/lib/index.js
  packages/babel-preset-typescript/lib/normalize-options.js
  packages/babel-preset-typescript/src/index.js
  packages/babel-preset-typescript/src/normalize-options.js
Labels: examples

fix(razzle): report tested plugin imports
  packages/razzle/config/loadPlugins.js
Labels: razzle, webpack

chore(babel-preset-typescript): comment on code
  packages/babel-preset-typescript/src/index.js
Labels: none

examples: remove non-viable example
  examples/with-typeorm-graphql/.babelrc.node.notused
  examples/with-typeorm-graphql/.babelrc.web.notused
  examples/with-typeorm-graphql/.eslintrc.js
  examples/with-typeorm-graphql/.gitignore
  examples/with-typeorm-graphql/.prettierrc
  examples/with-typeorm-graphql/README.md
  examples/with-typeorm-graphql/ormconfig.json
  examples/with-typeorm-graphql/package.json
  examples/with-typeorm-graphql/public/favicon.ico
  examples/with-typeorm-graphql/public/robots.txt
  examples/with-typeorm-graphql/razzle.config.js
  examples/with-typeorm-graphql/src/App.css
  examples/with-typeorm-graphql/src/App.test.tsx
  examples/with-typeorm-graphql/src/App.tsx
  examples/with-typeorm-graphql/src/Home.css
  examples/with-typeorm-graphql/src/Home.tsx
  examples/with-typeorm-graphql/src/client.tsx
  examples/with-typeorm-graphql/src/database/init_db.ts
  examples/with-typeorm-graphql/src/declarations.d.ts
  examples/with-typeorm-graphql/src/models/Abilities.ts
  examples/with-typeorm-graphql/src/models/Pokemon.ts
  examples/with-typeorm-graphql/src/models/PokemonAbilities.ts
  examples/with-typeorm-graphql/src/models/Types.ts
  examples/with-typeorm-graphql/src/models/index.ts
  examples/with-typeorm-graphql/src/react.svg
  examples/with-typeorm-graphql/src/schema/Resolvers.ts
  examples/with-typeorm-graphql/src/setupTests.ts
  examples/with-typeorm-graphql/tsconfig.json
Labels: examples

fix(babel-preset-razzle): remove experimental babel features
  packages/babel-preset-razzle/package.json
Labels: none

fix(babel-preset-razzle): make commonjs wrapper plugin receive the correct args
  packages/babel-preset-razzle/babel-plugins/commonjs.js
Labels: none

v3.3.13
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(babel-preset-razzle): test api caller name for not babel
  packages/babel-preset-typescript/lib/index.js
  packages/babel-preset-typescript/lib/normalize-options.js
  packages/babel-preset-typescript/src/index.js
  packages/babel-preset-typescript/src/normalize-options.js
Labels: none

fix(babel-preset-typescript): enable parameter decorarors by default and reorder plugins
  packages/babel-preset-typescript/lib/index.js
  packages/babel-preset-typescript/lib/normalize-options.js
  packages/babel-preset-typescript/src/index.js
  packages/babel-preset-typescript/src/normalize-options.js
Labels: none

fix(babel-preset-typescript): enable onlyRemoveTypeImports by default
  packages/babel-preset-typescript/lib/normalize-options.js
  packages/babel-preset-typescript/src/normalize-options.js
Labels: none

fix(with-typeorm-graphql): builds with babel cli
  examples/with-typeorm-graphql/.babelrc
  examples/with-typeorm-graphql/no.babelrc
  examples/with-typeorm-graphql/package.json
  examples/with-typeorm-graphql/src/schema/Resolvers.ts
  packages/babel-preset-typescript/README.md
Labels: examples

fix(with-typeorm-graphql): do a dual build to make it work
  examples/with-typeorm-graphql/.babelrc
  examples/with-typeorm-graphql/.babelrc.cli
  examples/with-typeorm-graphql/package.json
  examples/with-typeorm-graphql/razzle.config.js
  examples/with-typeorm-graphql/ts-src/App.css
  examples/with-typeorm-graphql/ts-src/App.test.tsx
  examples/with-typeorm-graphql/ts-src/App.tsx
  examples/with-typeorm-graphql/ts-src/Home.css
  examples/with-typeorm-graphql/ts-src/Home.tsx
  examples/with-typeorm-graphql/ts-src/client.tsx
  examples/with-typeorm-graphql/ts-src/database/init_db.ts
  examples/with-typeorm-graphql/ts-src/declarations.d.ts
  examples/with-typeorm-graphql/ts-src/index.ts
  examples/with-typeorm-graphql/ts-src/models/Abilities.ts
  examples/with-typeorm-graphql/ts-src/models/Pokemon.ts
  examples/with-typeorm-graphql/ts-src/models/PokemonAbilities.ts
  examples/with-typeorm-graphql/ts-src/models/Types.ts
  examples/with-typeorm-graphql/ts-src/models/index.ts
  examples/with-typeorm-graphql/ts-src/react.svg
  examples/with-typeorm-graphql/ts-src/schema/Resolvers.ts
  examples/with-typeorm-graphql/ts-src/server.tsx
  examples/with-typeorm-graphql/ts-src/setupTests.ts
Labels: examples

example(with-typeorm-graphql): is working now
  .gitignore
  examples/with-typeorm-graphql/db.sqlite3
  examples/with-typeorm-graphql/ormconfig.json
  examples/with-typeorm-graphql/razzle.config.js
  examples/with-typeorm-graphql/ts-src/models/Abilities.ts
  examples/with-typeorm-graphql/ts-src/models/Pokemon.ts
  examples/with-typeorm-graphql/ts-src/models/PokemonAbilities.ts
  examples/with-typeorm-graphql/ts-src/models/Types.ts
  examples/with-typeorm-graphql/ts-src/schema/Resolvers.ts
  examples/with-typeorm-graphql/ts-src/schema/index.ts
  examples/with-typeorm-graphql/ts-src/server.tsx
Labels: examples, repo

example(with-typeorm-graphql): remove files that should not be checked in
  .gitignore
  examples/with-typeorm-graphql/.babelrc.node.notused
  examples/with-typeorm-graphql/.babelrc.web.notused
  examples/with-typeorm-graphql/db.sqlite3
Labels: examples, repo

Update .gitignore
  .gitignore
Labels: repo

examples(with-typeorm-graphql): added example with dual build
  .gitignore
  examples/with-typeorm-graphql/.babelrc.cli
  examples/with-typeorm-graphql/.eslintrc.js
  examples/with-typeorm-graphql/.gitignore
  examples/with-typeorm-graphql/.prettierrc
  examples/with-typeorm-graphql/README.md
  examples/with-typeorm-graphql/package.json
  examples/with-typeorm-graphql/public/favicon.ico
  examples/with-typeorm-graphql/public/robots.txt
  examples/with-typeorm-graphql/razzle.config.js
  examples/with-typeorm-graphql/ts-src/App.css
  examples/with-typeorm-graphql/ts-src/App.test.tsx
  examples/with-typeorm-graphql/ts-src/App.tsx
  examples/with-typeorm-graphql/ts-src/Home.css
  examples/with-typeorm-graphql/ts-src/Home.tsx
  examples/with-typeorm-graphql/ts-src/client.tsx
  examples/with-typeorm-graphql/ts-src/database/init_db.ts
  examples/with-typeorm-graphql/ts-src/declarations.d.ts
  examples/with-typeorm-graphql/ts-src/index.ts
  examples/with-typeorm-graphql/ts-src/models/Abilities.ts
  examples/with-typeorm-graphql/ts-src/models/Pokemon.ts
  examples/with-typeorm-graphql/ts-src/models/PokemonAbilities.ts
  examples/with-typeorm-graphql/ts-src/models/Types.ts
  examples/with-typeorm-graphql/ts-src/models/index.ts
  examples/with-typeorm-graphql/ts-src/react.svg
  examples/with-typeorm-graphql/ts-src/schema/Resolvers.ts
  examples/with-typeorm-graphql/ts-src/schema/index.ts
  examples/with-typeorm-graphql/ts-src/server.tsx
  examples/with-typeorm-graphql/ts-src/setupTests.ts
Labels: examples, repo

examples(with-typeorm-graphql): fix deps and commands, gitignore db
  .gitignore
  examples/with-typeorm-graphql/package.json
  yarn.lock
Labels: examples, repo

example(with-typeorm-graphql): log graphql url
  examples/with-typeorm-graphql/ts-src/index.ts
Labels: examples

dev-infra: rearrange for example tests
  package.json
  test/e2e/create-razzle-app.test.js
  test/e2e/razzle-build.test.js
  test/e2e/razzle-start-spa.test.js
  test/e2e/razzle-start.test.js
  test/examples/isomorphic-examples.test.js
  test/jest.config.json
  test/jest.e2e.config.json
  test/jest.examples.config.json
Labels: repo

Update isomorphic-examples.test.js
  test/examples/isomorphic-examples.test.js
Labels: none

We should use the actual version, not lerna.json
  scripts/update-examples.js
Labels: none

fix(create-razzle-app): switch to recursive copy
  examples/basic/gitignore
  package.json
  packages/create-razzle-app/lib/index.js
  packages/create-razzle-app/lib/utils/copy-dir.js
  packages/create-razzle-app/lib/utils/install.js
  packages/create-razzle-app/package.json
  packages/razzle/package.json
  test/e2e/create-razzle-app.test.js
  test/examples/isomorphic-examples.test.js
  yarn.lock
Labels: examples, razzle, webpack, repo

fix(babel-preset-razzle): correct typescript babel options
  .gitignore
  examples/with-typeorm-graphql/.babelrc
  examples/with-typeorm-graphql/package.json
  examples/with-typeorm-graphql/razzle.config.js
  examples/with-typeorm-graphql/src/App.css
  examples/with-typeorm-graphql/src/App.test.tsx
  examples/with-typeorm-graphql/src/App.tsx
  examples/with-typeorm-graphql/src/Home.css
  examples/with-typeorm-graphql/src/Home.tsx
  examples/with-typeorm-graphql/src/client.tsx
  examples/with-typeorm-graphql/src/database/init_db.ts
  examples/with-typeorm-graphql/src/declarations.d.ts
  examples/with-typeorm-graphql/src/index.ts
  examples/with-typeorm-graphql/src/models/Abilities.ts
  examples/with-typeorm-graphql/src/models/Pokemon.ts
  examples/with-typeorm-graphql/src/models/PokemonAbilities.ts
  examples/with-typeorm-graphql/src/models/Types.ts
  examples/with-typeorm-graphql/src/models/index.ts
  examples/with-typeorm-graphql/src/react.svg
  examples/with-typeorm-graphql/src/schema/Resolvers.ts
  examples/with-typeorm-graphql/src/schema/index.ts
  examples/with-typeorm-graphql/src/server.tsx
  examples/with-typeorm-graphql/src/setupTests.ts
  package.json
  packages/babel-preset-razzle/index.js
  yarn.lock
Labels: examples, repo

examples(with-monorepo): use .env
  examples/with-monorepo/basic-1/.env
  examples/with-monorepo/basic-2/.env
  examples/with-monorepo/package.json
Labels: examples

fix(razzle): support scoped packages
  packages/razzle/config/loadPlugins.js
  website/pages/docs/customization.md
Labels: razzle, webpack

fix(razzle): add additional check for @ for scoped packages
  packages/razzle/config/loadPlugins.js
Labels: razzle, webpack
