Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

dev-infra: fix test
  test/tests/razzle-build.test.js
Labels: none

dev-infra: fix test
  test/tests/razzle-build.test.js
Labels: none

fix(examples): fix syntaxerror and new assets handling
  examples/basic/src/server.js
  examples/with-custom-devserver-options/src/server.js
  examples/with-custom-environment-variables/src/server.js
Labels: examples

fix(examples): update more examples to use new assets manifest
  examples/with-all-experimental/src/server.js
  examples/with-custom-babel-config/src/server.js
  examples/with-custom-webpack-config/src/server.js
  examples/with-experimental-refresh/src/server.js
  examples/with-firebase-functions/src/server.js
  examples/with-heroku/src/server.js
Labels: examples

docs: rename .mdx to .md
  website/pages/docs/static-export.md
Labels: none

fix(razzle): match App.test.js in testMatch
  packages/razzle/config/createJestConfig.js
Labels: razzle, webpack

v3.3.6
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(razzle): match App.test.js in testMatch
  packages/razzle/config/createJestConfig.js
Labels: razzle, webpack

Add `jsxPragmaFrag` support to typescript transform (#11950)
  src/index.js
Labels: none

v7.12.0
  package.json
Labels: repo

chore: use workspace:* for dev deps (#12186)
  package.json
Labels: repo

v7.12.1
  package.json
Labels: repo

fix(razzle): make RAZZLE_PUBLIC_DIR a relative path in build
  packages/razzle/config/env.js
Labels: razzle, webpack

dev-infra: test using latest webpack 5
  .github/workflows/nodejs.yml
Labels: none

fix(razzle): use overrideBrowserslist in postcss config
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-scss/index.js
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack, plugins

v3.3.7
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

docs: remove non existing page
  website/pages/meta.json
Labels: none

feat(eslint): add typescript to test regex
  packages/razzle-plugin-eslint/index.js
Labels: plugins

feat: update depdencies
  packages/razzle-plugin-eslint/package.json
  yarn.lock
Labels: plugins, repo

feat: update eslint plugin config
  packages/razzle-plugin-eslint/index.js
Labels: plugins

chore: update README.md
  packages/razzle-plugin-mdx/README.md
Labels: plugins

Use `workspace:*` for devDependencies (again) (#12217)
  package.json
Labels: repo

fix(docs): try fixing docs
  website/pages/docs/single-page-applications.md
  website/pages/docs/static-export.md
Labels: none

chore: update all css/less/scss dependencies
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-svelte/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, plugins, repo

fix(razzle): use new options in css-loader
  examples/with-scss-options/razzle.config.js
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/index.js
  packages/razzle-plugin-scss/package.json
  packages/razzle/config/createConfigAsync.js
Labels: examples, razzle, webpack, plugins

fix(razzle): remove old dependency
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

feat: add razzle-start-server-webpack-plugin
  lerna.json
  package.json
  packages/razzle-start-server-webpack-plugin/.babelrc
  packages/razzle-start-server-webpack-plugin/.nvmrc
  packages/razzle-start-server-webpack-plugin/CHANGELOG.md
  packages/razzle-start-server-webpack-plugin/LICENSE
  packages/razzle-start-server-webpack-plugin/README.md
  packages/razzle-start-server-webpack-plugin/dist/StartServerPlugin.js
  packages/razzle-start-server-webpack-plugin/dist/monitor-loader.js
  packages/razzle-start-server-webpack-plugin/dist/monitor.js
  packages/razzle-start-server-webpack-plugin/package.json
  packages/razzle-start-server-webpack-plugin/src/StartServerPlugin.js
  packages/razzle-start-server-webpack-plugin/src/monitor-loader.js
  packages/razzle-start-server-webpack-plugin/src/monitor.js
  packages/razzle-start-server-webpack-plugin/tests/SilentPlugin.js
  packages/razzle-start-server-webpack-plugin/tests/cases/test-project-hmr/index.js
  packages/razzle-start-server-webpack-plugin/tests/cases/test-project-hmr/webpack.config.js
  packages/razzle-start-server-webpack-plugin/tests/cases/test-project/index.js
  packages/razzle-start-server-webpack-plugin/tests/cases/test-project/webpack.config.js
  packages/razzle-start-server-webpack-plugin/tests/index.test.js
  packages/razzle-start-server-webpack-plugin/tests/js/test-project-hmr/server.js
  packages/razzle-start-server-webpack-plugin/tests/js/test-project/server.js
  packages/razzle-start-server-webpack-plugin/tests/test-project.sh
  packages/razzle-start-server-webpack-plugin/tests/utils.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

docs: add plugin docs to website
  packages/razzle-plugin-bundle-analyzer/README.md
  packages/razzle-plugin-less/README.md
  website/pages/meta.json
  website/pages/plugins/meta.json
  website/pages/plugins/razzle-plugin-bundle-analyzer.md
  website/pages/plugins/razzle-plugin-graphql.md
  website/pages/plugins/razzle-plugin-less.md
  website/pages/plugins/razzle-plugin-mdx.md
  website/pages/plugins/razzle-plugin-php.md
  website/pages/plugins/razzle-plugin-scss.md
  website/pages/plugins/razzle-plugin-svelte.md
  website/pages/plugins/razzle-plugin-typescript.md
  website/pages/plugins/razzle-plugin-vue.md
Labels: plugins

docs(plugins): fix symlinks in webpack, fix markdown syntax
  packages/razzle-plugin-less/README.md
  packages/razzle-plugin-scss/README.md
  website/.nextra/nextra.js
Labels: plugins

docs: default closed folder
  website/.nextra/layout.js
  website/pages/meta.json
Labels: none

feat(razzle): make appDirectory configurable via ENV configuration
  packages/razzle/config/paths.js
Labels: razzle, webpack

fix: make start-server direct dependency
  packages/razzle/package.json
Labels: razzle, webpack

dev-infra: fix release scripts
  packages/razzle/package.json
  scripts/build-docs.js
Labels: razzle, webpack

docs: add getting help
  packages/razzle/README.md
  website/pages/index.mdx
Labels: razzle, webpack

docs: add getting help
  packages/razzle/README.md
  website/pages/index.mdx
Labels: razzle, webpack

fix: use razzleOptions.verbose for start-server
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

feat(razzle): make WatchIgnore plugin paths overridable
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

examples: remove with-react-loadable since it is not maintained
  examples/with-react-loadable/.babelrc
  examples/with-react-loadable/.gitignore
  examples/with-react-loadable/README.md
  examples/with-react-loadable/package.json
  examples/with-react-loadable/public/favicon.ico
  examples/with-react-loadable/public/robots.txt
  examples/with-react-loadable/razzle.config.js
  examples/with-react-loadable/src/App.css
  examples/with-react-loadable/src/App.js
  examples/with-react-loadable/src/App.test.js
  examples/with-react-loadable/src/Home.css
  examples/with-react-loadable/src/Home.js
  examples/with-react-loadable/src/Intro.js
  examples/with-react-loadable/src/Logo.js
  examples/with-react-loadable/src/Welcome.js
  examples/with-react-loadable/src/client.js
  examples/with-react-loadable/src/index.js
  examples/with-react-loadable/src/react.svg
  examples/with-react-loadable/src/server.js
Labels: examples

Fix packages documentation README links. (#12289)
  README.md
Labels: repo

feat: add vercel-razzle package
  packages/vercel-razzle/package.json
Labels: none
