Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

v3.2.0-canary.3
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(create-razzle-app): respect branch in install
  packages/create-razzle-app/lib/index.js
  scripts/update-examples.js
Labels: none

chore(create-razzle-app): run update examples
  packages/create-razzle-app/lib/index.js
  packages/create-razzle-app/lib/utils/load-example.js
Labels: none

fix(razzle): make new babel config work properly
  packages/babel-preset-razzle/babel-plugins/optimize-hook-destructuring.js
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

fix(create-razzle-app): reverse the logic for razzle version tag
  packages/create-razzle-app/lib/index.js
Labels: none

fix(create-razzle-app): get examples list from correct branch
  packages/create-razzle-app/lib/index.js
  scripts/update-examples.js
Labels: none

v3.2.0-canary.4
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

docs: improve example readme
  examples/with-single-exposed-port/README.md
Labels: examples

docs: better order of instructions
  examples/with-single-exposed-port/README.md
Labels: examples

chore: bump assets-webpack-plugin to 5.0.3
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

add razzle svelte plugin
  packages/razzle-plugin-svelte/README.md
  packages/razzle-plugin-svelte/index.js
  packages/razzle-plugin-svelte/package.json
Labels: plugins

feat: add loader svelte + update file .all-contributorsrc
  .all-contributorsrc
  packages/razzle-plugin-svelte/index.js
Labels: plugins, repo

Bumped responsive-url-loader from ^2.3.0 ^to 3.1.1
  packages/razzle-plugin-scss/package.json
Labels: plugins

fix: packages/razzle/package.json to reduce vulnerabilities
  packages/razzle/package.json
Labels: razzle, webpack

fix: packages/razzle-plugin-elm/package.json to reduce vulnerabilities
  packages/razzle-plugin-elm/package.json
Labels: plugins

Added async and await to create jest config
  packages/razzle/scripts/test.js
Labels: razzle, webpack

feat: add new plugin system with more hooks
  README.md
  examples/with-custom-devserver-options/razzle.config.js
  examples/with-custom-webpack-config/razzle.config.js
  examples/with-elm/razzle.config.js
  examples/with-firebase-functions/razzle.config.js
  examples/with-heroku/razzle.config.js
  examples/with-loadable-components/razzle.config.js
  examples/with-promise-config/razzle.config.js
  examples/with-react-loadable/razzle.config.js
  examples/with-react-native-web/razzle.config.js
  examples/with-single-exposed-port/razzle.config.js
  examples/with-vendor-bundle/razzle.config.js
  packages/razzle-plugin-elm/index.js
  packages/razzle-plugin-eslint/index.js
  packages/razzle-plugin-inferno/index.js
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-less/tests/index.test.js
  packages/razzle-plugin-mdx/index.js
  packages/razzle-plugin-mdx/tests/index.test.js
  packages/razzle-plugin-php/index.js
  packages/razzle-plugin-scss/index.js
  packages/razzle-plugin-scss/tests/index.test.js
  packages/razzle-plugin-typescript/index.js
  packages/razzle-plugin-typescript/tests/index.test.js
  packages/razzle-plugin-vue/index.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/createJestConfig.js
  packages/razzle/config/createRazzleTestConfig.js
  packages/razzle/config/defaultOptions.js
  packages/razzle/config/loadPlugins.js
  packages/razzle/config/loadRazzleConfig.js
  packages/razzle/package.json
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
  packages/razzle/scripts/test.js
  test/fixtures/build-with-custom-config-invalid/razzle.config.js
  test/fixtures/build-with-custom-config/razzle.config.js
  test/tests/razzle-start.test.js
  website/pages/docs/customization.md
  yarn.lock
Labels: examples, razzle, webpack, plugins, repo

feat: add experimetal support for new splitChunks config, add all-experimetal example
  examples/with-all-experimental/.gitignore
  examples/with-all-experimental/README.md
  examples/with-all-experimental/package.json
  examples/with-all-experimental/public/favicon.ico
  examples/with-all-experimental/public/robots.txt
  examples/with-all-experimental/razzle.config.js
  examples/with-all-experimental/src/About.js
  examples/with-all-experimental/src/App.css
  examples/with-all-experimental/src/App.js
  examples/with-all-experimental/src/App.test.js
  examples/with-all-experimental/src/Home.js
  examples/with-all-experimental/src/client.js
  examples/with-all-experimental/src/index.js
  examples/with-all-experimental/src/server.js
  examples/with-all-experimental/src/static_export.js
  packages/babel-preset-razzle/babel-plugins/no-anonymous-default-export.js
  packages/razzle/config/babel/razzle-babel-loader.js
  packages/razzle/config/createConfigAsync.js
  website/pages/docs/customization.md
Labels: examples, razzle, webpack

fix: use camelcase for all options
  packages/razzle/scripts/export.js
  website/pages/docs/customization.md
Labels: razzle, webpack

feat: use contenthash instead of chunkhash and hash
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix: disable react-refresh in prod
  examples/with-all-experimental/src/server.js
  packages/razzle/config/createConfigAsync.js
Labels: examples, razzle, webpack

docs(plugin-typescript): add link to example
  packages/razzle-plugin-typescript/README.md
Labels: plugins

docs(plugin-typescript): add link to example
  packages/razzle-plugin-typescript/README.md
Labels: plugins

feat: add mainFields configuration, make contethash toggleable
  examples/with-all-experimental/razzle.config.js
  packages/razzle/config/createConfigAsync.js
  website/pages/docs/customization.md
Labels: examples, razzle, webpack

fix(razle-dev-utills): add missing webpack-dev-server dependency
  packages/razzle-dev-utils/package.json
Labels: none

v3.1.7
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(razle-dev-utils): add missing webpack-dev-server dependency
  packages/razzle-dev-utils/package.json
Labels: none

fix(babel-preset-razzle): enable absoluteRuntime
  packages/babel-preset-razzle/index.js
Labels: none

fix(razzle): add missing dependency resolve
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

fix(razzle): require.resolve source-map-support
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

fix(razzle): require.resolve dev entry points
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

fix(examples): fix readme instructions
  examples/with-custom-devserver-options/README.md
  examples/with-custom-webpack-config/README.md
  examples/with-promise-config/README.md
  examples/with-single-exposed-port/README.md
  examples/with-vendor-bundle/README.md
Labels: examples

feat(razzle): add yarn pnp support
  packages/razzle/config/createConfig.js
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

fix(razzle-dev-utils): add missing dependency sockjs-client
  packages/razzle-dev-utils/package.json
  yarn.lock
Labels: repo

fix(razzle-dev-utils): add missing dependency react-error-overlay
  packages/razzle-dev-utils/package.json
  yarn.lock
Labels: repo

perf(babel-preset-razzle): specify runtime version
  packages/babel-preset-razzle/index.js
Labels: none

fix(razzle): require plugins relative to config
  packages/razzle/config/runPlugin.js
Labels: razzle, webpack

fix(razzle-plugin-typescript): add missing dependency razzle-dev-utils
  packages/razzle-plugin-typescript/package.json
Labels: plugins

Use Yarn 2 (#11962)
  package.json
Labels: repo

fix: bundle babel runtime
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack
