Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

examples: fixed module federation example
  examples/with-module-federation/basic-1/razzle.config.js
  examples/with-module-federation/basic-2/razzle.config.js
Labels: examples

feat(babel-preset-razzle): add support for decorators via options
  examples/with-typeorm-graphql/babel.config.json
  examples/with-typeorm-graphql/package.json
  examples/with-typeorm-graphql/src/database/init_db.ts
  examples/with-typeorm-graphql/src/models/Abilities.ts
  examples/with-typeorm-graphql/src/models/Pokemon.ts
  examples/with-typeorm-graphql/src/models/PokemonAbilities.ts
  examples/with-typeorm-graphql/src/models/Types.ts
  examples/with-typeorm-graphql/src/models/index.ts
  examples/with-typeorm-graphql/src/schema/Resolvers.ts
  examples/with-typeorm-graphql/src/server.tsx
  examples/with-typeorm-graphql/tsconfig.json
  packages/babel-preset-razzle/index.js
  packages/babel-preset-razzle/package.json
  yarn.lock
Labels: examples, repo

feat(babel-preset-razzle): add support for parameter decorator via options
  packages/babel-preset-razzle/index.js
  packages/babel-preset-razzle/package.json
Labels: none

Update yarn.lock
  yarn.lock
Labels: repo

examples: add optios to example babelrc
  examples/with-typeorm-graphql/babel.config.json
Labels: examples

fix(example): remove noemit and strict, add emitDecoratorMetaData
  examples/with-typeorm-graphql/tsconfig.json
Labels: examples

feat(babel-preset-razzle): support typescript metadata via a option
  examples/with-typeorm-graphql/tsconfig.json
  packages/babel-preset-razzle/index.js
  packages/babel-preset-razzle/package.json
  yarn.lock
Labels: examples, repo

fix(example): add typescript metadate in preset options
  examples/with-typeorm-graphql/babel.config.json
Labels: examples

examples: bring back typescript plugin example
  examples/with-typescript-plugin/.gitignore
  examples/with-typescript-plugin/README.md
  examples/with-typescript-plugin/package.json
  examples/with-typescript-plugin/public/favicon.ico
  examples/with-typescript-plugin/public/robots.txt
  examples/with-typescript-plugin/razzle.config.js
  examples/with-typescript-plugin/src/App.css
  examples/with-typescript-plugin/src/App.test.tsx
  examples/with-typescript-plugin/src/App.tsx
  examples/with-typescript-plugin/src/Home.css
  examples/with-typescript-plugin/src/Home.tsx
  examples/with-typescript-plugin/src/client.tsx
  examples/with-typescript-plugin/src/index.ts
  examples/with-typescript-plugin/src/react.svg
  examples/with-typescript-plugin/src/server.tsx
  examples/with-typescript-plugin/tsconfig.json
  examples/with-typescript-plugin/tslint.json
  examples/with-typescript-plugin/typings/index.d.ts
Labels: examples

examples: update dependencies it example
  examples/with-typescript-plugin/package.json
Labels: examples

examples: update razzle and plugin versions
  examples/with-typescript-plugin/package.json
Labels: examples

examples: add missing dependencies
  examples/with-typescript-plugin/package.json
Labels: examples

examples: add eslint dependencies
  examples/with-typescript-plugin/package.json
Labels: examples

examples: replace tslint with eslint
  examples/with-typescript-plugin/.eslintrc.js
  examples/with-typescript-plugin/package.json
  examples/with-typescript-plugin/tslint.json
Labels: examples

fix(babel-preset-razzle): remove unstable babel plugin
  packages/babel-preset-razzle/index.js
  packages/babel-preset-razzle/package.json
Labels: none

example: remove unused babel options
  examples/with-typeorm-graphql/babel.config.json
Labels: examples

example: switch to typescript plugin
  examples/with-typeorm-graphql/babel.config.json
  examples/with-typeorm-graphql/package.json
  examples/with-typeorm-graphql/razzle.config.js
Labels: examples

example: add eslint deps and config
  examples/with-typeorm-graphql/.eslintrc.js
  examples/with-typeorm-graphql/package.json
Labels: examples

examples: fix scripts for typescript plugin
  examples/with-typeorm-graphql/package.json
Labels: examples

example: add ormconfig
  examples/with-typeorm-graphql/ormconfig.json
Labels: examples

docs: add more info in export command
  website/pages/getting-started.mdx
Labels: none

example: fix no-use-before-define eslint rule
  examples/with-typeorm-graphql/.eslintrc.js
  examples/with-typescript-plugin/.eslintrc.js
Labels: examples

feat(razzle): add config debug flags
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

example: fix target and module in tsconfig
  examples/with-typeorm-graphql/tsconfig.json
Labels: examples

examples: fix all tsconfigs
  examples/with-typescript-plugin/tsconfig.json
  examples/with-typescript/tsconfig.json
Labels: examples

example: update eslinrc in example
  examples/with-typeorm-graphql/.eslintrc.js
Labels: examples

feat(razzle): add ability to change startserver options, add new startserver option
  packages/razzle-start-server-webpack-plugin/dist/StartServerPlugin.js
  packages/razzle-start-server-webpack-plugin/src/StartServerPlugin.js
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(razzle-start-server-webpack-plugin): forgot to build it again
  packages/razzle-start-server-webpack-plugin/dist/StartServerPlugin.js
Labels: none

feat(babel-loader): add supportsStaticESM option
  packages/razzle/config/babel-loader/razzle-babel-loader.js
Labels: razzle, webpack

example: work on some ideas on how to fix this
  examples/with-typeorm-graphql/.babelrc.node
  examples/with-typeorm-graphql/.babelrc.web
  examples/with-typeorm-graphql/razzle.config.js
Labels: examples

example: comment out attempt at fixing example
  examples/with-typeorm-graphql/.babelrc.node
  examples/with-typeorm-graphql/package.json
  examples/with-typeorm-graphql/razzle.config.js
Labels: examples

example: add prettierrc
  examples/with-typeorm-graphql/.prettierrc
Labels: examples

example: fix eslint errors
  examples/with-typeorm-graphql/src/App.tsx
  examples/with-typeorm-graphql/src/Home.tsx
Labels: examples

fix(babel-loader): supportsStaticESM should come from bundler
  packages/razzle/config/babel-loader/razzle-babel-loader.js
Labels: razzle, webpack

fix(razzle): make webpack context paths.appPath
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(example): made webpack context paths.appPath
  examples/with-module-federation/basic-1/razzle.config.js
  examples/with-module-federation/basic-2/razzle.config.js
Labels: examples

fix(razzle): fixed a bug wgit inspect args to startserver
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(babel-preset-razzle): allow disabling typescript preset
  packages/babel-preset-razzle/index.js
Labels: none

example(with-typeorm-graphql): still a no-go
  examples/with-typeorm-graphql/.babelrc.node
  examples/with-typeorm-graphql/.babelrc.web
  examples/with-typeorm-graphql/razzle.config.js
  examples/with-typeorm-graphql/tsconfig.json
Labels: examples

examples(with-typeorm-graphql): circular imports is the issue it seems
  examples/with-typeorm-graphql/.babelrc.node.notused
  examples/with-typeorm-graphql/.babelrc.web.notused
  examples/with-typeorm-graphql/razzle.config.js
  examples/with-typeorm-graphql/tsconfig.json
Labels: examples

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
