Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

feat(plugin): add razzle-plugin-devcert
  packages/razzle-plugin-devcert/README.md
  packages/razzle-plugin-devcert/index.js
  packages/razzle-plugin-devcert/package.json
  yarn.lock
Labels: plugins, repo

fix: only allow plugin hooks
  packages/razzle-babel-loader/src/loader/get-config.ts
  packages/razzle-babel-loader/src/loader/types.d.ts
  packages/razzle-plugin-webpack5-assets/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/types.ts
  packages/razzle-plugin-webpack5-browserslist/src/types.ts
  packages/razzle-plugin-webpack5-externals/src/index.ts
  packages/razzle-plugin-webpack5-externals/src/types.ts
  packages/razzle-plugin-webpack5-nextra/package.json
  packages/razzle-plugin-webpack5-nextra/src/index.ts
  packages/razzle-plugin-webpack5-nextra/src/types.ts
  packages/razzle-plugin-webpack5-nextra/tsconfig.json
  packages/razzle-plugin-webpack5-postcss/package.json
  packages/razzle-plugin-webpack5-postcss/src/index.ts
  packages/razzle-plugin-webpack5-postcss/src/types.ts
  packages/razzle-plugin-webpack5-postcss/tsconfig.json
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  packages/razzle/src/cli.ts
  packages/razzle/src/loaders/config.ts
  packages/razzle/src/types.ts
  pnpm-lock.yaml
Labels: razzle, webpack, plugins, repo

fix: use a local plugin
  examples/basic-webpack5-esm/razzle.config.js
  examples/basic-webpack5/razzle.config.js
Labels: examples

feat: ported theme to react-router
  packages/razzle-nextra-theme-docs/package.json
  packages/razzle-nextra-theme-docs/src/footer.tsx
  packages/razzle-nextra-theme-docs/src/head.tsx
  packages/razzle-nextra-theme-docs/src/index.tsx
  packages/razzle-nextra-theme-docs/src/locale-switch.tsx
  packages/razzle-nextra-theme-docs/src/misc/theme.tsx
  packages/razzle-nextra-theme-docs/src/navbar.tsx
  packages/razzle-nextra-theme-docs/src/search.tsx
  packages/razzle-nextra-theme-docs/src/sidebar.tsx
  packages/razzle-nextra-theme-docs/src/stork-search.js
  pnpm-lock.yaml
Labels: repo

feat: make babel loader reusable
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/types.ts
  packages/razzle-plugin-webpack5-nextra/src/index.ts
Labels: plugins

feat: add start of rules extraction
  examples/basic-webpack5-esm/package.json
  examples/basic-webpack5-nextra/package.json
  examples/basic-webpack5/package.json
  packages/razzle-plugin-webpack5-nextra/package.json
  packages/razzle-plugin-webpack5-nextra/src/index.ts
  packages/razzle-plugin-webpack5-nextra/src/types.ts
  pnpm-lock.yaml
Labels: examples, plugins, repo

fix: update types
  packages/razzle-plugin-webpack5-nextra/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
Labels: plugins

Updated the "create-react-app" URL
  website/pages/index.mdx
Labels: none

Updated "preact" URL
  website/pages/index.mdx
Labels: none

feat: add start of pages plugin
  packages/razzle-plugin-webpack5-browserslist/src/types.ts
  packages/razzle-plugin-webpack5-css/src/types.ts
  packages/razzle-plugin-webpack5-externals/src/types.ts
  packages/razzle-plugin-webpack5-nextra/src/types.ts
  packages/razzle-plugin-webpack5-pages/package.json
  packages/razzle-plugin-webpack5-pages/src/index.ts
  packages/razzle-plugin-webpack5-pages/src/recursive-readdir.ts
  packages/razzle-plugin-webpack5-pages/src/types.ts
  packages/razzle-plugin-webpack5-pages/src/utils.ts
  packages/razzle-plugin-webpack5-pages/tsconfig.json
  packages/razzle-plugin-webpack5-postcss/src/types.ts
  pnpm-lock.yaml
Labels: plugins, repo

feat: add pages example
  examples/basic-webpack5-nextra/package.json
  examples/basic-webpack5-nextra/pages/_app.js
  examples/basic-webpack5-nextra/pages/_document.js
  examples/basic-webpack5-nextra/pages/change-log.mdx
  examples/basic-webpack5-nextra/pages/deployment-options/aws.md
  examples/basic-webpack5-nextra/pages/deployment-options/azure.md
  examples/basic-webpack5-nextra/pages/deployment-options/meta.json
  examples/basic-webpack5-nextra/pages/deployment-options/plesk.md
  examples/basic-webpack5-nextra/pages/deployment-options/vercel.md
  examples/basic-webpack5-nextra/pages/docs/customization.md
  examples/basic-webpack5-nextra/pages/docs/environment-variables.md
  examples/basic-webpack5-nextra/pages/docs/experimental-features.md
  examples/basic-webpack5-nextra/pages/docs/how-it-works.md
  examples/basic-webpack5-nextra/pages/docs/meta.json
  examples/basic-webpack5-nextra/pages/docs/single-page-applications.md
  examples/basic-webpack5-nextra/pages/docs/static-export.md
  examples/basic-webpack5-nextra/pages/docs/upgrade-guide.md
  examples/basic-webpack5-nextra/pages/getting-started.mdx
  examples/basic-webpack5-nextra/pages/index.mdx
  examples/basic-webpack5-nextra/pages/meta.json
  examples/basic-webpack5-nextra/razzle.config.js
  packages/razzle-plugin-webpack5-nextra/package.json
  packages/razzle-plugin-webpack5-pages/src/index.ts
  packages/razzle-plugin-webpack5-pages/src/types.ts
  packages/razzle-plugin-webpack5-pages/src/utils.ts
  pnpm-lock.yaml
Labels: examples, plugins, repo

remove css logs
  packages/razzle/config/loadRazzleConfig.js
Labels: razzle, webpack

update webpack 5 version in docs
  website/pages/getting-started.mdx
Labels: none

Update ts checker with support eslint@8
  packages/razzle-plugin-typescript/package.json
Labels: plugins

feat: add build matrix
  packages/razzle-plugin-webpack5-pages/package.json
  packages/razzle-plugin-webpack5-pages/src/utils.ts
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/index.ts
  packages/razzle-plugin-webpack5/src/types.ts
  pnpm-lock.yaml
Labels: plugins, repo

fix: loop over build matrix
  packages/razzle-plugin-webpack5/src/createConfig.ts
Labels: plugins

fix: isNode is now isServer
  packages/razzle-plugin-webpack5-assets/src/index.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
  packages/razzle-plugin-webpack5-css/src/index.ts
  packages/razzle-plugin-webpack5-externals/src/index.ts
  packages/razzle-plugin-webpack5/src/createConfig.ts
  packages/razzle-plugin-webpack5/src/types.ts
Labels: plugins

fix: duh, keys
  packages/razzle-plugin-webpack5/src/createConfig.ts
Labels: plugins

fix: use buildMatrix here aswell
  packages/razzle-plugin-webpack5-browserslist/src/index.ts
Labels: plugins

fix: of not in
  packages/razzle-plugin-webpack5-browserslist/src/index.ts
  packages/razzle-plugin-webpack5/src/createConfig.ts
Labels: plugins

fix: working build
  examples/basic-webpack5/razzle.config.js
  packages/razzle-plugin-webpack5/src/createConfig.ts
Labels: examples, plugins

fix(examples-with-heroku): adjust package build scripts
  examples/with-heroku/package.json
Labels: examples

Update createConfigAsync.js
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

chore: try figuring out config loading
  examples/basic-webpack5-babelrc/babel.config.js
  examples/basic-webpack5-babelrc/package.json
  examples/basic-webpack5-babelrc/razzle.config.js
  examples/basic-webpack5-babelrc/src/client.js
  examples/basic-webpack5-babelrc/src/server.js
  packages/razzle-babel-loader/src/loader/get-config.ts
  packages/razzle-plugin-webpack5-pages/package.json
  packages/razzle-plugin-webpack5-postcss/src/index.ts
  pnpm-lock.yaml
Labels: examples, plugins, repo

chore: basic babel config loading working
  examples/basic-webpack5-babelrc/babel.config.cjs
  examples/basic-webpack5-babelrc/babel.config.js
  package.json
  packages/razzle-babel-loader/src/loader/get-config.ts
  pnpm-lock.yaml
Labels: examples, repo

chore: cleanup
  packages/razzle-babel-loader/src/loader/get-config.ts
Labels: none

Update env.js
  packages/razzle/config/env.js
Labels: razzle, webpack

ci: integrate TAS platform
  .tas.yml
Labels: repo

chore: some more work on babel loader
  packages/razzle-babel-loader/src/loader/get-config.ts
  packages/razzle-babel-loader/src/loader/types.d.ts
  packages/razzle-plugin-webpack5-babel/src/index.ts
Labels: plugins

Change default host in the docs
  packages/create-razzle-app/templates/default/README.md
  packages/razzle/config/env.js
  website/pages/docs/environment-variables.md
Labels: razzle, webpack

chore: add changesets
  .changeset/config.json
  .changeset/wicked-onions-dance.md
  package.json
  yarn.lock
Labels: repo

chore: update changesets config
  .changeset/config.json
Labels: none

chore: update release workflow
  .github/workflows/release.yml
Labels: none

chore: update release workflow
  .github/workflows/release.yml
Labels: none

chore: update release workflow
  .github/workflows/release.yml
Labels: none

chore: add alpha changeset release
  .changeset/config.json
  .github/workflows/release_alpha.yml
  package.json
  pnpm-lock.yaml
Labels: repo

chore: use pnpm action
  .github/workflows/release_alpha.yml
Labels: none

chore: set pnpm version
  .github/workflows/release_alpha.yml
Labels: none

fix: use key
  .github/workflows/release_alpha.yml
Labels: none

chore: enter pre mode
  .changeset/config.json
  .changeset/pre.json
  examples/basic-webpack5-babelrc/package.json
  examples/basic-webpack5-esm/package.json
  examples/basic-webpack5-nextra/package.json
  examples/basic-webpack5/package.json
Labels: examples
