Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*

feat(examples): add start of with-flight example
  examples/with-flight/.gitignore
  examples/with-flight/README.md
  examples/with-flight/package.json
  examples/with-flight/public/favicon.ico
  examples/with-flight/public/index.html
  examples/with-flight/public/robots.txt
  examples/with-flight/razzle.config.js
  examples/with-flight/sandbox.config.json
  examples/with-flight/src/App.css
  examples/with-flight/src/App.js
  examples/with-flight/src/App.test.js
  examples/with-flight/src/cli.server.js
  examples/with-flight/src/index.client.js
  examples/with-flight/src/index.server.js
Labels: examples

fix(examples): write to disk in dev in with-flight
  examples/with-flight/razzle.config.js
Labels: examples

fix(razzle): fix modifyBabelPreset
  packages/razzle/config/babel-loader/razzle-babel-loader.js
Labels: razzle, webpack

fix(razzle): babel-jest with babelrc file
  packages/razzle/config/jest/babelTransform.js
Labels: razzle, webpack

fix(razzle): print errors when building
  packages/razzle-dev-utils/printErrors.js
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
Labels: razzle, webpack

feat(razzle): add webpackOptions.terserPluginOptions in node production
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(razzle): use radix for parseInt
  packages/razzle-dev-utils/setPorts.js
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

docs: document compilerOptions.paths in ts/jsconfig
  website/pages/docs/customization.md
Labels: none

fix(razzle): fix issue with chalk process/buffer
  packages/razzle/config/createConfigAsync.js
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

fix(razzle): disable pnp plugin with webpack 5
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

docs: add start of upgrade guide
  website/pages/docs/meta.json
  website/pages/docs/upgrade-guide.md
Labels: none

[babel 8] Use the JSX automatic runtime by default (#12630)
  test/fixtures/jsx-compat/options.json
Labels: none

feat(razzle): add option for per target .babelrc, better naming of options
  examples/with-custom-babel-config/razzle.config.js
  examples/with-custom-target-babel-config/.babelrc.node
  examples/with-custom-target-babel-config/.babelrc.web
  examples/with-custom-target-babel-config/.gitignore
  examples/with-custom-target-babel-config/README.md
  examples/with-custom-target-babel-config/package.json
  examples/with-custom-target-babel-config/razzle.config.js
  examples/with-custom-target-babel-config/src/App.js
  examples/with-custom-target-babel-config/src/Home.js
  examples/with-custom-target-babel-config/src/client.js
  examples/with-custom-target-babel-config/src/index.js
  examples/with-custom-target-babel-config/src/server.js
  packages/razzle/config/babel-loader/razzle-babel-loader.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/defaultOptions.js
  website/pages/docs/customization.md
Labels: examples, razzle, webpack

fix(razzle) make public dir optional
  packages/razzle/config/babel-loader/razzle-babel-loader.js
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

docs: update upgrade guide
  .github/workflows/nodejs.yml
  website/pages/docs/upgrade-guide.md
Labels: none

docs: document peerdependencies
  website/pages/getting-started.mdx
Labels: none

feat(razzle): add forceRuntimeEnvVars option, remove old define
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/defaultOptions.js
  packages/razzle/config/env.js
  website/pages/docs/customization.md
  website/pages/docs/environment-variables.md
Labels: razzle, webpack

fix(razzle): fix a logic error with forceRuntimeEnvVars
  packages/razzle/config/env.js
Labels: razzle, webpack

docs: document difference on -- with npm
  website/pages/getting-started.mdx
Labels: none

examples: add start of module federation example
  examples/with-module-federation/.gitignore
  examples/with-module-federation/README.md
  examples/with-module-federation/basic-1/package.json
  examples/with-module-federation/basic-1/public/favicon.ico
  examples/with-module-federation/basic-1/public/index.html
  examples/with-module-federation/basic-1/public/robots.txt
  examples/with-module-federation/basic-1/razzle.config.js
  examples/with-module-federation/basic-1/src/App.css
  examples/with-module-federation/basic-1/src/App.js
  examples/with-module-federation/basic-1/src/App.test.js
  examples/with-module-federation/basic-1/src/client.js
  examples/with-module-federation/basic-2/package.json
  examples/with-module-federation/basic-2/public/favicon.ico
  examples/with-module-federation/basic-2/public/index.html
  examples/with-module-federation/basic-2/public/robots.txt
  examples/with-module-federation/basic-2/razzle.config.js
  examples/with-module-federation/basic-2/src/App.css
  examples/with-module-federation/basic-2/src/App.js
  examples/with-module-federation/basic-2/src/App.test.js
  examples/with-module-federation/basic-2/src/client.js
  examples/with-module-federation/package.json
Labels: examples

examples: rename and work on example, ignore /. in assets
  examples/with-react-server-components/.babelrc.node
  examples/with-react-server-components/.babelrc.web
  examples/with-react-server-components/.gitignore
  examples/with-react-server-components/README.md
  examples/with-react-server-components/package.json
  examples/with-react-server-components/public/favicon.ico
  examples/with-react-server-components/public/index.html
  examples/with-react-server-components/public/robots.txt
  examples/with-react-server-components/razzle.config.js
  examples/with-react-server-components/sandbox.config.json
  examples/with-react-server-components/src/App.css
  examples/with-react-server-components/src/App.js
  examples/with-react-server-components/src/App.test.js
  examples/with-react-server-components/src/cli.server.js
  examples/with-react-server-components/src/index.client.js
  examples/with-react-server-components/src/index.server.js
  packages/razzle/config/createConfigAsync.js
Labels: examples, razzle, webpack

docs: add deployment options
  website/pages/deployment-options/aws.md
  website/pages/deployment-options/meta.json
  website/pages/deployment-options/plesk.md
  website/pages/deployment-options/vercel.md
  website/pages/meta.json
Labels: none

dev-infra: try fixing docs build
  website/package.json
Labels: none

feat(razzle): add enableBabelCache
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/defaultOptions.js
  website/pages/deployment-options/aws.md
  website/pages/deployment-options/plesk.md
  website/pages/deployment-options/vercel.md
  website/pages/docs/customization.md
Labels: razzle, webpack

fix(razzle): allow adding plugins as @scope/package
  packages/razzle/config/loadPlugins.js
Labels: razzle, webpack

fix(razzle-start-server-webpack-plugin): handle SIGINT by passing it down to worker
  packages/razzle-start-server-webpack-plugin/dist/StartServerPlugin.js
Labels: none

fix(razzle-start-server-webpack-plugin): try fixing event error
  packages/razzle-start-server-webpack-plugin/dist/StartServerPlugin.js
  packages/razzle-start-server-webpack-plugin/src/StartServerPlugin.js
Labels: none

fix(razzle-start-server-webpack-plugin): fix error after process exit
  packages/razzle-start-server-webpack-plugin/dist/StartServerPlugin.js
  packages/razzle-start-server-webpack-plugin/src/StartServerPlugin.js
Labels: none

fix(razzle): make sure client dev server closes
  packages/razzle/scripts/start.js
Labels: razzle, webpack

fix(razzle-plugins): postcss options not applied by razzle-plugin-scss
  packages/razzle-plugin-scss/index.js
Labels: plugins

docs: add start of azure deployment docs
  website/pages/deployment-options/azure.md
  website/pages/deployment-options/meta.json
Labels: none

docs: working azure deployment
  website/pages/deployment-options/azure.md
Labels: none

docs: work on aws deployment docs
  website/pages/deployment-options/aws.md
Labels: none

docs: work on aws deploy
  website/pages/deployment-options/aws.md
  website/pages/deployment-options/azure.md
Labels: none

docs: multi-line commands
  website/pages/deployment-options/azure.md
Labels: none

docs: add plesk deployment info
  website/pages/deployment-options/plesk.md
Labels: none

Update aws.md
  website/pages/deployment-options/aws.md
Labels: none

Update aws.md
  website/pages/deployment-options/aws.md
Labels: none

docs: better aws deploy
  website/pages/deployment-options/aws.md
Labels: none

Update aws.md
  website/pages/deployment-options/aws.md
Labels: none
