Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

Support for not released plugins
  packages/razzle/config/loadPlugins.js
Labels: razzle, webpack

Support for not released plugins in razzle.config.js
  packages/razzle/config/loadPlugins.js
Labels: razzle, webpack

Get rid of spectrum link
  packages/razzle/README.md
Labels: razzle, webpack

Update README.md
  packages/razzle/README.md
Labels: razzle, webpack

Update README.md
  packages/razzle/README.md
Labels: razzle, webpack

Add documentation for non-relative module imports.
  website/pages/docs/customization.md
Labels: none

feat(razzle): Support for not released plugins in razzle.config.js
  packages/razzle/config/loadPlugins.js
Labels: razzle, webpack

Get rid of spectrum link
  packages/razzle/README.md
Labels: razzle, webpack

Update README.md
  packages/razzle/README.md
Labels: razzle, webpack

Update README.md
  packages/razzle/README.md
Labels: razzle, webpack

fix(razzle): fix for unreleased plugins
  packages/razzle/config/loadPlugins.js
Labels: razzle, webpack

fix(razzle-plugins): add css-loader dependency
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/package.json
Labels: plugins

fix(razzle-plugins): add css-loader dependency
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/package.json
Labels: plugins

feat: add modifyBabelPreset config hooks
  packages/razzle/config/babel-loader/razzle-babel-loader.js
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

Fix error running with-typescript example
  examples/with-typescript/src/index.ts
Labels: examples

refactor: use option-validator in preset-typescript (#12347)
  package.json
  src/index.js
Labels: repo

v7.12.7
  package.json
Labels: repo

feat: add new asset manifest, change file output template
  examples/basic/src/server.js
  examples/with-all-experimental/src/server.js
  examples/with-custom-babel-config/src/server.js
  examples/with-custom-devserver-options/src/server.js
  examples/with-custom-environment-variables/src/server.js
  examples/with-custom-webpack-config/src/server.js
  examples/with-experimental-refresh/src/server.js
  examples/with-firebase-functions/src/server.js
  examples/with-heroku/src/server.js
  examples/with-jsconfig-paths/src/server.js
  examples/with-scss-options/src/server.js
  examples/with-scss/src/server.js
  packages/create-razzle-app/templates/default/src/server.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/env.js
  packages/razzle/config/paths.js
  packages/razzle/package.json
  packages/razzle/scripts/start.js
  test/tests/razzle-build.test.js
  test/tests/razzle-start.test.js
  yarn.lock
Labels: examples, razzle, webpack, repo

fix(razzle): fix typo
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

v3.3.8
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

docs: document absolute imports
  website/pages/docs/customization.md
Labels: none

docs: document absolute imports
  website/pages/docs/customization.md
Labels: none

docs(examples): fix punctuation and grammar
  .gitignore
  examples/with-typescript/README.md
Labels: examples, repo

docs(examples): fix punctuation and grammar
  examples/with-typescript/README.md
Labels: examples

feat(razzle): add more webpackOptions, remove cacheable
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

dev-infra: add yalc-try-example dev script
  package.json
  scripts/yalc-try-example.js
  test/fixtures/util.js
Labels: repo

fix(examples): fix with-typescript example
  examples/with-typescript/src/index.ts
Labels: examples

dev-infra: test exit code
  scripts/publish-all.js
Labels: none

fix(razzle): join paths in appDirectory
  packages/razzle/config/paths.js
Labels: razzle, webpack

dev-infra: rearrange try-example cpde
  package.json
  scripts/try-example.js
  scripts/yalc-try-example.js
  test/fixtures/util.js
Labels: repo

example: start work on monorepo example
  examples/with-monorepo/.gitignore
  examples/with-monorepo/README.md
  examples/with-monorepo/basic-1/package.json
  examples/with-monorepo/basic-1/public/favicon.ico
  examples/with-monorepo/basic-1/public/robots.txt
  examples/with-monorepo/basic-1/src/App.css
  examples/with-monorepo/basic-1/src/App.js
  examples/with-monorepo/basic-1/src/App.test.js
  examples/with-monorepo/basic-1/src/client.js
  examples/with-monorepo/basic-1/src/index.js
  examples/with-monorepo/basic-1/src/server.js
  examples/with-monorepo/basic-2/package.json
  examples/with-monorepo/basic-2/public/favicon.ico
  examples/with-monorepo/basic-2/public/robots.txt
  examples/with-monorepo/basic-2/src/App.css
  examples/with-monorepo/basic-2/src/App.js
  examples/with-monorepo/basic-2/src/App.test.js
  examples/with-monorepo/basic-2/src/client.js
  examples/with-monorepo/basic-2/src/index.js
  examples/with-monorepo/basic-2/src/server.js
  examples/with-monorepo/package.json
Labels: examples

fix(razzle): pass verbose down to compile
  packages/razzle/scripts/start.js
Labels: razzle, webpack

dev-infra: make publish-all more verbose
  scripts/publish-all.js
Labels: none

dev-infra: use --no-commit-hooks
  scripts/publish-all.js
Labels: none

v4.0.0-canary.9
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-bundle-analyzer/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-graphql/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-svelte/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle-start-server-webpack-plugin/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

Adds missing localIdentName configuration in the createConfigAsync.js file
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

v3.3.9
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(razzle-plugins): use Dart sass instead of deprecated node-sass
  packages/razzle-plugin-scss/package.json
Labels: plugins

docs: fix version badge
  packages/razzle/README.md
Labels: razzle, webpack

docs: fix version badge
  packages/razzle/README.md
Labels: razzle, webpack

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
