Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

use contenthash for better longterm caching of JS assets
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

missing change
  package.json
  yarn.lock
Labels: repo

Use `repository.directory` field in `package.json` files (#11625)
  package.json
Labels: repo

v7.10.1
  package.json
Labels: repo

feat(razzle): make configuration promise based
  README.md
  examples/with-promise-config/.gitignore
  examples/with-promise-config/README.md
  examples/with-promise-config/package.json
  examples/with-promise-config/public/favicon.ico
  examples/with-promise-config/public/robots.txt
  examples/with-promise-config/razzle.config.js
  examples/with-promise-config/src/App.js
  examples/with-promise-config/src/client.js
  examples/with-promise-config/src/index.js
  examples/with-promise-config/src/server.js
  examples/with-scss-options/.gitignore
  examples/with-scss-options/README.md
  examples/with-scss-options/package.json
  examples/with-scss-options/public/favicon.ico
  examples/with-scss-options/public/robots.txt
  examples/with-scss-options/razzle.config.js
  examples/with-scss-options/src/App.js
  examples/with-scss-options/src/App.scss
  examples/with-scss-options/src/App.test.js
  examples/with-scss-options/src/app.module.scss
  examples/with-scss-options/src/client.js
  examples/with-scss-options/src/index.js
  examples/with-scss-options/src/other.scss
  examples/with-scss-options/src/prepend.scss
  examples/with-scss-options/src/server.js
  packages/razzle/config/createConfig.js
  packages/razzle/config/createJestConfig.js
  packages/razzle/config/env.js
  packages/razzle/config/loadPlugins.js
  packages/razzle/config/loadRazzleConfig.js
  packages/razzle/config/modules.js
  packages/razzle/config/paths.js
  packages/razzle/config/runPlugin.js
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
  packages/razzle/scripts/test.js
  test/fixtures/util.js
  test/tests/razzle-build.test.js
Labels: examples, razzle, webpack, repo

feat(create-razzle-app) :add support for npm/github/git/file example templates
  README.md
  packages/create-razzle-app/README.md
  packages/create-razzle-app/bin/create-razzle-app
  packages/create-razzle-app/lib/index.js
  packages/create-razzle-app/lib/utils/copy-dir.js
  packages/create-razzle-app/lib/utils/install.js
  packages/create-razzle-app/lib/utils/load-git-example.js
  packages/create-razzle-app/lib/utils/load-github-example.js
  packages/create-razzle-app/lib/utils/load-npm-example.js
  packages/create-razzle-app/package.json
  test/fixtures/util.js
  test/tests/create-razzle-app.test.js
  yarn.lock
Labels: repo

fix(typescript): remove deprecation doc
  packages/razzle-plugin-typescript/README.md
Labels: plugins

fix(example): fix windows paths
  examples/with-scss-options/razzle.config.js
Labels: examples

fix(razzle): add back line lost in merge
  packages/razzle/config/createJestConfig.js
Labels: razzle, webpack

feat(razzle): support paths in jsconfig and tsconfig
  packages/razzle/config/createConfig.js
  packages/razzle/config/modules.js
Labels: razzle, webpack

feat(razzle): support paths in jsconfig and tsconfig
  examples/with-jsconfig-paths/.gitignore
  examples/with-jsconfig-paths/README.md
  examples/with-jsconfig-paths/extra/extra.js
  examples/with-jsconfig-paths/jsconfig.json
  examples/with-jsconfig-paths/package.json
  examples/with-jsconfig-paths/public/favicon.ico
  examples/with-jsconfig-paths/public/robots.txt
  examples/with-jsconfig-paths/sandbox.config.json
  examples/with-jsconfig-paths/src/App.css
  examples/with-jsconfig-paths/src/App.js
  examples/with-jsconfig-paths/src/App.test.js
  examples/with-jsconfig-paths/src/client.js
  examples/with-jsconfig-paths/src/index.js
  examples/with-jsconfig-paths/src/server.js
  packages/razzle/config/createConfig.js
  packages/razzle/config/modules.js
  test/tests/razzle-build.test.js
Labels: examples, razzle, webpack

fix: upgrade elm-static-html-lib from 0.0.8-alpha.7 to 0.1.0
  examples/with-elm/package.json
Labels: examples

fix: upgrade webpack-dev-server from 3.10.3 to 3.11.0
  packages/razzle/package.json
Labels: razzle, webpack

fix: upgrade reason-react from 0.7.1 to 0.8.0
  examples/with-reason-react/package.json
Labels: examples

fix: upgrade babel-plugin-dynamic-import-node from 2.3.0 to 2.3.3
  packages/babel-preset-razzle/package.json
Labels: none

chore: upgrade assets-webpack-plugin beyond 3.10
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

add webpack5 support
  packages/razzle-dev-utils/formatWebpackMessages.js
  packages/razzle-dev-utils/webpackMajor.js
  packages/razzle/config/createConfig.js
  packages/razzle/package.json
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
  test/tests/razzle-start.test.js
  test/utils/psKill.js
  yarn.lock
Labels: razzle, webpack, repo

feat: allow dev port config
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

Update how to build for type SPA
  README.md
Labels: repo

Remove empty line above customizations
  README.md
Labels: repo

fix(css): make sure only one mini-css-extract-plugin is present
  packages/razzle-plugin-scss/package.json
Labels: plugins

v3.1.4
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(css): make sure only one mini-css-extract-plugin is present
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/package.json
Labels: plugins

fix(razzle): fix isse with DEV_PORT env var and client only razzle start
  packages/razzle-dev-utils/setPorts.js
  packages/razzle/scripts/start.js
  yarn.lock
Labels: razzle, webpack, repo

fix: packages/razzle-plugin-vue/package.json & packages/razzle-plugin-vue/.snyk to reduce vulnerabilities
  packages/razzle-plugin-vue/.snyk
  packages/razzle-plugin-vue/package.json
Labels: plugins

fix: packages/razzle-plugin-php/package.json & packages/razzle-plugin-php/.snyk to reduce vulnerabilities
  packages/razzle-plugin-php/.snyk
  packages/razzle-plugin-php/package.json
Labels: plugins

fix: packages/razzle/package.json & packages/razzle/.snyk to reduce vulnerabilities
  packages/razzle/.snyk
  packages/razzle/package.json
Labels: razzle, webpack

fix: packages/razzle-plugin-elm/package.json & packages/razzle-plugin-elm/.snyk to reduce vulnerabilities
  packages/razzle-plugin-elm/.snyk
  packages/razzle-plugin-elm/package.json
Labels: plugins

v7.10.4
  package.json
Labels: repo

chore(sass): update sass dependencies
  examples/with-scss-options/razzle.config.js
  packages/razzle-plugin-scss/index.js
  packages/razzle-plugin-scss/package.json
  yarn.lock
Labels: examples, plugins, repo

dev-infra: skip node 8.x with webpack5 on github ci
  .github/workflows/nodejs.yml
Labels: none

dev-infra: skip node 8.x with webpack5 on github ci
  .github/workflows/nodejs.yml
Labels: none

dev-infra: fixed last commit
  .github/workflows/nodejs.yml
Labels: none

dev-infra: test more node versions in github ci
  .github/workflows/nodejs.yml
Labels: none

dev-infra: test more node versions in github ci
  .github/workflows/nodejs.yml
Labels: none

dev-infra: add node-gyp@7.0.0 to resolutions so node-sass builds on node 13+
  package.json
  yarn.lock
Labels: repo

dev-infra: add node-gyp@7.0.0 to resolutions so node-sass builds on node 13+
  package.json
  yarn.lock
Labels: repo

dev-infra: add node-gyp@7.0.0 to resolutions so node-sass builds on node 13+
  package.json
  yarn.lock
Labels: repo

dev-infra: don't test webpack5 on node 8 and 9 in circleci
  .circleci/config.yml
Labels: none

dev-infra: use cache to speed up ci testing
  .github/workflows/nodejs.yml
Labels: none

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
