Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

dev-infra: be verbose to see why test fails
  test/tests/razzle-build.test.js
Labels: none

dev-infra: try making tests pass in ci
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix: razzle allow toggling warnings as errors
  .github/workflows/nodejs.yml
  packages/razzle/scripts/build.js
Labels: razzle, webpack

dev-infra: silence test after fixing tests
  test/tests/razzle-build.test.js
Labels: none

fix: remove logging statements used in debugging
  packages/razzle-dev-utils/setPorts.js
  packages/razzle/scripts/start.js
Labels: razzle, webpack

fix(razzle-dev-utils): setPorts did not set port in async
  packages/razzle-dev-utils/setPorts.js
Labels: none

fix: razzle allow toggling warnings as errors
  packages/razzle/scripts/build.js
Labels: razzle, webpack

dev-infra: disable warnings as errors
  .github/workflows/nodejs.yml
Labels: none

chore: update yarn lock
  yarn.lock
Labels: repo

fix: keep node 8 compatibility
  packages/razzle/package.json
  test/fixtures/util.js
  yarn.lock
Labels: razzle, webpack, repo

examples: fix bad json syntax
  examples/with-experimental-refresh/package.json
  test/fixtures/util.js
Labels: examples

add razzle svelte plugin
  .all-contributorsrc
  packages/razzle-plugin-svelte/README.md
  packages/razzle-plugin-svelte/index.js
  packages/razzle-plugin-svelte/package.json
Labels: plugins, repo

fix: add dependencies
  examples/with-heroku/package.json
  packages/razzle/package.json
Labels: examples, razzle, webpack

fix(razzle): use paths.appPath with libIdent
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

v3.3.0-canary.5
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

fix(create-razzle-app): use correct dep
  packages/create-razzle-app/templates/default/package.json
Labels: none

fix(razzle): use paths.appPath with libIdent
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

dev-infra: better control of dependency versions
  package.json
  scripts/exampleDependencyVersions.json
  scripts/internalPeerDependencyVersions.json
  scripts/update-examples.js
  yarn.lock
Labels: repo

dev-infra: even better control of dependencies
  lerna.json
  packages/razzle/README.md
  scripts/build-docs.js
  scripts/update-examples.js
Labels: razzle, webpack, repo

dev-infra: better branch logic
  package.json
  scripts/update-examples.js
Labels: repo

chore: format code
  packages/create-razzle-app/lib/index.js
  packages/razzle-dev-utils/setPorts.js
  packages/razzle/config/createConfigAsync.js
  scripts/build-docs.js
Labels: razzle, webpack

dev-infra: add publish-finch
  package.json
Labels: repo

chore: update postcss dependencies
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/index.js
  packages/razzle-plugin-scss/package.json
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, plugins, repo

feat: add webpack 5 support
  package.json
  packages/razzle-dev-utils/formatWebpackMessages.js
  packages/razzle-dev-utils/package.json
  packages/razzle-dev-utils/webpackMajor.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/package.json
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
  yarn.lock
Labels: razzle, webpack, repo

fix(razzle): make more options overridable
  packages/razzle/config/createConfig.js
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(razzle): new dependency version
  packages/razzle/package.json
  yarn.lock
Labels: razzle, webpack, repo

fix(razzle): correct options to StartServerPlugin
  example/cache/razzle-babel-loader/fe5429895b178adf52d769fe4d0ba0f4.json
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix: fix issue with commonjsplugin and postcss-loader
  packages/babel-preset-razzle/babel-plugins/commonjs.js
  packages/babel-preset-razzle/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle/config/createConfigAsync.js
  packages/razzle/package.json
  stage-build/package.json
  stage-build/packages
  stage-build/public/nothing.txt
  stage-build/src/client.css
  stage-build/src/client.js
  stage-build/src/index.js
  stage-build/src/logo.png
  stage-start-spa/.gitignore
  stage-start-spa/README.md
  stage-start-spa/package.json
  stage-start-spa/public/favicon.ico
  stage-start-spa/public/index.html
  stage-start-spa/public/robots.txt
  stage-start-spa/src/App.css
  stage-start-spa/src/App.js
  stage-start-spa/src/App.test.js
  stage-start-spa/src/client.js
  stage-start/.gitignore
  stage-start/README.md
  stage-start/package.json
  stage-start/public/favicon.ico
  stage-start/public/robots.txt
  stage-start/sandbox.config.json
  stage-start/src/App.css
  stage-start/src/App.js
  stage-start/src/App.test.js
  stage-start/src/client.js
  stage-start/src/index.js
  stage-start/src/server.js
  yarn.lock
Labels: razzle, webpack, plugins, repo

fix(razzle): silence startserverplugin
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix: try making tests pass
  test/tests/razzle-start.test.js
Labels: none

feat(razzle): use options instead of cli args
  packages/razzle/config/defaultOptions.js
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
  website/pages/docs/customization.md
Labels: razzle, webpack

Update .gitignore
  .gitignore
Labels: repo

fix: load options correctly, use fs in tests, set clientonly
  .gitignore
  examples/basic-spa/package.json
  examples/basic-spa/razzle.config.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/loadRazzleConfig.js
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
  test/fixtures/build-default-spa/package.json
  test/fixtures/build-default-spa/razzle.config.js
  test/tests/create-razzle-app.test.js
  test/tests/razzle-build.test.js
  test/tests/razzle-start-spa.test.js
  test/tests/razzle-start.test.js
  website/pages/docs/single-page-applications.md
Labels: examples, razzle, webpack, repo

fix: make more options overridable, clean up old preset, document babel config
  packages/babel-preset-razzle/index.js
  packages/babel-preset-razzle/package.json
  packages/babel-preset-razzle/razzle-four-preset.js
  packages/razzle/config/babel/razzle-babel-loader.js
  packages/razzle/config/createConfigAsync.js
  test/tests/create-razzle-app.test.js
  website/pages/docs/customization.md
Labels: razzle, webpack

fix: no jest in plugins
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-vue/package.json
Labels: plugins

fix: use jest in top package
  package.json
  yarn.lock
Labels: repo

fix: add test packages
  package.json
Labels: repo

fix: try fixing windows tests
  test/tests/razzle-start-spa.test.js
  test/tests/razzle-start.test.js
Labels: none

fix: typo
  test/tests/razzle-start.test.js
Labels: none

fix: allow getting string only loaders
  packages/razzle-dev-utils/makeLoaderFinder.js
Labels: none

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
