Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

feat(razzle): Update prerender example
  examples/with-react-router/paths.js
  examples/with-react-router/routes.json
  examples/with-react-router/src/server.js
Labels: examples

feat(razzle): data is optional!
  packages/razzle/scripts/prerender.js
Labels: razzle, webpack

docs: move prerender docs to website
  website/pages/docs/customization.md
Labels: none

docs: fix wrong heading level
  website/pages/docs/customization.md
Labels: none

fix(razzle-dev-utils): Missing dependency in dev utils
  packages/razzle-dev-utils/package.json
Labels: none

chore(razzle-dev-utils): fix version
  packages/razzle-dev-utils/package.json
Labels: none

chore(razzle-dev-utils): change version
  packages/razzle-dev-utils/package.json
Labels: none

Update README.md
  examples/with-now-v2/README.md
Labels: examples

fix: updated spa example with working env var
  examples/basic-spa/public/index.html
Labels: examples

doc: remove -- from yarn command for arguments
  README.md
  packages/razzle/README.md
Labels: razzle, webpack, repo

Fixed example for plugin `target` value
  README.md
Labels: repo

dev-infra: improve update-examples dev script
  packages/create-razzle-app/lib/utils/load-example.js
  packages/create-razzle-app/lib/utils/load-github-example.js
  scripts/update-examples.js
Labels: none

dev-infra: improve build-docs dev script to point to correct documentation
  README.md
  scripts/build-docs.js
Labels: repo

dev-infra: update build-docs to change getting-started instructions on canary
  scripts/build-docs.js
Labels: none

dev-infra: add utils for testing razzle, fix plugin tests
  packages/razzle-plugin-less/tests/index.test.js
  packages/razzle-plugin-mdx/tests/index.test.js
  packages/razzle-plugin-scss/tests/index.test.js
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-typescript/tests/index.test.js
  packages/razzle/config/createConfig.js
  packages/razzle/config/createRazzleTestConfig.js
  packages/razzle/config/loadPlugins.js
  packages/razzle/config/loadRazzleConfig.js
  yarn.lock
Labels: razzle, webpack, plugins, repo

docs: change target in example code
  website/pages/docs/customization.md
Labels: none

fix(css): add back localIdentName to css modules
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-scss/index.js
  packages/razzle/config/createConfig.js
Labels: razzle, webpack, plugins

fix(css): add back localIdentName to css modules
  packages/razzle-plugin-scss/index.js
  packages/razzle/config/createConfig.js
Labels: razzle, webpack, plugins

fix(razzle): allow use of PORT_DEV env var
  packages/razzle-dev-utils/setPorts.js
  packages/razzle/config/createConfig.js
  packages/razzle/scripts/start.js
Labels: razzle, webpack

fix: deprecate createConfig so plugin tests have time to update before next major release
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/createRazzleTestConfig.js
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
Labels: razzle, webpack

fix(css): add one more missed localIdentName
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

fix(css): add one more missed localIdentName
  packages/razzle/config/createConfig.js
Labels: razzle, webpack

fix(razzle/babel): use cacheIdentifier so babel cache does not mix up builds
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

docs: update getting started duplicate paragraphs
  website/pages/getting-started.mdx
Labels: none

docs: update getting started duplicate paragraphs
  website/pages/getting-started.mdx
Labels: none

dev-infra: retry stage directory removal to try fixing windows tests
  test/fixtures/util.js
Labels: none

Revert "dev-infra: retry stage directory removal to try fixing windows tests"
  test/fixtures/util.js
Labels: none

dev-infra: log command output to debug ci failure
  test/tests/razzle-start-spa.test.js
Labels: none

dev-infra: log stderr to debug ci test failure
  test/tests/razzle-start-spa.test.js
Labels: none

dev-infra: wait longer to debug ci tests
  test/tests/razzle-start-spa.test.js
Labels: none

dev-infra: debug the correct test
  test/tests/razzle-start-spa.test.js
Labels: none

Revert "fix(razzle): allow use of PORT_DEV env var"
  packages/razzle-dev-utils/setPorts.js
  packages/razzle/config/createConfig.js
  packages/razzle/scripts/start.js
Labels: razzle, webpack

dev-infra: make update-examples alter package.json with correct tag
  scripts/update-examples.js
Labels: none

examples: update razzle dependency for canary release
  examples/basic-spa/package.json
  examples/basic/package.json
  examples/with-custom-babel-config/package.json
  examples/with-custom-devserver-options/package.json
  examples/with-custom-environment-variables/package.json
  examples/with-custom-webpack-config/package.json
  examples/with-elm/package.json
  examples/with-firebase-functions/package.json
  examples/with-heroku/package.json
  examples/with-hyperapp/package.json
  examples/with-inferno/package.json
  examples/with-jest-snapshots/package.json
  examples/with-jsconfig-paths/package.json
  examples/with-jsxstyle/package.json
  examples/with-koa/package.json
  examples/with-loadable-components/package.json
  examples/with-material-ui/package.json
  examples/with-mdx/package.json
  examples/with-now-v2/package.json
  examples/with-now/package.json
  examples/with-polka/package.json
  examples/with-preact/package.json
  examples/with-promise-config/package.json
  examples/with-rax/package.json
  examples/with-react-loadable/package.json
  examples/with-react-native-web/package.json
  examples/with-react-router/package.json
  examples/with-reason-react/package.json
  examples/with-redux/package.json
  examples/with-scss-options/package.json
  examples/with-scss/package.json
  examples/with-single-exposed-port/package.json
  examples/with-styled-components/package.json
  examples/with-typescript/package.json
  examples/with-vendor-bundle/package.json
  examples/with-vue-router/package.json
  examples/with-vue/package.json
Labels: examples

fix(razzle): no need for Promise.resolve here
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

chore: run lint on source
  README.md
  packages/babel-preset-razzle/README.md
  packages/create-razzle-app/lib/index.js
  packages/create-razzle-app/lib/utils/copy-dir.js
  packages/create-razzle-app/lib/utils/install.js
  packages/create-razzle-app/lib/utils/load-example.js
  packages/create-razzle-app/lib/utils/load-git-example.js
  packages/create-razzle-app/lib/utils/load-github-example.js
  packages/create-razzle-app/lib/utils/load-npm-example.js
  packages/razzle-dev-utils/FriendlyErrorsPlugin.js
  packages/razzle-dev-utils/README.md
  packages/razzle-dev-utils/printErrors.js
  packages/razzle-dev-utils/setPorts.js
  packages/razzle-plugin-less/README.md
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-mdx/README.md
  packages/razzle-plugin-scss/README.md
  packages/razzle-plugin-scss/index.js
  packages/razzle-plugin-typescript/tests/index.test.js
  packages/razzle/README.md
  packages/razzle/config/createConfig.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/createJestConfig.js
  packages/razzle/config/createRazzleTestConfig.js
  packages/razzle/config/loadPlugins.js
  packages/razzle/config/modules.js
  packages/razzle/config/razzleDevServer.js
  packages/razzle/scripts/start.js
Labels: razzle, webpack, plugins, repo

docs: use just one razzle readme
  README.md
  packages/razzle/README.md
  scripts/build-docs.js
Labels: razzle, webpack, repo

fix: add changes missed in merge
  packages/razzle/bin/razzle.js
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix: another missed merge
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

feat: change prerender to export and use a convention instead of options for zeroconf
  examples/with-react-router/package.json
  examples/with-react-router/src/server.js
  examples/with-react-router/src/static_export.js
  packages/razzle/bin/razzle.js
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/paths.js
  packages/razzle/scripts/export.js
Labels: examples, razzle, webpack

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
