Repository jaredpalmer/razzle, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, razzle, webpack, plugins, repo

docs: document externals and css imports
  website/pages/getting-started.mdx
Labels: none

docs: add back lost line
  website/pages/getting-started.mdx
Labels: none

fix: fix release workflow
  .github/workflows/release.yml
Labels: none

v3.4.2
  lerna.json
  packages/babel-preset-razzle/package.json
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-plugin-css/package.json
  packages/razzle-plugin-elm/package.json
  packages/razzle-plugin-eslint/package.json
  packages/razzle-plugin-inferno/package.json
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-mdx/package.json
  packages/razzle-plugin-php/package.json
  packages/razzle-plugin-preact/package.json
  packages/razzle-plugin-react/package.json
  packages/razzle-plugin-scss/package.json
  packages/razzle-plugin-typescript/package.json
  packages/razzle-plugin-vue/package.json
  packages/razzle/package.json
Labels: razzle, webpack, plugins, repo

docs: remove comment
  website/pages/getting-started.mdx
Labels: none

dev-infra: improve dev scripts
  scripts/build-docs.js
  scripts/update-examples.js
Labels: none

dev-infra: add three to release script
  .github/workflows/release.yml
Labels: none

dev-infra: comment failing test
  test/tests/create-razzle-app.test.js
Labels: none

dev-infra: update dev release scripts
  package.json
  scripts/publish-all.js
Labels: repo

dev-infra: update lockfile
  yarn.lock
Labels: repo

dev-infra: update three release workflow
  .github/workflows/release.yml
Labels: none

dev-infra: release workflow, 3.x is not latest
  .github/workflows/release.yml
Labels: none

dev-infra: try fixing release workflow
  .github/workflows/release.yml
Labels: none

dev-infra: fix release workflow
  .github/workflows/release.yml
Labels: none

docs: fix stable docs
  .github/CONTRIBUTING.md
  packages/razzle/README.md
  scripts/build-docs.js
  scripts/internalPeerDependencyVersions.json
  website/pages/getting-started.mdx
Labels: razzle, webpack

docs: remove stray line
  website/pages/getting-started.mdx
Labels: none

dev-infra: check for latest
  test/examples/isomorphic-examples.test.js
Labels: none

docs: document possible buildtypes
  website/pages/docs/customization.md
Labels: none

feat(razzle): add dexportConfig for running jest in webstorm etc.
  packages/razzle/config/jest/exportConfig.js
Labels: razzle, webpack

fix(razzle): add missing dep in default cra
  packages/create-razzle-app/templates/default/package.json
Labels: none

Tweak docs
  website/pages/index.mdx
Labels: none

Update features.js
  website/components/features.js
Labels: none

Update README.md
  packages/razzle/README.md
Labels: razzle, webpack

docs: fix url in with-typescript-plugin readme
  packages/razzle-plugin-typescript/README.md
Labels: plugins

docs: fix spa template
  website/pages/docs/single-page-applications.md
Labels: none

fix(razzle): webpackConfig undefined
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

fix(razzle): only print signal handling on verbose
  packages/razzle/scripts/start.js
Labels: razzle, webpack

fix(razzle): webpackConfig undefined
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

feat(razzle): support separate build ts/jsconfig
  packages/razzle/config/modules.js
  packages/razzle/config/paths.js
Labels: razzle, webpack

docs: link to razzle 3 docs
  website/pages/index.mdx
Labels: none

docs: add upgrade instruction
  website/pages/docs/upgrade-guide.md
Labels: none

docs: update common issues
  website/pages/getting-started.mdx
Labels: none

fix(razzle): use paths.appAssetsManifest in ManifestPlugin
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

examples: fix postcss deps
  examples/with-less/package.json
  examples/with-scss-options/package.json
  examples/with-scss/package.json
Labels: examples

examples: add esbuild-loader example
  examples/with-esbuild-loader/.eslintrc.js
  examples/with-esbuild-loader/.gitignore
  examples/with-esbuild-loader/README.md
  examples/with-esbuild-loader/package.json
  examples/with-esbuild-loader/public/favicon.ico
  examples/with-esbuild-loader/public/robots.txt
  examples/with-esbuild-loader/razzle.config.js
  examples/with-esbuild-loader/src/App.css
  examples/with-esbuild-loader/src/App.test.tsx
  examples/with-esbuild-loader/src/App.tsx
  examples/with-esbuild-loader/src/Home.css
  examples/with-esbuild-loader/src/Home.tsx
  examples/with-esbuild-loader/src/client.tsx
  examples/with-esbuild-loader/src/index.ts
  examples/with-esbuild-loader/src/react.svg
  examples/with-esbuild-loader/src/server.tsx
  examples/with-esbuild-loader/tsconfig.json
  examples/with-esbuild-loader/typings/index.d.ts
Labels: examples

chore: fix 'Welcome to Razzles' typo
  examples/with-esbuild-loader/src/Home.tsx
  examples/with-typeorm-graphql/src/Home.tsx
  examples/with-typescript-plugin/src/Home.tsx
  examples/with-typescript/src/Home.tsx
Labels: examples

chore: run update-examples
  examples/with-esbuild-loader/README.md
  examples/with-esbuild-loader/package.json
  examples/with-less/package.json
  examples/with-scss-options/package.json
  examples/with-scss/package.json
  examples/with-typescript-plugin/README.md
Labels: examples

Update typos in getting-started
  website/pages/getting-started.mdx
Labels: none

feat(razzle): add option to disableWebpackbar
  packages/razzle/config/createConfigAsync.js
  packages/razzle/config/defaultOptions.js
  website/pages/docs/customization.md
Labels: razzle, webpack

fix(razzle): disableWebpackbar logic
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

.github/labeler.yml:

examples:
  - examples/*
  - examples/**/*

razzle: 
  - packages/razzle/*
  - packages/razzle/**/*

webpack: 
  - packages/razzle/*
  - packages/razzle/**/*

plugins: 
  - packages/razzle-plugin-*/*
  - packages/razzle-plugin-*/**/*

repo:
  - ./*
