Repository jaredpalmer/razzle, pull requests merged in 2020-12, with the labels that each got.

#1479 Fix error running with-typescript example
  examples/with-typescript/src/index.ts
Labels: examples

#1494 Adds missing localIdentName configuration in the createConfigAsync.js…
  packages/razzle/config/createConfigAsync.js
Labels: razzle, webpack

#1476 Use Dart sass instead of deprecated node-sass
  packages/razzle-plugin-scss/package.json
Labels: plugins
