Repository jaredpalmer/razzle, pull requests merged in 2020-04, with the labels that each got.

#1210 Update Dependecies to lasted versions
  package.json
  packages/create-razzle-app/lib/utils/load-example.js
  packages/create-razzle-app/package.json
  packages/razzle-dev-utils/package.json
  packages/razzle-dev-utils/webpackHotDevClient.js
  packages/razzle-plugin-eslint/package.json
  packages/razzle/config/createConfig.js
  packages/razzle/package.json
  yarn.lock
Labels: dependencies

#1218 Fix windows tests in Github Action and Circle CI
  .github/workflows/nodejs.yml
  examples/with-reason-react/package.json
  test/jest.config.json
  test/tests/razzle-start.test.js
Labels: ci/cd, enhancement

#1199 Fix razzle so it detects sockJs options by resourcequery or url
  examples/with-custom-devserver-options/.gitignore
  examples/with-custom-devserver-options/README.md
  examples/with-custom-devserver-options/package.json
  examples/with-custom-devserver-options/public/favicon.ico
  examples/with-custom-devserver-options/public/robots.txt
  examples/with-custom-devserver-options/razzle.config.js
  examples/with-custom-devserver-options/src/App.js
  examples/with-custom-devserver-options/src/client.js
  examples/with-custom-devserver-options/src/index.js
  examples/with-custom-devserver-options/src/server.js
  packages/razzle-dev-utils/package.json
  packages/razzle-dev-utils/webpackHotDevClient.js
  packages/razzle/config/createConfig.js
  packages/razzle/package.json
  packages/razzle/scripts/start.js
  test/tests/razzle-start.test.js
  yarn.lock
Labels: enhancement, examples

#1150 razzle-plugin-less implemented and tested by copying razzle-plugin-scss
  examples/with-less/.gitignore
  examples/with-less/README.md
  examples/with-less/package.json
  examples/with-less/public/favicon.ico
  examples/with-less/public/robots.txt
  examples/with-less/razzle.config.js
  examples/with-less/src/App.js
  examples/with-less/src/App.less
  examples/with-less/src/App.test.js
  examples/with-less/src/client.js
  examples/with-less/src/index.js
  examples/with-less/src/other.less
  examples/with-less/src/server.js
  packages/razzle-plugin-less/.eslintrc
  packages/razzle-plugin-less/README.md
  packages/razzle-plugin-less/helpers.js
  packages/razzle-plugin-less/index.js
  packages/razzle-plugin-less/package.json
  packages/razzle-plugin-less/tests/index.test.js
  yarn.lock
Labels: enhancement, plugins

#1266 Add support for postcss.config.js
  packages/razzle/README.md
  packages/razzle/config/createConfig.js
Labels: plugins
