Repository jaredpalmer/razzle, pull requests merged in 2020-03, with the labels that each got.

#1178 Chunks plugin
  README.md
  packages/razzle-dev-utils/FriendlyErrorsPlugin.js
  packages/razzle/config/createConfig.js
  packages/razzle/config/env.js
  packages/razzle/config/paths.js
  packages/razzle/package.json
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
  test/tests/razzle-build.test.js
  yarn.lock
Labels: stale

#1105 Disable LimitChunkCountPlugin for node in dev mode
  packages/razzle/config/createConfig.js
Labels: stale

#1108 Pass environment information to modifyBabelOptions
  packages/razzle/config/createConfig.js
Labels: stale

#1167 Fix vue-router error + SSR 404
  examples/with-vue-router/src/server.js
Labels: examples

#1080 Added handling for user specified --watchAll
  packages/razzle/scripts/test.js
Labels: stale

#1052 Add support for variable expansion in .env files
  README.md
  packages/razzle/config/env.js
  packages/razzle/package.json
  yarn.lock
Labels: enhancement, webpack-config

#1037 Load .js files before .jsx files
  packages/razzle/config/createConfig.js
Labels: stale

#948 fix: remove invalid option for `MiniCssExtractPlugin`
  packages/razzle/config/createConfig.js
Labels: webpack-config

#953 Add moduleDirectories jest parameter
  packages/razzle/config/createJestConfig.js
Labels: webpack-config

#885 [v3] Client-only mode
  README.md
  examples/basic-spa/.gitignore
  examples/basic-spa/README.md
  examples/basic-spa/package.json
  examples/basic-spa/public/favicon.ico
  examples/basic-spa/public/index.html
  examples/basic-spa/public/robots.txt
  examples/basic-spa/src/App.css
  examples/basic-spa/src/App.js
  examples/basic-spa/src/App.test.js
  examples/basic-spa/src/client.js
  examples/with-heroku/razzle.config.js
  examples/with-material-ui/src/App.js
  examples/with-material-ui/src/server.js
  examples/with-react-native-web/src/server.js
  package.json
  packages/razzle-dev-utils/WebpackConfigHelpers.js
  packages/razzle-dev-utils/webpackHotDevClient.js
  packages/razzle-plugin-scss/index.js
  packages/razzle/README.md
  packages/razzle/bin/razzle.js
  packages/razzle/config/createConfig.js
  packages/razzle/config/paths.js
  packages/razzle/package.json
  packages/razzle/scripts/build.js
  packages/razzle/scripts/start.js
  test/fixtures/build-default-spa/package.json
  test/fixtures/build-default-spa/public/index.html
  test/fixtures/build-default-spa/public/nothing.txt
  test/fixtures/build-default-spa/src/client.css
  test/fixtures/build-default-spa/src/client.js
  test/fixtures/build-default-spa/src/logo.png
  test/tests/razzle-build.test.js
  test/tests/razzle-start-spa.test.js
  yarn.lock
Labels: enhancement
