Repository jaredpalmer/razzle, pull requests merged in 2020-07, with the labels that each got.

#1352 [Feature] save chunk id in to the chunks.json
  packages/razzle/config/createConfig.js
Labels: Afterjs, razzle

#1354 [fix] Wrong HTML attributes on <Search />
  website/.nextra/search.js
Labels: Docs

#1360 fix: updated spa example with working env var
  examples/basic-spa/public/index.html
Labels: examples
